
body {
	margin-left: 0px;
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 20px;
	background-color: #989ea2;
	background-position: left top;
	background-repeat: repeat-x;
	background-image: url(/images/main_bg.png);
}

#button01 {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background-color:#ededed;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
	border:1px solid #adaaad;
	display:inline-block;
	color:#5e5c5e;
	font-family:kalpurush;
	font-size:18px;
	font-weight:bold;
	font-style:normal;
	height:30px;
	line-height:30px;
	width:125px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
}#button01:hover {
	background-color:#dfdfdf;
}#button01:active {
	position:relative;
	top:1px;
}

#button02 {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background-color:#ededed;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
	border:1px solid #adaaad;
	display:inline-block;
	color:#5e5c5e;
	font-family:kalpurush;
	font-size:18px;
	font-weight:bold;
	font-style:normal;
	height:30px;
	line-height:30px;
	width:200px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
}#button02:hover {
	background-color:#dfdfdf;
}#button02:active {
	position:relative;
	top:1px;
}

.button200 {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background-color:#ededed;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
	border:1px solid #adaaad;
	display:inline-block;
	color:#5e5c5e;
	font-family:kalpurush;
	font-size:18px;
	font-weight:bold;
	font-style:normal;
	height:30px;
	line-height:30px;
	width:200px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
}.button200:hover {
	background-color:#dfdfdf;
}.button200:active {
	position:relative;
	top:1px;
}

fieldset {
	display: block;
	margin-left: 2px;
	margin-right: 2px;
	
	border: 3px solid #A29D9E;
	border-radius: 4px;
}

.main-top {
	font-family: kalpurush;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	background-image: url(../images/main_02.png);
	background-repeat: repeat-x;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.main-button {
	font-family: kalpurush;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	background-image: url(../images/main_08.png);
	background-repeat: repeat-x;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.main-left {
	font-family: kalpurush;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	background-image: url(../images/main_04.png);
	background-repeat: repeat-y;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.main-right {
	font-family: kalpurush;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	background-image: url(../images/main_06.png);
	background-repeat: repeat-y;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.bdr01 {
	font-family: kalpurush;
	font-size: 12px;
	color: #323A89;
	text-decoration: none;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #89AED8;
	border-right-color: #89AED8;
	border-bottom-color: #89AED8;
	border-left-color: #89AED8;
	font-weight: bold;
}
.bdr01-A {
	font-family: kalpurush;
	font-size: 12px;
	color: #323A89;
	text-decoration: none;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #89AED8;
	border-right-color: #89AED8;
	border-bottom-color: #89AED8;
	border-left-color: #89AED8;
	font-weight: normal;
}
.bdr01-B {
	font-family: kalpurush;
	font-size: 12px;
	color: #000;
	text-decoration: none;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #89AED8;
	border-right-color: #89AED8;
	border-bottom-color: #89AED8;
	border-left-color: #89AED8;
	font-weight: normal;
}

.bdr-toplink {
	font-family: kalpurush;
	font-size: 12px;
	color: #39F;
	text-decoration: none;
	border: 1px solid #025A8A;
	font-weight: normal;
	border-radius: 4px;
}

.bdr-body {
	font-family: kalpurush;
	font-size: 12px;
	color: #323A89;
	text-decoration: none;
	font-weight: normal;
}
.gap01 {
	font-family: kalpurush;
	font-size: 6px;
	color: #000000;
	text-decoration: none;
}
.black10 {
	font-family: kalpurush;
	font-size: 10px;
	color: #000000;
	text-decoration: none;
	font-weight: normal;
}
.black10bold {
	font-family: kalpurush;
	font-size: 10px;
	color: #000000;
	text-decoration: none;
	font-weight: bold;
}
.black10i {
	font-family: kalpurush;
	font-size: 10px;
	color: #000000;
	text-decoration: none;
	font-weight: normal;
	font-style: italic;
}

.black11 {
	font-family: kalpurush;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	font-weight: normal;
}
.black11bold {
	font-family: kalpurush;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	font-weight: bold;
}


.black11i {
	font-family: kalpurush;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	font-style: italic;
	font-weight: normal;
}

.black12 {
	font-family: kalpurush;
	font-size: 25px;
	color: #000000;
	text-decoration: none;
	font-weight: normal;
}
.GrayBlue12 {
	font-family: kalpurush;
	font-size: 18px;
	color: #323A89;
	text-decoration: none;
	font-weight: bold;
}
.OffWhite12b {
	font-family: kalpurush;
	font-size: 20px;
	color: #E7E7E7;
	text-decoration: none;
	font-weight: bold;
}
.cyan11 {
	font-family: kalpurush;
	font-size: 11px;
	color: #39F;
	text-decoration: none;
}
.gray11 {
	font-family: kalpurush;
	font-size: 11px;
	color: #5A6572;
	text-decoration: none;
}

.GrayBlue14b {
	font-family: kalpurush;
	font-size: 20px;
	color: #024D75;
	text-decoration: none;
	font-weight: bold;
	text-align: center;
	float: center;
}
.GrayBlue20bold {
	font-family: kalpurush;
	font-size: 45px;
	color: #024D75;
	text-decoration: none;
	font-weight: bold;
}

.add-disable {
	font-family: kalpurush;
	font-size: 11px;
	color: #333;
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
}


.black12bold {
	font-family: kalpurush;
	font-size: 25px;
	color: #000000;
	text-decoration: none;
	font-weight: bold;
}
.black14 {
	font-family: kalpurush;
	font-size: 14px;
	color: #000000;
	text-decoration: none;
}
.black14bold {
	font-family: kalpurush;
	font-size: 14px;
	color: #000000;
	text-decoration: none;
	font-weight: bold;
}
.black20b {
	font-family: kalpurush;
	font-size: 20px;
	color: #000000;
	text-decoration: none;
	font-weight: bold;
}
.red12 {
	font-family: kalpurush;
	font-size: 12px;
	color: #F00;
	text-decoration: none;
}
.red11 {
	font-family: kalpurush;
	font-size: 11px;
	color: #F00;
	text-decoration: none;
	font-weight: normal;
}

.red12bold {
	font-family: kalpurush;
	font-size: 12px;
	color: #F00;
	text-decoration: none;
	font-weight: bold;
}
.Field_Titel {
	font-family: kalpurush;
	font-size: 16px;
	color: #000000;
	text-decoration: none;
}
.subField_Name {
	font-family: kalpurush;
	font-size: 14px;
	color: #000000;
	text-decoration: none;
	font-weight: bold;
}
.Field_Name {
	font-family: kalpurush;
	font-size: 14px;
	color: #000000;
	text-decoration: none;
}
.mainlink {
	font-family: kalpurush;
	font-size: 12px;
	color: #0000FF;
	text-decoration: none;
	font-weight: bold;

}
.mainlink:hover {
	font-family: kalpurush;
	font-size: 12px;
	color: #FF0000;
	text-decoration: none;
	font-weight: bold;
}
.link-home {
	font-family: kalpurush;
	font-size: 20spx;
	color: rgb(255, 82, 51);
	text-decoration: none;
	font-weight: bold;

}
.link-home:hover {
	font-family: kalpurush;
	font-size: 20px;
	color: #09F;
	text-decoration: none;
	font-weight: bold;
}
.link01 {
	font-family: kalpurush;
	font-size: 14px;
	color: #0000FF;
	text-decoration: none;
	font-weight: bold;

}
.link01:hover {
	font-family: kalpurush;
	font-size: 14px;
	color: #FF0000;
	text-decoration: none;
	font-weight: bold;
}
.link02 {
	font-family: kalpurush;
	font-size: 11px;
	color: #3CF;
	text-decoration: none;
	font-weight: normal;

}
.link02:hover {
	font-family: kalpurush;
	font-size: 11px;
	color: #09F;
	text-decoration: none;
	font-weight: normal;
}
.link03 {
	font-family: kalpurush;
	font-size: 12px;
	color: #0000FF;
	text-decoration: none;
	font-weight: normal;

}
.link03:hover {
	font-family: kalpurush;
	font-size: 12px;
	color: #FF0000;
	text-decoration: none;
	font-weight: normal;
}
.optip {
	font-family: kalpurush;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	font-weight: normal;
}
.optip:hover {
	font-family: kalpurush;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	font-weight: normal;
}
.field-100 {
	font-family: kalpurush;
	font-size: 12px;
	color: #323A89;
	text-decoration: none;
	background-color: #E0E6F8;
	border: 1px solid #89AED8;
	font-weight: normal;
	width: 315px;
	padding-top: 4px;
	padding-right: 4px;
	padding-left: 4px;
	padding-bottom: 4px;
	border-radius: 4px;
}
.field-flex {
	font-family: kalpurush;
	font-size: 12px;
	color: #323A89;
	text-decoration: none;
	background-color: #E0E6F8;
	border: 1px solid #89AED8;
	font-weight: normal;
	width: 100%;
	padding-top: 4px;
	padding-right: 4px;
	padding-left: 4px;
	padding-bottom: 4px;
	border-radius: 4px;
}
.field-sl {
	font-family: kalpurush;
	font-size: 12px;
	color: #323A89;
	text-decoration: none;
	background-color: #89AED8;
	border: 1px solid #89AED8;
	font-weight: normal;
	width: 40px;
	padding: 2px;
}


.field-E {
	font-family: kalpurush;
	font-size: 12px;
	color: #323A89;
	text-decoration: none;
	background-color: #E0E6F8;
	border: 1px solid #89AED8;
	font-weight: normal;
	width: 150px;
	padding-top: 4px;
	padding-right: 4px;
	padding-left: 4px;
	padding-bottom: 4px;
	border-radius: 4px;
}
.field-Em {
	font-family: kalpurush;
	font-size: 12px;
	color: #323A89;
	text-decoration: none;
	background-color: #E0E6F8;
	border: 1px solid #89AED8;
	font-weight: normal;
	width: 120px;
	padding-top: 4px;
	padding-right: 4px;
	padding-left: 4px;
	padding-bottom: 4px;
	border-radius: 4px;
}
.field-G {
	font-family: kalpurush;
	font-size: 12px;
	color: #323A89;
	text-decoration: none;
	background-color: #E0E6F8;
	border: 1px solid #89AED8;
	font-weight: normal;
	width: 60px;
	padding-top: 4px;
	padding-right: 4px;
	padding-left: 4px;
	padding-bottom: 4px;
	border-radius: 4px;
}


#s_name {
	font-family: kalpurush;
	font-size: 12px;
	color: #323A89;
	text-decoration: none;
	background-color: #E0E6F8;
	border: 1px solid #89AED8;
	font-weight: normal;
	width: 200px;
	padding-top: 4px;
	padding-right: 4px;
	padding-left: 4px;
	padding-bottom: 4px;
	border-radius: 4px;
}
#nid_no {
	font-family: kalpurush;
	font-size: 12px;
	color: #323A89;
	text-decoration: none;
	background-color: #E0E6F8;
	border: 1px solid #89AED8;
	font-weight: normal;
	width: 200px;
	padding-top: 4px;
	padding-right: 4px;
	padding-left: 4px;
	padding-bottom: 4px;
	border-radius: 4px;
}
.field-dropdown-L {
	font-family: kalpurush;
	font-size: 12px;
	color: #323A89;
	text-decoration: none;
	background-color: #E0E6F8;
	border: 1px solid #89AED8;
	font-weight: normal;
	width: 320px;
	padding-top: 4px;
	padding-right: 4px;
	padding-left: 4px;
	padding-bottom: 4px;
	border-radius: 4px;
}

.field-dropdown-M {
	font-family: kalpurush;
	font-size: 12px;
	color: #323A89;
	text-decoration: none;
	background-color: #E0E6F8;
	border: 1px solid #89AED8;
	font-weight: normal;
	width: 104px;
	padding-top: 4px;
	padding-right: 4px;
	padding-left: 4px;
	padding-bottom: 4px;
	border-radius: 4px;
}
.field-dropdown-E {
	font-family: kalpurush;
	font-size: 12px;
	color: #323A89;
	text-decoration: none;
	background-color: #E0E6F8;
	border: 1px solid #89AED8;
	font-weight: normal;
	width: 155px;
	padding-top: 4px;
	padding-right: 4px;
	padding-left: 4px;
	padding-bottom: 4px;
	border-radius: 4px;
}

.field-vcode {
	font-family: kalpurush;
	font-size: 22px;
	color: #36F;
	text-decoration: none;
	background-color: #E0E6FE;
	border: 1px solid #8AA8FF;
	font-weight: bold;
	width: 250px;
	padding-top: 4px;
	padding-right: 4px;
	padding-left: 4px;
	padding-bottom: 4px;
	border-radius: 4px;
}
.topbg {
	font-family: kalpurush;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	background-image: url(../images/topbgimg.jpg);
}
.errmsg {
	font-family: kalpurush;
	font-size: 14px;
	color: #FFF;
	text-decoration: none;
	font-weight: bold;
	padding: 5px;
	background-color: #D20000;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #FFF;
	border-right-color: #FFF;
	border-bottom-color: #FFF;
	border-left-color: #FFF;
}
.cutterbg {
	font-family: kalpurush;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	background-image: url(../images/cutter_line.jpg);
}
.pbreak {
	font-family: kalpurush;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	font-weight: bold;
	page-break-before: always;
}
@media(max-width:767px){

	.bdr-body {
		font-family: kalpurush;
		font-size: 12px;
		color: #323A89;
		text-decoration: none;
		font-weight: normal;
	}
	
}