{% extends 'basepage/ictparkbd_layout.html' %}

{% block content %}
{% load static %}
<style>
    .main_body{
        width:100%;
        height:100%;
        color:red;
    }
    @media(max-width:767px){
        .main_body{
            width:100%;
            height:700px;
            color:red;
            background-color:green;
        }   
    }
</style>

<!-- CONTAINER -->
<div class="services" id="service_body">
  
  <div data-v-6f04a53f="" class="memberRegistration py-5">
    <div class="container-wrapper">
      <div class="row justify-content-md-center">
        <div class="col col-lg-10">
          <div class="card login-body shadow-lg rounded-10 py-5">
            <table width="100%" border="1" cellspacing="0" cellpadding="10">
              <thead><th colspan="5" style="height: 40px; background-color: #035a4c; color: #fff;padding: 15px;font-size:20px;text-align:center;">( {{certificate.certificate_type.name}} এর আবেদনের তথ্য )  </th></thead>
              <tbody>
              </tbody>
            </table>
                <div class="card-body">

                <span class="bubbleNew"><img src="{%static 'images/ictpark_monogram.png'%}" class="rounded-circle"  /></span>

                <span class="shape"><img align="center"  src="{% static 'images\ictparkbd_logo.jpg' %}"><img align="center" style="height:60%;margin-top:10%;rotate: -50deg;" src="{{ union_details.logo.url}}"></span> 
                {%if email %}
            
            <div class="alert alert-danger" role="alert">
              <strong>{{email}}</strong> 
            </div>
            
            {% endif %}
            {%if phone %}
            
            <div class="alert alert-danger" role="alert">
              <strong>{{phone}}</strong> 
            </div>
            
            {% endif %} 
            
            {%if password %}
            
            <div class="alert alert-danger" role="alert">
              <strong>{{password}}</strong> 
            </div>
            
            {% endif %}
            
            {%if success %}
            
            <div class="alert alert-success" role="alert">
              <strong>{{success}}</strong> 
            </div>
            
            {% endif %}
            
            <form  action="{% url 'submit_form' %}" method="post" enctype="multipart/form-data" target="_blank">
              {% csrf_token %}
                  <div id="qbox-container">
                          <div id="steps-container">
                              <div class="step d-block" >
                                
                                {% if certificate.language == '2' %}

                                <div><h4 style="text-align: center;"><u> Collect and Remember  Tracking No. ({{certificate.tracking_no}}) for the application of  </u></h4></div>
                                <div><h3 style="text-align: center;">( {{certificate.certificate_type.name_en}} ) </h3></div>
      
                                <table  width="900" border="0" align="center" valign="middle" cellspacing="0" cellpadding="0">
      
                                  <tbody>
                                  <tr>
                                    <td align="left">
                                      <fieldset>
                                      <table width="100%" border="1" cellspacing="0" cellpadding="2">
                                        <thead style="height: 25px; background-color: #035a4c; color: #fff;padding: 15px"><th colspan="5" style="height: 25px; background-color: #035a4c; color: #fff;padding: 15px;"> Certificate Informations</th></thead>
                                        <tbody>
                                        
      
                                          <tr>
                                              <td width="25%" align="right" valign="middle" class="sprytextfield1">Certificate Tracking No: </td>
                                              <td width="75%" align="left" valign="middle"><span id="sprytextfield1">
                                                <label>
                                                  <input value="{{certificate.tracking_no}}" name="tracking_no" type="text" class="form-control form-control-sm">                                       
                                                </label>
                                              </span></td>
      
                                            </tr>
      
                                            <tr>
                                              <td width="25%" align="right" valign="middle" class="sprytextfield1">Name:  </td>
                                              <td width="75%" align="left" valign="middle"><span id="sprytextfield1">
                                                <label>
                                                  {{certificate.name}}                                        
                                                </label>
                                              </span></td>
      
                                            </tr>
                                            <tr>
                                              <td width="25%" align="left" valign="middle" class="sprytextfield1">Father's Name:  </td>
                                              <td width="75%" align="left" valign="middle"><span id="sprytextfield1">
                                                <label>
                                                  {{certificate.father_name}}                                        
                                                </label>
                                              </span></td>
      
                                            </tr>
                                            <tr>
                                              <td width="25%" align="left" valign="middle" class="sprytextfield1">Mother's Name : </td>
                                              <td width="75%" align="left" valign="middle"><span id="sprytextfield1">
                                                <label>
                                                  {{certificate.mother_name}}                                        
                                                </label>
                                                </span></td>
      
                                            </tr>
                                            
                                            <tr>
                                              <td width="25%" align="left" valign="middle" class="sprytextfield1">Village:  </td>
                                              <td width="75%" align="left" valign="middle"><span id="sprytextfield1">
                                                <label>
                                                 
                                                  {{certificate.adress.village.name_en}}                                        

                                                </label>
                                               </span></td>
      
                                            </tr>
                                            <tr>
                                              <td width="25%" align="left" valign="middle" class="sprytextfield1">Ward:   </td>
                                              <td width="75%" align="left" valign="middle"><span id="sprytextfield1">
                                                <label>
                                                  
                                                 
                                                  {{certificate.adress.village.ward.name_en}}                                        

                                                    
                                                </label>
                                                </span></td>
      
                                            </tr>
      
                                            <tr>
                                              <td width="25%" align="left" valign="middle" class="sprytextfield1"> </td>
                                              <td width="75%" align="left" valign="middle"><span id="sprytextfield1">
                                                <label>
                                                  Upazilla: Akkelpur, District: Jaypurhat, Bangladesh                                          
                                                </label>
                                                </span></td>
      
                                            </tr>
					    <tr>
                                              <td colspan="2" width="100%" align="left" valign="middle"><span id="sprytextfield1">                                                <label>
                                                  Online Fee : 10 BDT                                                </label>
                                                </span></td>
      
                                            </tr>                                          
                                        
          
                                      </tbody></table>
                                    </fieldset>
                                  </td>
                                  
                                </tr>
                                    
                                </tbody>
                              </table>
                                

                                {% else %}
                                <div><h4 style="text-align: center;"><u>ট্র্যাকিং নম্বর ({{certificate.tracking_no}}) সংগ্রহে রাখুন </u></h4></div>
                                <div><h3 style="text-align: center;">( {{certificate.certificate_type.name}} এর আবেদন ) </h3></div>
      
                                <table  width="900" border="0" align="center" valign="middle" cellspacing="0" cellpadding="0">
      
                                  <tbody>
                                  <tr>
                                    <td align="left">
                                      <fieldset>
                                      <table width="100%" border="1" cellspacing="0" cellpadding="2">
                                        <thead style="height: 25px; background-color: #035a4c; color: #fff;padding: 15px"><th colspan="5" style="height: 25px; background-color: #035a4c; color: #fff;padding: 15px;"> ব্যক্তিগত তথ্য</th></thead>
                                        <tbody>
                                        
      
                                          <tr>
                                              <td width="25%" align="right" valign="middle" class="sprytextfield1">সনদের ট্র্যাকিং নম্বরঃ </td>
                                              <td width="75%" align="left" valign="middle"><span id="sprytextfield1">
                                                <label>
                                                  <input value="{{certificate.tracking_no}}" name="tracking_no" type="text" class="form-control form-control-sm">                                       
                                                </label>
                                              </span></td>
      
                                            </tr>
      
                                            <tr>
                                              <td width="25%" align="right" valign="middle" class="sprytextfield1">নামঃ </td>
                                              <td width="75%" align="left" valign="middle"><span id="sprytextfield1">
                                                <label>
                                                  {{certificate.name}}                                        
                                                </label>
                                              </span></td>
      
                                            </tr>
                                            <tr>
                                              <td width="25%" align="left" valign="middle" class="sprytextfield1">পিতার নামঃ </td>
                                              <td width="75%" align="left" valign="middle"><span id="sprytextfield1">
                                                <label>
                                                  {{certificate.father_name}}                                        
                                                </label>
                                              </span></td>
      
                                            </tr>
                                            <tr>
                                              <td width="25%" align="left" valign="middle" class="sprytextfield1">মাতার নামঃ </td>
                                              <td width="75%" align="left" valign="middle"><span id="sprytextfield1">
                                                <label>
                                                  {{certificate.mother_name}}                                        
                                                </label>
                                                </span></td>
      
                                            </tr>
                                            
                                            <tr>
                                              <td width="25%" align="left" valign="middle" class="sprytextfield1">গ্রামঃ </td>
                                              <td width="75%" align="left" valign="middle"><span id="sprytextfield1">
                                                <label>
                                                 
                                                  {{certificate.adress.village.name}}                                        

                                                </label>
                                               </span></td>
      
                                            </tr>
                                            <tr>
                                              <td width="25%" align="left" valign="middle" class="sprytextfield1">ওয়ার্ডঃ  </td>
                                              <td width="75%" align="left" valign="middle"><span id="sprytextfield1">
                                                <label>
                                                  
                                                 
                                                  {{certificate.adress.village.ward.name}}                                        

                                                    
                                                </label>
                                                </span></td>
      
                                            </tr>
      
                                            <tr>
                                              <td width="25%" align="left" valign="middle" class="sprytextfield1"> </td>
                                              <td width="75%" align="left" valign="middle"><span id="sprytextfield1">
                                                <label>
                                                  উপজেলাঃ আক্কেলপুর, জেলাঃ জয়পুরহাট                                          
                                                </label>
                                                </span></td>
      
                                            </tr>
                                          <tr>
                                              <td colspan="2" width="100%" align="left" valign="middle"><span id="sprytextfield1">
                                                <label>
                                                  অনলাইন ফি :  ১০ টাকা
                                                </label>
                                                </span></td>
      
                                            </tr>
                                        
          
                                      </tbody></table>
                                    </fieldset>
                                  </td>
                                  
                                </tr>
                                    
                                </tbody>
                              </table>
                                
                                {% endif %}
                                  
                                
                                    
      
                              </div>
                          
                      </div>
                      <div class="col-sm-12 form-group">
                        <div class="row">
                          <div class="custom-control custom-checkbox">
                            <div class="col-form-label-sm font-weight-bold mb-0 custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" value="true" id="__BVID__164" required /><label class="custom-control-label" for="__BVID__164">
                                {% if certificate.language == '2' %}
                                I agreed with terms and conditions and to pay charges
                                {% else %}
                                উপরের সকল তথ্য সঠিক এবং অনলাইন চার্জ প্রদান করতে সম্মত আছি
                                {% endif %}
                              </label>
                            </div> <div class="invalid-feedback"></div>
                          </div>
                        </div>
                      </div> 
                      <div class="col-sm-9 form-group">
                        <p class="text-right">
                          <br>
                          
                          {% if certificate.language == '2' %}
                          <button type="submit" class="btn btn-danger text-white"><span>Submit</span></button>

                          {% else %}
                          <button type="submit" class="btn btn-danger text-white"><span>সাবমিট</span></button>

                          {% endif %}
                            
                        </p>
                      </div>  
                  </div>
                  
                </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




{% endblock  %}
