{% extends 'basepage/ictparkbd_layout.html' %}

{% block content %}
{% load static %}
<style>
    .main_body{
        width:100%;
        height:100%;
        color:red;
    }
    option{
      color:#035a4c;
      font-weight:bold;
      font-size:17px;
    }
    option:hover:after{
      background-color:#035a4c;
      font-weight:bold;
    }
    @media(max-width:767px){
        .main_body{
            width:100%;
            height:700px;
            color:red;
            background-color:green;
        }   
    }
</style>
<div class="services">
  <div><h2 style="text-align: center;color: #035a4c ;text-shadow: 2px 2px 2px rgb(65, 7, 7);"><u>              
    {% if  request.resolver_match.url_name in 'check_certificate_form' %}
    আপনার সনদটি যাচাই করুন    
    {% else %}
    আপনার সনদটি ডাউনলোড করুন
    {% endif %}
</u></h2></div>
  
  <div data-v-6f04a53f="" class="memberRegistration py-5">
    <div class="container-wrapper">
      <div class="row justify-content-md-center">
        <div class="col col-lg-10">
          <div class="card login-body shadow-lg rounded-10 py-5">
            <table width="100%" border="1" cellspacing="0" cellpadding="10">
              <thead><th colspan="5" style="height: 40px; background-color: #035a4c; color: #fff;padding: 15px;font-size:20px;text-align:center;"> 
              {% if  request.resolver_match.url_name in 'check_certificate_form' %}
                সনদ যাচাই ফর্ম
              {% else %}
                 সনদ ডাউনলোড ফর্ম 
              {% endif %}
              </th></thead>

              {% if message %}
              <thead style="height: 25px; background-color: #245b80; color: #fff;padding: 15px"><th colspan="5" style="height: 40px; background-color:rgb(168, 8, 8); color: #fff;padding: 15px;"> {{message}} </th></thead>
              {% endif %}
              {% if certificate.comment %}
              <thead style="height: 25px; background-color: #245b80; color: #fff;padding: 15px"><th colspan="5" style="height: 40px; background-color:rgb(243, 8, 8); color: #fff;padding: 15px;"> {{certificate.comment}} </th></thead>
              {% endif %}
              <tbody>
              </tbody>
            </table>
                <div class="card-body">

                <span class="bubbleNew"><img src="{%static 'images/ictpark_monogram.png'%}" class="rounded-circle" style="width: 200px;height: 200px;" /></span>

                <span class="shape"><img align="center" src="{% static 'images\ictparkbd_logo.jpg' %}"><img align="center" style="height:60%;margin-top:10%;rotate: -50deg;" src="{% static 'images\tilokpur_logo.png' %}"></span> 
                {%if email %}
            
            <div class="alert alert-danger" role="alert">
              <strong>{{email}}</strong> 
            </div>
            
            {% endif %}
            {%if phone %}
            
            <div class="alert alert-danger" role="alert">
              <strong>{{phone}}</strong> 
            </div>
            
            {% endif %} 
            
            {%if password %}
            
            <div class="alert alert-danger" role="alert">
              <strong>{{password}}</strong> 
            </div>
            
            {% endif %}
            
            {%if success %}
            
            <div class="alert alert-success" role="alert">
              <strong>{{success}}</strong> 
            </div>
            
            {% endif %}
            
            <form autocomplete="off" id="form" class="form-row px-3" method="post" action="">
               {% csrf_token %}
                            <div class="col-sm-8 form-group" style="margin:auto;">
                              <div class="row">
                                <div class="col-sm-10" >
                                  <label for="" class="col-form-label-sm m-0" style="font-size:20px;">{{form.tracking_no.label}}</label> 
                                  <div class="loginBox">
                                            {{form.tracking_no}}     
                                            <span class="fa fa-universal-access"></span>
                                   
                                  </div> <!--  --> <div class="invalid-feedback"></div>
                                </div>
                              </div>
                            </div>
                            <div class="col-sm-8 form-group" style="margin:auto;">
                              <div class="row">
                                <div class="col-sm-10" >
                                  <label for="" class="col-form-label-sm m-0" style="font-size:20px;">{{form.certificate_type.label}}</label> 
                                  <div class="loginBox">
                                            {{form.certificate_type}}     
                                            <span class="fa fa-certificate"></span>
                                   
                                  </div> <!--  --> <div class="invalid-feedback"></div>
                                </div>
                              </div>
                            </div>
                          </div>

                
              
              
             
              <div class="col-sm-9 form-group">
                <p class="text-right">
                  <button type="submit" class="btn btn-danger text-white"><span>সাবমিট</span></button>
                </p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- CONTAINER -->


 
{% endblock  %}
