{% extends 'basepage/ictparkbd_layout.html' %}

{% block content %}
{% load static %}

<style>
    .main_body{
        width:100%;
        height:100%;
        color:red;
    }
    @media(max-width:767px){
        .main_body{
            width:100%;
            height:700px;
            color:red;
            background-color:green;
        }   
    }
</style>
<div class="services">
  <div><h3 style="text-align: center;"><u>আপনার প্রয়োজনীয় সনদ বাছাই করুন</u></h3></div>
  
  <div data-v-6f04a53f="" class="memberRegistration py-5">
    <div class="container-wrapper">
      <div class="row justify-content-md-center">
        <div class="col col-lg-10">
          <div class="card login-body shadow-lg rounded-10 py-5">
            <table width="100%" border="1" cellspacing="0" cellpadding="10">
              <thead><th colspan="5" style="height: 40px; background-color: #035a4c; color: #fff;padding: 15px;font-size:20px;text-align:center;"> সনদ বাছাই ফর্ম </th></thead>
              <tbody>
              </tbody>
            </table>
                <div class="card-body">


                <span class="shape"><img align="center" src="{% static 'images\ictparkbd_logo.jpg' %}"><img align="center" style="height:60%;margin-top:10%;rotate: -50deg;" src="{% static 'images\tilokpur_logo.png' %}"></span> 
                {%if email %}
            
            <div class="alert alert-danger" role="alert">
              <strong>{{email}}</strong> 
            </div>
            
            {% endif %}
            {%if phone %}
            
            <div class="alert alert-danger" role="alert">
              <strong>{{phone}}</strong> 
            </div>
            
            {% endif %} 
            
            {%if password %}
            
            <div class="alert alert-danger" role="alert">
              <strong>{{password}}</strong> 
            </div>
            
            {% endif %}
            
            {%if success %}
            
            <div class="alert alert-success" role="alert">
              <strong>{{success}}</strong> 
            </div>
            
            {% endif %}
            
            <form autocomplete="off" id="form" class="form-row px-3" method="post" action="">
               {% csrf_token %}
               {% for field in form %}
                          {{ field.errors }}
                            <div class="col-sm-8 form-group" style="margin:auto;">
                              <div class="row">
                                <div class="col-sm-10" >
                                  <label for="" class="col-form-label-sm m-0" style="font-size:20px;">{{field.label}}</label> 
                                  <div class="loginBox">
                                            {{field}}     
                                            <span class="fa fa-certificate"></span>
                                   
                                  </div> <!--  --> <div class="invalid-feedback"></div>
                                </div>
                              </div>
                            </div>
                            <div style="margin-left: -110%;margin-top: 20%;position: relative;width: 100%;" class="dropdown1">
                              <div id="mydropdownSelect2" class="dropdown1-content">
                                <div class="form-field3 d-flex align-items-center">
                                  <div class="loginBox">
                                    <span class="fas fa-search"></span>
                                    <input type="text" placeholder="সার্চ করুন.." id="myInputSelect2" onkeyup="filterFunctionSelect2()" />
                                  </div>
                                </div>
                    
                                <div class="form-field4 d-flex align-items-center">
                                  <option style="width: 100%;text-align: center" id="2022-23" onclick="myFunctionclickSelect2(this.id)">2022-23</option>
                                </div>
                                <div class="form-field4 d-flex align-items-center">
                                  <option style="width: 100%;text-align: center" id="2023-24" onclick="myFunctionclickSelect2(this.id)">2023-24</option>
                                </div>
                                <div class="form-field4 d-flex align-items-center">
                                  <option style="width: 100%;text-align: center" id="2024-25" onclick="myFunctionclickSelect2(this.id)">2024-25</option>
                                </div>
                                <div class="form-field4 d-flex align-items-center">
                                  <option style="width: 100%;text-align: center" id="2025-26" onclick="myFunctionclickSelect2(this.id)">2025-26</option>
                                </div>
                              </div>
                            </div>
                          </div>

                    {% endfor %}
                
              
              
             
              <div class="col-sm-9 form-group">
                <p class="text-right">
                  <button type="submit" class="btn btn-danger text-white"><span>সাবমিট</span></button>
                </p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





<script>
    let birdForm = document.querySelectorAll(".bird-form")
    let container = document.querySelector("#form-container")
    let addButton = document.querySelector("#add-form")
    let removeButton = document.querySelector("#remove-form")
    let totalForms = document.querySelector("#id_form-TOTAL_FORMS")

    let formNum = birdForm.length-1
    addButton.addEventListener('click', addForm)
    removeButton.addEventListener('click', removeForm)

    function addForm(e){
        e.preventDefault()

        let newForm = birdForm[0].cloneNode(true)
        let formRegex = RegExp(`form-(\\d){1}-`,'g')

        formNum++
        newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`)
        container.insertBefore(newForm, addButton)
        
        
        totalForms.setAttribute('value', `${formNum+1}`)
    } 
    function removeForm(id){
      let formDel=document.getElementById(id)
      del=formDel.parentNode
      del=del.parentNode
      del=del.parentNode
      del=del.parentNode
      del=del.parentNode.remove()


      
      
    }
    {% comment %} function removeForm(e){
      e.preventDefault()

      let birdForm2 = document.querySelectorAll(".bird-form")
      let formNum2 = birdForm2.length-1
      birdForm2[formNum2].parentNode.removeChild(birdForm2[formNum2]);
      
  }          {% endcomment %}
          
    window.onload = (event) => {
let compulsory_subject_initialized=document.getElementsByClassName('selector-available');
let filter_compusory=document.getElementById('id_compulsory_subject_filter_selected');
let remove_compusory=document.getElementById('id_compulsory_subject_remove_all_link');

let selector_chooser=document.getElementsByClassName('selector-chooser');


compulsory_subject_initialized[0].style.display='none';
selector_chooser[0].style.display='none';

filter_compusory.style.display='none';
remove_compusory.style.display='none';

z= compulsory_subject_initialized.getElementsByTagName("option");
for (i = 0; i < z.length; i++) {

z[i].setAttribute('disabled','true','readonly','true');

}

alert(compulsory_subject_initialized.length);
};




const progress = (value) => {
document.getElementsByClassName('progress-bar')[0].style.width = `${value}%`;
}

let step = document.getElementsByClassName('step');
let prevBtn = document.getElementById('prev-btn');
let nextBtn = document.getElementById('next-btn');
let submitBtn = document.getElementById('submit-btn');
let form = document.getElementsByTagName('form')[0];
let preloader = document.getElementById('preloader-wrapper');
let bodyElement = document.querySelector('body');
let succcessDiv = document.getElementById('success');
let downloadDiv = document.getElementById('downlod_form_id');

let addChoiceBtn=document.getElementsByName('id_fourth_subject');

form.onsubmit = () => { return false }

let current_step = 0;
let stepCount = 4
step[current_step].classList.add('d-block');
if(current_step == 0){
prevBtn.classList.add('d-none');
submitBtn.classList.add('d-none');
nextBtn.classList.add('d-inline-block');
}


nextBtn.addEventListener('click', () => {
var x, y, i, valid = true;
var options=document.getElementById('id_compulsory_subject_to').getElementsByTagName('option');
for(i=0;i<options.length ;i++){
options[i].selected = 'selected';
}
document.getElementById('id_compulsory_subject_to').disabled='disabled';


//document.getElementById('toast-container').style.visibility ='hidden';
current_step++;
let previous_step = current_step - 1;
let flag=validateForm();
if(( current_step > 0) && (current_step <= stepCount) && flag){
prevBtn.classList.remove('d-none');
prevBtn.classList.add('d-inline-block');
step[current_step].classList.remove('d-none');
step[current_step].classList.add('d-block');
step[previous_step].classList.remove('d-block');
step[previous_step].classList.add('d-none');
if (current_step == stepCount){
submitBtn.classList.remove('d-none');
submitBtn.classList.add('d-inline-block');
nextBtn.classList.remove('d-inline-block');
nextBtn.classList.add('d-none');
}
} else {
if(current_step > stepCount){
  form.onsubmit = () => { return true }
}
}
progress((100 / stepCount) * current_step);
function validateForm() {
// This function deals with validation of the form fields
if(current_step==4 ){


if(document.getElementById('id_fourth_subject').value==''){
valid= false;
}
/* var select=document.getElementsByName('compulsory_subject');
var compulsory_subject=select[1];
if(compulsory_subject.length<6){
  valid= false;
}*/




}

x = document.getElementsByClassName("step d-block");
//alert(current_step);

y = x[0].getElementsByTagName("input");
z= x[0].getElementsByTagName("select");

for (i = 0; i < y.length; i++) {
// If a field is empty...
//alert(y[i]+y[i].required);
//alert(y[i].getAttribute('id')+": "+y[i].hasAttribute('required'));

if (y[i].value == '' && y[i].hasAttribute('required') ) {


  y[i].className='textfieldUSERinfoInvalid';

valid = false;

}
}

for (i = 0; i < z.length; i++) {
// If a field is empty...

if (z[i].value == '' && z[i].hasAttribute('required') ) {
  //alert(z[i].getAttribute('id')+": "+z[i].hasAttribute('required'));

 if(z[i].className=='textfieldUSER')
   z[i].className='textfieldUSERInvalid';
else
  z[i].className='textfieldUSERinfoInvalid';
  
 valid = false;

}
}
//alert("valid:"+valid);
if(!valid){
current_step--;
var x = document.getElementById("toast-container");

// Add the "show" class to DIV
x.className = "show";

// After 3 seconds, remove the show class from DIV
setTimeout(function(){ x.className = x.className.replace("show", ""); }, 11000);
/*var x = document.getElementById("toast-container");
         x.className = "toast-top-center";
         x.style.visibility="vissible"

         setTimeout(function(){ 
             x.className = x.className.replace("toast-top-center","");
            
             
          }, 8000);*/
          

}
return valid; // return the valid status
}



});



prevBtn.addEventListener('click', () => {
if(current_step > 0){
current_step--;
let previous_step = current_step + 1; 
prevBtn.classList.add('d-none');
prevBtn.classList.add('d-inline-block');
step[current_step].classList.remove('d-none');
step[current_step].classList.add('d-block')
step[previous_step].classList.remove('d-block');
step[previous_step].classList.add('d-none');
if(current_step < stepCount){
 submitBtn.classList.remove('d-inline-block');
 submitBtn.classList.add('d-none');
 nextBtn.classList.remove('d-none');
 nextBtn.classList.add('d-inline-block');
 prevBtn.classList.remove('d-none');
 prevBtn.classList.add('d-inline-block');
} 
}

if(current_step == 0){
prevBtn.classList.remove('d-inline-block');
prevBtn.classList.add('d-none');
}
progress((100 / stepCount) * current_step);
});



function fourthSubject(id){

if(current_step==3){
var compulsory_subject=document.getElementById('id_optional_subject_from');
var selected_item = document.getElementById('id_fourth_subject');
if(compulsory_subject.length==1){
selected_item.value=compulsory_subject[0].value;
alert(selected_item.value);

return false;
}






}

}
function subjectChoice(id){
alert("subjectChoice");

}
addChoiceBtn.addEventListener('change', () => {
alert("subjectChoice");
});

</script>
<script>
$(document).ready(function () {
  
    $('#add_more').click(function() {
        alert("hello");
        cloneMore('div.table:last', 'service');
    });
  $('#submit-btn').on('click', function () {
    var subjectCount=0;
    var compulsory_options;
    var options;
    compulsory_options=document.getElementById('id_compulsory_subject_to').getElementsByTagName('option');
    subjectCount=compulsory_options.length;
    document.getElementById('id_compulsory_subject_to').disabled='';
    try{
    options=document.getElementById('id_optional_subject_to').getElementsByTagName('option');
    var selected_4rth = document.getElementById('id_fourth_subject');
    var flag_submit=0;
    alert(selected_4rth.value);
    for(i=0;i<options.length ;i++){
      subjectCount++;
      if(options[i].value==selected_4rth.value){
        flag_submit=1;
        break;

      }
    options[i].selected = 'selected';
   }
    if(subjectCount<6 || flag_submit==1){
      alert("Choose All 7 Subject and do not repeat twice ");
      return false;
    }
    
    }catch(err){

    }
  //preloader.classList.add('d-block');
  var frm = $('#form-wrapper')[0];
  var form= new FormData(frm);
  var form1=document.getElementById('form-wrapper');
  form1.submit();
  
  });
////////////////////Submit for admission form download/////////////////////

 

});
</script>
 
{% endblock  %}
