{% extends 'basepage/ictparkbd_layout.html' %}

{% block content %}
{% load static %}

<style>
    .main_body{
        width:100%;
        height:100%;
        color:red;
    }
    .formset{
      width:70%;
      margin-left:15%;
      margin-bottom:30px;
    }
    @media(max-width:767px){
      .formset{
        width:100%;
        margin-left:0%;
        margin-bottom:30px;
      }
        .main_body{
            width:100%;
            height:700px;
            color:red;
            background-color:green;
        }   
    }
    button:hover {
      background-color: #4e090c;    
      }
</style>
<div class="services">
  <div><h3 style="text-align: center;text-shadow: 2px 2px 2px rgb(11, 73, 55);color:rgb(238, 103, 103);"><u>{{certificate_type.name}} ফর্ম</u></h3></div>
  
  <div data-v-6f04a53f="" class="memberRegistration py-5">

    <div class="container-wrapper">
      <div class="row justify-content-md-center">
        <div class="col col-lg-10">
          <div class="card login-body shadow-lg rounded-10 py-5">
            <div class="col-sm-12 form-group" >

            <table width="100%" border="1" cellspacing="0" cellpadding="10">
              <thead><th colspan="5" style="height: 30px; background-color: #035a4c; color: #fff;text-shadow: 10px 10px 10px rgb(73, 25, 11);padding: 15px;font-size:23px;text-align:center;">  ব্যক্তিগত তথ্য                                   
                {% if certificate_type.id == 2 or  certificate_type.id == 4 %}
               &nbsp<h5>(সনদটি ইংরেজিতে চাইলে নাম, বাবার নাম ও মায়ের নাম ইংরেজিতে পুরণ করুন ও ভাষা ইংরেজি সিলেক্ট করুন)  </h5>                                
               {% endif %}</th></thead>
              <tbody>
              </tbody>
            </table>
          </div>
                <div class="card-body">


            <span class="shape"><img align="center" loading="lazy" src="{% static 'images\ictparkbd_logo.jpg' %}"><img align="center" loading="lazy" style="height:60%;margin-top:10%;rotate: -50deg;" src="{% static 'images\tilokpur_logo.png' %}"></span> 

             {%if email %}
            
            <div class="alert alert-danger" role="alert">
              <strong>{{email}}</strong> 
            </div>
            
            {% endif %}
            {%if phone %}
            
            <div class="alert alert-danger" role="alert">
              <strong>{{phone}}</strong> 
            </div>
            
            {% endif %} 
            
            {%if password %}
            
            <div class="alert alert-danger" role="alert">
              <strong>{{password}}</strong> 
            </div>
            
            {% endif %}
            
            {%if success %}
            
            <div class="alert alert-success" role="alert">
              <strong>{{success}}</strong> 
            </div>
            
            {% endif %}
            
            <form  id="form" class="form-row px-3" method="post" action="{% url 'certificate_form' %}" enctype="multipart/form-data">
              {% csrf_token %}
              {{form.media}}
              {% if certificate_type.id == 2 or certificate_type.id == 4 %}

              <div class="col-sm-12 form-group" >
                
                <div class="row" style="float:right;">
                    <label>
                      <br>{{form.language.label_tag}}&nbsp{{form.language}} &nbsp&nbsp                                       
                    </label>
                  
                </div>
              </div>
              {% endif %}
              
              <div class="col-sm-12 form-group">
                
                <div class="row">
                  
                  <div class="col-sm-6">
                    <label for="" class="col-form-label-sm m-0">আপনার নাম</label> 
                    <div class="loginBox">
                      {{form.name}}
                      <span class="fa fa-user"></span>
                    </div> <!--  --> <div class="invalid-feedback"></div>
                  </div>
                  <div class="col-sm-6">
                    <label for="" class="col-form-label-sm m-0">
                      মোবাইল (
                        <span class="text-danger">১১ ডিজিট</span>)
                    </label>
                    <div class="loginBox">
                      {% comment %} <input type="text" name="phone" id="id_phone" autocomplete="off" onfocus="this.placeholder = ''" onblur="this.placeholder = 'ie: member@mail.com'" placeholder="ie: member@mail.com" name="email" class="form-control form-control-sm" />  {% endcomment %}
                      {{form.phone}}
                      <span class="fa fa-phone"></span>
                    </div> <!--  --> <div class="invalid-feedback"></div>
                  </div> 
                  
                </div>
              </div>
              <div class="col-sm-12 form-group">
                <div class="row">
                  <div class="col-sm-6">
                    <label for="" class="col-form-label-sm m-0">{{form.email.label_tag}}</label> 
                    <div class="loginBox">
                      {{form.email}}
                      <span class="fa fa-envelope"></span>
                    </div> <!--  --> <div class="invalid-feedback"></div>
                  </div>
                  <div class="col-sm-6">
                    <label for="" class="col-form-label-sm m-0">
                      {{form.nid_file.label_tag}} 
                    </label>
                    <div class="loginBox">
                      {{form.nid}}
                      <span class="fa fa-id-card"></span>
                    </div> <!--  --> <div class="invalid-feedback"></div>
                  </div>
                </div>
              </div>
              
              <div class="col-sm-12 form-group">
                <div class="row">
                    <div class="col-sm-6">
                        <label for="" class="col-form-label-sm m-0">                      {{form.father_name.label_tag}} 
                        </label>
                         <div class="loginBox">
                          {{form.father_name}}
                          <span class="fa fa-user"></span>                        
                        </div> <!--  --> <div class="invalid-feedback"></div>
                      </div>
                      <div class="col-sm-6">
                        <label for="" class="col-form-label-sm m-0">                      {{form.mother_name.label_tag}} 
                        </label>
                         <div class="loginBox">
                          {{form.mother_name}}
                          <span class="fa fa-user"></span>                        
                        </div> <!--  --> <div class="invalid-feedback"></div>
                      </div>
                </div>
              </div>
              
              
              <div class="col-sm-12 form-group">
                <div class="row">
                  
                  {% if form.profession %}

                  <div class="col-sm-6">
                    <label for="" class="col-form-label-sm m-0">{{form.profession.label_tag}}</label> <div class="loginBox">
                      {{form.profession}}                      
                      <span class="fas fa-skating"></span>
                    </div> <!--  --> <div class="invalid-feedback"></div>
                  </div>

                  {% endif %}
                  {% if form.income %}
                  <div class="col-sm-6">
                    <label for="" class="col-form-label-sm m-0">{{form.income.label_tag}}</label> 
                    <div class="loginBox">
                      {{form.income}}
                      <i class="fa-solid fa-bangladeshi-taka-sign"></i>
                      <span class="fa fa-usd"></span>
                    </div> <!--  --> <div class="invalid-feedback"></div>
                  </div>
                  {% endif %}
                  {% if form.amount %}
                  <div class="col-sm-6">
                    <label for="" class="col-form-label-sm m-0">{{form.amount.label_tag}}</label> 
                    <div class="loginBox">
                      {{form.amount}}
                      <i class="fa-solid fa-bangladeshi-taka-sign"></i>
                      <span class="fa fa-square"></span>
                    </div> <!--  --> <div class="invalid-feedback"></div>
                  </div>
                  {% endif %}

                  {% if form.cause %}
                  <div class="col-sm-6">
                    <label for="" class="col-form-label-sm m-0">{{form.cause.label_tag}}</label> 
                    <div class="loginBox">
                      {{form.cause}}
                      <span class="fa fa-default"></span>
                    </div> <!--  --> <div class="invalid-feedback"></div>
                  </div>
                  {% endif %}
                  
                  {% if form.date %}

                  <div class="col-sm-4">
                    <label for="" class="col-form-label-sm m-0">{{form.certificate_type.label_tag}}</label> 
                    <div class="loginBox">
                      {{form.certificate_type}}                      
                      <span class="fa fa-certificate"></span>
                    </div> <!--  --> <div class="invalid-feedback"></div>
                  </div>
                  {% if form.dob %}

                  <div class="col-sm-4">
                    <label for="" class="col-form-label-sm m-0">{{form.dob.label_tag}}</label> <div class="loginBox">
                      {{form.dob}}                      
                      <span class="fa fa-birthday-cake"></span>
                    </div> <!--  --> <div class="invalid-feedback"></div>
                  </div>
                  {% endif %}

                  <div class="col-sm-4" style="float:right;">
                    <label for="" class="col-form-label-sm m-0">{{form.date.label_tag}}</label> <div class="loginBox">
                      {{form.date}}                      
                      <span class="fa fa-paw"></span>
                    </div> <!--  --> <div class="invalid-feedback"></div>
                  </div>
                  {% else %}
                  <div class="col-sm-6">
                    <label for="" class="col-form-label-sm m-0">{{form.certificate_type.label_tag}}</label> 
                    <div class="loginBox">
                      {{form.certificate_type}}                      
                      <span class="fa fa-certificate"></span>
                    </div> <!--  --> <div class="invalid-feedback"></div>
                  </div>
                  {% endif %}



                </div>  
              </div>

                 
                  
                  {% if form.description %}
                  <label for="" class="col-form-label-sm m-0">{{form.description.label_tag}}</label> 
                  <br>

                  {{form.description}}                      
                     

                  {% endif %}
                  


                 
              


              <table width="100%" border="1" cellspacing="0" cellpadding="10">
                <thead><th colspan="5" style="height: 25px; background-color: #035a4c; color: #fff;text-shadow: 5px 5px 5px rgb(73, 25, 11);padding: 15px;font-size:20px;text-align:center;">  ঠিকানা                                 
                  </th></thead>
                <tbody>
                </tbody>
              </table>
              <div class="col-sm-12 form-group">
                <div class="row">
                  <div class="col-sm-6">
                    <label for="" class="col-form-label-sm m-0">{{adress_form.ward.label_tag}}</label> <div class="loginBox">
                      {{adress_form.ward}}                      
                      <span class="fa fa-map-marker"></span>
                    </div> <!--  --> <div class="invalid-feedback"></div>
                  </div>

                  <div class="col-sm-6">
                    <label for="" class="col-form-label-sm m-0">{{adress_form.village.label_tag}}</label>
                     <div class="loginBox">
                      {{adress_form.village}}
                      <span class="fa fa-home"></span>
                    </div> <!--  --> <div class="invalid-feedback"></div>
                  </div>
                  {% comment %} <div class="col-sm-4">
                    <label for="" class="col-form-label-sm m-0">{{adress_form.post_office.label_tag}}</label>
                     <div class="loginBox">
                      {{adress_form.post_office}}
                      <span class="fa fa-home"></span>
                    </div> <!--  --> <div class="invalid-feedback"></div>
                  </div> {% endcomment %}
                </div>
              </div>
              
              {% if formset %}
              <fieldset class="formset">
              <table width="100%" border="1" cellspacing="0" cellpadding="3">
                <tr style="height: 25px; background-color: #035a4c; color: #fff;">
                  {% if certificate_type.id == 9 %}
                  <td colspan="5" style="height: 25px; background-color: #035a4c; color: #fff;text-shadow: 7px 7px 7px rgb(73, 25, 11);font-size:23px;padding: 15px;">অন্য নামসমূহ</td>
                  {% elif certificate_type.id == 15 %}
                  <td colspan="5" style="height: 25px; background-color: #035a4c; color: #fff;text-shadow: 7px 7px 7px rgb(73, 25, 11);font-size:23px;padding: 15px;">স্বামীর নাম</td>
                  {% else %}
                  <td colspan="5" style="height: 25px; background-color: #035a4c; color: #fff;text-shadow: 7px 7px 7px rgb(73, 25, 11);font-size:23px;padding: 15px;">ওয়ারিশগণ</td>
                  {% endif %}
                </tr>
                <tbody>
                  <tr>
                    <td colspan="5" align="center">

                      <div id="form-container">

                        {{formset.management_form}}

                        {% for form in formset %}
                        <div class="bird-form">
                          <table >
                            
                            {% if certificate_type.id == 9 %}
                            <tr>
                              <td>{{form.name.label_tag}} </td><td style="height: 40px;" rowspan="2"><button id="{{ form.prefix }}-row" style="font-size:25px;background-color:rgb(177, 41, 8); color: #fff;text-shadow: 3px 3px 3px rgb(73, 25, 11);float:right" type="button" onclick="removeForm( this.id )" > <i class="fa fa-trash-o" ></i></button></td>
                            </tr>
                            <tr>
                            <td>{{form.name}}</td>
                          </tr>
                          {% elif certificate_type.id == 15  %}
                          <tr>
                            <td>{{form.name.label_tag}} </td><td style="height: 40px;"></td>
                          </tr>
                          <tr>
                          <td>{{form.name}}</td>
                        </tr>
                            {% else %}
                            <tr>
                            <td colspan="10">{{form.name.label_tag}} </td><td  rowspan="4"><button id="{{ form.prefix }}-row" style="font-size:18px;background-color:rgb(177, 41, 8); color: #fff;text-shadow: 3px 3px 3px rgb(73, 25, 11);float:right" type="button" onclick="removeForm( this.id )" > <i class="fa fa-trash-o" ></i></button></td>
                            </tr>
                           <tr>
                            <td colspan="10">{{form.name}}</td>
                           </tr>
                          <tr>
                            <td colspan="5">{{form.relation.label_tag}}: </td>
                            <td colspan="5">{{form.comment.label_tag}}: </td>
                          </tr>
                          <tr>
                            <td colspan="5">{{form.relation}}</td>
                            <td colspan="5">{{form.comment}}</td>
                          </tr>
                          
                            {% endif %}
                              

                        </table>
                        <br>
                      </div>
                      
                        {% endfor %}
                        {% if certificate_type.id != 15  %}
                                                <button id="add-form" style="font-size:18px;background-color: #035a4c; color: #fff;text-shadow: 3px 3px 3px rgb(73, 25, 11);"  type="button">আরও যুক্ত করুন<i class="fa fa-plus" ></i></button>
                        {% endif %}

                      </div>
                  </td></tr>
                  
                    
              </tbody>
            </table>
          </fieldset>
                {% comment %} <table width="100%" border="1" cellspacing="0" cellpadding="3">
                  <tr style="height: 25px; background-color: #035a4c; color: #fff;">
                    {% if certificate_type.id == 9 %}
                    <td colspan="5" style="height: 25px; background-color: #035a4c; color: #fff;text-shadow: 7px 7px 7px rgb(73, 25, 11);font-size:23px;padding: 15px;">অন্য নামসমূহ</td>
                    {% else %}
                    <td colspan="5" style="height: 25px; background-color: #035a4c; color: #fff;text-shadow: 7px 7px 7px rgb(73, 25, 11);font-size:23px;padding: 15px;">ওয়ারিশগণ</td>
                    {% endif %}
                  </tr>
                  <tbody>
                    <tr>
                      <td colspan="5" align="center">

                        <div id="form-container">

                          {{formset.management_form}}

                          {% for form in formset %}
                          <div class="bird-form">
                            <table>
                              
                              {% if certificate_type.id == 9 %}
                              <tr>
                                <td>{{form.name.label_tag}} </td><td style="height: 40px;" rowspan="3"><button id="{{ form.prefix }}-row" style="font-size:25px;background-color:rgb(177, 41, 8); color: #fff;text-shadow: 3px 3px 3px rgb(73, 25, 11);float:right" type="button" onclick="removeForm( this.id )" > <i class="fa fa-trash-o" ></i></button></td>
                              </tr>
                              <tr>
                              <td>{{form.name}}</td>
                            </tr>
                              
                              {% else %}
                              <tr>
                              <td>{{form.name.label_tag}} </td><td>{{form.name}}</td><td rowspan="3"><button id="{{ form.prefix }}-row" style="font-size:18px;background-color:rgb(177, 41, 8); color: #fff;text-shadow: 3px 3px 3px rgb(73, 25, 11);float:right" type="button" onclick="removeForm( this.id )" > <i class="fa fa-trash-o" ></i></button></td></tr><tr><td>{{form.relation.label_tag}}: </td><td>{{form.relation}}</td></tr><tr><td>{{form.comment.label_tag}}: </td><td>{{form.comment}}</td>
                              </tr>
                              {% endif %}
                                

                          </table>
                          <br>
                        </div>
                        
                          {% endfor %}
                          <button id="add-form" style="font-size:18px;background-color: #035a4c; color: #fff;text-shadow: 3px 3px 3px rgb(73, 25, 11);"  type="button">আরও যুক্ত করুন<i class="fa fa-plus" ></i></button>


                        </div>
                    </td></tr>
                    
                      
                </tbody>
              </table> {% endcomment %}
              {% endif %}

              <fieldset style="margin:auto;">
                <table width="100%" border="1" cellspacing="" cellpadding="5" style="margin-right:10%;">
                  <tr><td colspan="4" style="height: 25px; background-color: #035a4c; color: #fff;text-shadow: 4px 4px 4px rgb(73, 25, 11);font-size:20px;padding: 15px;">মেম্বর সুপারিশ ফাইল ও এনআইডি</td></tr>
                  <tbody>
                    <tr>
                        <td width="10%" align="left" valign="middle">&nbsp;</td>
                        <td width="25%" align="left" valign="middle" class="black12">{{form.file.label_tag}}</td>
                        <td width="65%" align="left" valign="middle"><span id="sprytextfield1">
                          <label>
                            {{form.file}}                                        
                          </label>
                          
                        </span>
                      </td>
                        <td width="5%" align="left" valign="middle">&nbsp;</td>
                    </tr>
                    <tr>
                      <td width="10%" align="left" valign="middle">&nbsp;</td>
                      <td width="25%" align="left" valign="middle" class="black12">{{form.nid_file.label_tag}}</td>
                      <td width="65%" align="left" valign="middle"><span id="sprytextfield1">
                        <label>
                          {{form.nid_file}}                                        
                        </label>
                        </span></td>
                      <td width="5%" align="left" valign="middle">&nbsp;</td>
                  </tr>
                  
                </tbody>
              </table>
          
              </fieldset>
          
              <div class="col-sm-12 form-group">
                <div class="row">
                  <div class="custom-control custom-checkbox">
                    <div class="col-form-label-sm font-weight-bold mb-0 custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" value="true" id="__BVID__164" required /><label class="custom-control-label" for="__BVID__164">
                        উপরের সকল তথ্য সঠিক, কোনরূপ ভুল থাকলে কর্তৃপক্ষ দায়ী নয়
                      </label>
                    </div> <div class="invalid-feedback"></div>
                  </div>
                </div>
              </div> 
              {% comment %} <div class="col-sm-4 form-group mb-0">
                <button type="submit" class="btn btn-danger text-white"><span>সাবমিট</span></button>
              </div>  {% endcomment %}
              <div class="col-sm-9 form-group">
                <p class="text-right">
                  <button type="submit" class="rounded-50 ml-2" style="height: 40px; background-color: #035a4c; color: #fff;text-shadow: 4px 4px 4px rgb(73, 25, 11);font-size:20px;padding-left:8px;padding-right:8px;">সাবমিট করুন</button>
                </p>
              </div>
              
              
             
              
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <span class="bubbleNew"><img loading="lazy" src="{%static 'images/tilokpur_logo.png'%}" class="rounded-circle" style="width: 200px;height: 200px;" /></span>

</div>

<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>

<script>

  function unionAdress(id){
    
    var division=document.getElementById(id).value;
    url="{% url 'get_subordinations'%}";
    var $j = jQuery.noConflict();
    
      $.ajax({
      type: 'GET',
      url: "{% url 'get_subordinations' %}",
      cache:'false',  // Adjust the URL as per your project structure
      data: {id:id,'value':division},
     
     
      success: function (response) {
          //document.getElementById("student_form").reset();
          if (response.status === 'success') {
            if(id=='id_ward'){
            $("#id_village option").remove();
            $("#id_village").append('<option '+'value="0">'+ '-----------' +'</option>');
                  for (var i = response.village.length - 1; i >= 0; i--) {
                                $("#id_village").append('<option '+'value="'+response.village[i].id+'">'+response.village[i].name +'('+response.village[i].name_en+ ')' +'</option>');
                            }
              }
           
            
          } else {
           ///alert("Success message not found");
                  
              }
              
      },
      error: function (xhr, status, error) {
         
          var err = eval("(" + xhr.responseText + ")");
          alert(err.Message);
      }
  });

    
  } 

</script>

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>





<script>
    let birdForm = document.querySelectorAll(".bird-form")
    let container = document.querySelector("#form-container")
    let addButton = document.querySelector("#add-form")
    let removeButton = document.querySelector("#remove-form")
    let totalForms = document.querySelector("#id_form-TOTAL_FORMS")

    let formNum = birdForm.length-1
    addButton.addEventListener('click', addForm)
    removeButton.addEventListener('click', removeForm)

    function addForm(e){
        e.preventDefault()

        let newForm = birdForm[0].cloneNode(true)
        let formRegex = RegExp(`form-(\\d){1}-`,'g')

        formNum++
        newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`)
        container.insertBefore(newForm, addButton)
        
        
        totalForms.setAttribute('value', `${formNum+1}`)
    } 
    function removeForm(id){
      let formDel=document.getElementById(id)
      del=formDel.parentNode
      del=del.parentNode
      del=del.parentNode
      del=del.parentNode
      del=del.parentNode.remove()


      
      
    }
    {% comment %} function removeForm(e){
      e.preventDefault()

      let birdForm2 = document.querySelectorAll(".bird-form")
      let formNum2 = birdForm2.length-1
      birdForm2[formNum2].parentNode.removeChild(birdForm2[formNum2]);
      
  }          {% endcomment %}
          
    window.onload = (event) => {
let compulsory_subject_initialized=document.getElementsByClassName('selector-available');
let filter_compusory=document.getElementById('id_compulsory_subject_filter_selected');
let remove_compusory=document.getElementById('id_compulsory_subject_remove_all_link');

let selector_chooser=document.getElementsByClassName('selector-chooser');


compulsory_subject_initialized[0].style.display='none';
selector_chooser[0].style.display='none';

filter_compusory.style.display='none';
remove_compusory.style.display='none';

z= compulsory_subject_initialized.getElementsByTagName("option");
for (i = 0; i < z.length; i++) {

z[i].setAttribute('disabled','true','readonly','true');

}

alert(compulsory_subject_initialized.length);
};




const progress = (value) => {
document.getElementsByClassName('progress-bar')[0].style.width = `${value}%`;
}

let step = document.getElementsByClassName('step');
let prevBtn = document.getElementById('prev-btn');
let nextBtn = document.getElementById('next-btn');
let submitBtn = document.getElementById('submit-btn');
let form = document.getElementsByTagName('form')[0];
let preloader = document.getElementById('preloader-wrapper');
let bodyElement = document.querySelector('body');
let succcessDiv = document.getElementById('success');
let downloadDiv = document.getElementById('downlod_form_id');

let addChoiceBtn=document.getElementsByName('id_fourth_subject');

form.onsubmit = () => { return false }

let current_step = 0;
let stepCount = 4
step[current_step].classList.add('d-block');
if(current_step == 0){
prevBtn.classList.add('d-none');
submitBtn.classList.add('d-none');
nextBtn.classList.add('d-inline-block');
}


nextBtn.addEventListener('click', () => {
var x, y, i, valid = true;
var options=document.getElementById('id_compulsory_subject_to').getElementsByTagName('option');
for(i=0;i<options.length ;i++){
options[i].selected = 'selected';
}
document.getElementById('id_compulsory_subject_to').disabled='disabled';


//document.getElementById('toast-container').style.visibility ='hidden';
current_step++;
let previous_step = current_step - 1;
let flag=validateForm();
if(( current_step > 0) && (current_step <= stepCount) && flag){
prevBtn.classList.remove('d-none');
prevBtn.classList.add('d-inline-block');
step[current_step].classList.remove('d-none');
step[current_step].classList.add('d-block');
step[previous_step].classList.remove('d-block');
step[previous_step].classList.add('d-none');
if (current_step == stepCount){
submitBtn.classList.remove('d-none');
submitBtn.classList.add('d-inline-block');
nextBtn.classList.remove('d-inline-block');
nextBtn.classList.add('d-none');
}
} else {
if(current_step > stepCount){
  form.onsubmit = () => { return true }
}
}
progress((100 / stepCount) * current_step);
function validateForm() {
// This function deals with validation of the form fields
if(current_step==4 ){


if(document.getElementById('id_fourth_subject').value==''){
valid= false;
}
/* var select=document.getElementsByName('compulsory_subject');
var compulsory_subject=select[1];
if(compulsory_subject.length<6){
  valid= false;
}*/




}

x = document.getElementsByClassName("step d-block");
//alert(current_step);

y = x[0].getElementsByTagName("input");
z= x[0].getElementsByTagName("select");

for (i = 0; i < y.length; i++) {
// If a field is empty...
//alert(y[i]+y[i].required);
//alert(y[i].getAttribute('id')+": "+y[i].hasAttribute('required'));

if (y[i].value == '' && y[i].hasAttribute('required') ) {


  y[i].className='textfieldUSERinfoInvalid';

valid = false;

}
}

for (i = 0; i < z.length; i++) {
// If a field is empty...

if (z[i].value == '' && z[i].hasAttribute('required') ) {
  //alert(z[i].getAttribute('id')+": "+z[i].hasAttribute('required'));

 if(z[i].className=='textfieldUSER')
   z[i].className='textfieldUSERInvalid';
else
  z[i].className='textfieldUSERinfoInvalid';
  
 valid = false;

}
}
//alert("valid:"+valid);
if(!valid){
current_step--;
var x = document.getElementById("toast-container");

// Add the "show" class to DIV
x.className = "show";

// After 3 seconds, remove the show class from DIV
setTimeout(function(){ x.className = x.className.replace("show", ""); }, 11000);
/*var x = document.getElementById("toast-container");
         x.className = "toast-top-center";
         x.style.visibility="vissible"

         setTimeout(function(){ 
             x.className = x.className.replace("toast-top-center","");
            
             
          }, 8000);*/
          

}
return valid; // return the valid status
}



});



prevBtn.addEventListener('click', () => {
if(current_step > 0){
current_step--;
let previous_step = current_step + 1; 
prevBtn.classList.add('d-none');
prevBtn.classList.add('d-inline-block');
step[current_step].classList.remove('d-none');
step[current_step].classList.add('d-block')
step[previous_step].classList.remove('d-block');
step[previous_step].classList.add('d-none');
if(current_step < stepCount){
 submitBtn.classList.remove('d-inline-block');
 submitBtn.classList.add('d-none');
 nextBtn.classList.remove('d-none');
 nextBtn.classList.add('d-inline-block');
 prevBtn.classList.remove('d-none');
 prevBtn.classList.add('d-inline-block');
} 
}

if(current_step == 0){
prevBtn.classList.remove('d-inline-block');
prevBtn.classList.add('d-none');
}
progress((100 / stepCount) * current_step);
});



function fourthSubject(id){

if(current_step==3){
var compulsory_subject=document.getElementById('id_optional_subject_from');
var selected_item = document.getElementById('id_fourth_subject');
if(compulsory_subject.length==1){
selected_item.value=compulsory_subject[0].value;
alert(selected_item.value);

return false;
}






}

}
function subjectChoice(id){
alert("subjectChoice");

}
addChoiceBtn.addEventListener('change', () => {
alert("subjectChoice");
});

</script>
<script>
$(document).ready(function () {
  
    $('#add_more').click(function() {
        alert("hello");
        cloneMore('div.table:last', 'service');
    });
  $('#submit-btn').on('click', function () {
    var subjectCount=0;
    var compulsory_options;
    var options;
    compulsory_options=document.getElementById('id_compulsory_subject_to').getElementsByTagName('option');
    subjectCount=compulsory_options.length;
    document.getElementById('id_compulsory_subject_to').disabled='';
    try{
    options=document.getElementById('id_optional_subject_to').getElementsByTagName('option');
    var selected_4rth = document.getElementById('id_fourth_subject');
    var flag_submit=0;
    alert(selected_4rth.value);
    for(i=0;i<options.length ;i++){
      subjectCount++;
      if(options[i].value==selected_4rth.value){
        flag_submit=1;
        break;

      }
    options[i].selected = 'selected';
   }
    if(subjectCount<6 || flag_submit==1){
      alert("Choose All 7 Subject and do not repeat twice ");
      return false;
    }
    
    }catch(err){

    }
  //preloader.classList.add('d-block');
  var frm = $('#form-wrapper')[0];
  var form= new FormData(frm);
  var form1=document.getElementById('form-wrapper');
  form1.submit();
  
  });
////////////////////Submit for admission form download/////////////////////

 

});
</script>
 
{% endblock  %}
