{% extends 'basepage/basepage.html' %}

{% block content %}
{% load static %}
<style>
    .main_body{
        width:100%;
        height:100%;
        color:red;
    }
    @media(max-width:767px){
        .main_body{
            width:100%;
            height:700px;
            color:red;
            background-color:green;
        }   
    }
</style>

<!-- CONTAINER -->
<div class="box_container" style="width: 100%; margin: 0px;">
    <div class="" style="margin: auto;width: 100%;">
        <!-- TITLE 
        <div class="col-lg-4 offset-lg-1 mx-0 px-0">
            <div id="title-container">
                <img class="covid-image" src="./img/covid-check.png">
                <h2>COVID-19</h2>
                <h3>Self Checker Form</h3>
                <p>A clinical assessment multi-step form that will assist individuals on deciding when to seek testing or medical care if they suspect they or someone they know has contracted COVID-19 or has come into close contact with someone who has COVID-19</p>
            </div>
        </div>-->
        <!-- FORMS -->
        <div >
  <form class="needs-validation" action="{% url 'certificate_form' %}" id="form-wrapper" method="post" name="form-wrapper"  enctype="multipart/form-data">
        {% csrf_token %}
            <div id="qbox-container">
                    <div id="steps-container">
                        <div class="step d-block">
                          <div><h1 style="text-align: center;"><u>{{certificate_type.name}} ফর্ম</u></h1></div>

                          <table width="900" border="0" align="center" valign="middle" cellspacing="0" cellpadding="0">

                            <tbody>
                            <tr>
                              
                              <td align="left">
                                <fieldset>
                                <table width="100%" border="1" cellspacing="0" cellpadding="2">
                                  <thead style="height: 25px; background-color: #035a4c; color: #fff;padding: 15px"><th colspan="5" style="height: 25px; background-color: #035a4c; color: #fff;padding: 15px;">
                                     ব্যক্তিগত তথ্য                                   
                                     {% if certificate_type.serial == 1 %}
                                    &nbsp(সনদটি ইংরেজিতে চাইলে নাম, বাবার নাম ও মায়ের নাম ইংরেজিতে পুরণ করুন ও ভাষা ইংরেজি সিলেক্ট করুন)                                  
                                    {% endif %}
                                  </th></thead>
                                  
                                  <tbody>
                                    <tr>
                                      <td width="10%" align="left" valign="middle">&nbsp;</td>
                                        <td width="15%" align="left" valign="middle" class="black12"></td>
                                        <td width="75%" align="right" valign="middle"><span id="sprytextfield1" style="margin:50px;">
                                          <label>
                                            <br>{{form.language.label_tag}}&nbsp{{form.language}} &nbsp&nbsp                                       
                                          </label>
                                          <span class="textfieldRequiredMsg">User ID is required!</span></span></td>

                                    </tr>   
                                  {% for field in form %}
                                  {{ field.errors }}
                                  {% if field.name != 'file' and field.name != 'nid_file' and field.name != 'language'  %}
                                    
                                    <tr>
                                        <td width="10%" align="left" valign="middle">&nbsp;</td>
                                        <td width="15%" align="left" valign="middle" class="black12">{{field.label_tag}}</td>
                                        <td width="75%" align="left" valign="middle">
                                          <label>
                                            {{field}}                                        
                                          </label>
                                          </td>

                                      </tr>
                                      {% endif %}

                                    {% endfor %}
                                    
                                      
                                  
    
                                </tbody></table>
                              </fieldset>
                            </td>
                            
                          </tr>
                              
                          </tbody>
                        </table>

                        <fieldset>
                             
                                  <table width="100%" border="1" valign="middle" align="center" cellspacing="0" cellpadding="5">
                                    <thead style="height: 25px; background-color: #035a4c; color: #fff;padding: 15px;"><th colspan="5" style="height: 25px; background-color: #035a4c; color: #fff;padding: 15px;"> ঠিকানা</th></thead>
                                    <tbody>
                                      {% for field in adress_form %}
                                      <tr>
                                          <td width="10%" align="left" valign="middle">&nbsp;</td>
                                          <td width="15%" align="left" valign="middle" class="black12">{{field.label_tag}}</td>
                                          <td width="75%" align="left" valign="middle"><span id="sprytextfield1">
                                            <label>
                                              {{field}}                                        
                                            </label>
                                            <span class="textfieldRequiredMsg">User ID is required!</span></span></td>
                                          <td width="5%" align="left" valign="middle">&nbsp;</td>
                                      </tr>
                                      {% endfor %}
                                      
                                  </tbody>
                                </table>
                              </fieldset>

                              {% if formset %}

                              <fieldset>
                                <table width="100%" border="1" cellspacing="0" cellpadding="3">
                                  <thead style="height: 25px; background-color: #035a4c; color: #fff;">
                                    <th colspan="5" style="height: 25px; background-color: #035a4c; color: #fff;padding: 15px;">ওয়ারিশগণ</th>
                                  </thead>
                                  <tbody>
                                    <tr><td colspan="5" align="center">

                                        <div id="form-container">

                                          {{formset.management_form}}

                                          {% for form in formset %}
                                          <div class="bird-form">
                                            <table >
                                            <tr>
                                              <td>{{form.name.label_tag}} </td><td>{{form.name}}</td><td rowspan="3"><button id="{{ form.prefix }}-row" style="font-size:18px;color:red;float:right" type="button" onclick="removeForm( this.id )" > <i class="fa fa-trash-o" ></i></button></td></tr><tr><td>{{form.relation.label_tag}}: </td><td>{{form.relation}}</td></tr><tr><td>{{form.comment.label_tag}}: </td><td>{{form.comment}}</td></tr>
                                          </table>
                                          <br>
                                        </div>
                                        
                                          {% endfor %}
                                          <button id="add-form" style="font-size:18px;color:green;"  type="button">আরও যুক্ত করুন<i class="fa fa-plus" ></i></button>
   

                                        </div>
                                    </td></tr>
                                    
                                      
                                </tbody></table>
                              </fieldset>
                             {% endif %}
                              <fieldset>
                                <table width="100%" border="1" cellspacing="" cellpadding="5">
                                  <thead style="height: 25px; background-color: #245b80; color: #fff;padding: 15px;"><th colspan="5" style="height: 25px; background-color: #035a4c; color: #fff;padding: 15px;">মেম্বর সুপারিশ ফাইল ও এনআইডি</th></thead>
                                  <tbody>
                                    <tr>
                                        <td width="10%" align="left" valign="middle">&nbsp;</td>
                                        <td width="25%" align="left" valign="middle" class="black12">{{form.file.label_tag}}</td>
                                        <td width="65%" align="left" valign="middle"><span id="sprytextfield1">
                                          <label>
                                            {{form.file}}                                        
                                          </label>
                                          <span class="textfieldRequiredMsg">User ID is required!</span></span></td>
                                        <td width="5%" align="left" valign="middle">&nbsp;</td>
                                    </tr>
                                    <tr>
                                      <td width="10%" align="left" valign="middle">&nbsp;</td>
                                      <td width="25%" align="left" valign="middle" class="black12">{{form.nid_file.label_tag}}</td>
                                      <td width="65%" align="left" valign="middle"><span id="sprytextfield1">
                                        <label>
                                          {{form.nid_file}}                                        
                                        </label>
                                        <span class="textfieldRequiredMsg">User ID is required!</span></span></td>
                                      <td width="5%" align="left" valign="middle">&nbsp;</td>
                                  </tr>
                                  
                                </tbody>
                              </table>
                          
                              </fieldset>
                          

                        </div>
                       
                        
                       
                    
                    
                </div>
                    <div id="q-box__buttons" >
                      
                      <button id="submit-btn" type="submit" class="d-inline-block">সাবমিট</button>
                  </div>   
            </div>
            
          </form>

         

        </div>
    </div>
</div>



<script>
    let birdForm = document.querySelectorAll(".bird-form")
    let container = document.querySelector("#form-container")
    let addButton = document.querySelector("#add-form")
    let removeButton = document.querySelector("#remove-form")
    let totalForms = document.querySelector("#id_form-TOTAL_FORMS")

    let formNum = birdForm.length-1
    addButton.addEventListener('click', addForm)
    removeButton.addEventListener('click', removeForm)

    function addForm(e){
        e.preventDefault()

        let newForm = birdForm[0].cloneNode(true)
        let formRegex = RegExp(`form-(\\d){1}-`,'g')

        formNum++
        newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`)
        container.insertBefore(newForm, addButton)
        
        
        totalForms.setAttribute('value', `${formNum+1}`)
    } 
    function removeForm(id){
      let formDel=document.getElementById(id)
      del=formDel.parentNode
      del=del.parentNode
      del=del.parentNode
      del=del.parentNode
      del=del.parentNode.remove()


      
      
    }
    {% comment %} function removeForm(e){
      e.preventDefault()

      let birdForm2 = document.querySelectorAll(".bird-form")
      let formNum2 = birdForm2.length-1
      birdForm2[formNum2].parentNode.removeChild(birdForm2[formNum2]);
      
  }          {% endcomment %}
</script>
{% endblock  %}
