{% extends 'basepage/ictparkbd_layout.html' %}

{% block content %}
{% load static %}

<style>
    .main_body{
        width:100%;
        height:100%;
        color:red;
    }
    .formset{
      width:70%;
      margin-left:15%;
      margin-bottom:30px;
    }
    @media(max-width:767px){
      .formset{
        width:100%;
        margin-left:0%;
        margin-bottom:30px;
      }
        .main_body{
            width:100%;
            height:700px;
            color:red;
            background-color:green;
        }   
    }
</style>
<div class="services">
  <div><h3 style="text-align: center;text-shadow: 2px 2px 2px rgb(11, 73, 55);color:rgb(238, 103, 103);"><u>{{license_type.name}} ফর্ম</u></h3></div>
  
  <div data-v-6f04a53f="" class="memberRegistration py-5">

    <div class="container-wrapper">
      <div class="row justify-content-md-center">
        <div class="col col-lg-10">
          <div class="card login-body shadow-lg rounded-10 py-5">
            <div class="col-sm-12 form-group" >

            <table width="100%" border="1" cellspacing="0" cellpadding="10">
              <thead><th colspan="5" style="height: 30px; background-color: #035a4c; color: #fff;text-shadow: 10px 10px 10px rgb(73, 25, 11);padding: 15px;text-align:center;">  ব্যক্তিগত তথ্য                                   
                {% if license_type.id == 2 or  license_type.id == 4 %}
               &nbsp<h5>(সনদটি ইংরেজিতে চাইলে নাম, বাবার নাম ও মায়ের নাম ইংরেজিতে পুরণ করুন ও ভাষা ইংরেজি সিলেক্ট করুন)</h5>                                
               {% endif %}</th></thead>
              <tbody>
              </tbody>
            </table>
          </div>
                <div class="card-body">


            <span class="shape"><img align="center" src="{% static 'images\ictparkbd_logo.jpg' %}"><img align="center" style="height:60%;margin-top:10%;rotate: -50deg;" src="{% static 'images\tilokpur_logo.png' %}"></span> 

             {%if email %}
            
            <div class="alert alert-danger" role="alert">
              <strong>{{email}}</strong> 
            </div>
            
            {% endif %}
            {%if phone %}
            
            <div class="alert alert-danger" role="alert">
              <strong>{{phone}}</strong> 
            </div>
            
            {% endif %} 
            
            {%if password %}
            
            <div class="alert alert-danger" role="alert">
              <strong>{{password}}</strong> 
            </div>
            
            {% endif %}
            
            {%if success %}
            
            <div class="alert alert-success" role="alert">
              <strong>{{success}}</strong> 
            </div>
            
            {% endif %}
            
            <form  id="form" class="form-row px-3" method="post" action="{% url 'license_form' %}" enctype="multipart/form-data">
              {% csrf_token %}
              {{ form.media }}
              {% if license_type.id == 2 or license_type.id == 4 %}

              <div class="col-sm-12 form-group" >
                
                <div class="row" style="float:right;">
                    <label>
                      <br>{{form.language.label_tag}}&nbsp{{form.language}} &nbsp&nbsp                                       
                    </label>
                  
                </div>
              </div>
              {% endif %}
              
              <div class="col-sm-12 form-group">
                
                <div class="row">
                  
                  <div class="col-sm-8">
                    <label for="" class="col-form-label-sm m-0">ব্যবসা প্রতিষ্ঠানের নাম</label> 
                    <div class="loginBox">
                      {{form.licensed_name}}
                      <span class="fa fa-user"></span>
                    </div> <!--  --> <div class="invalid-feedback"></div>
                  </div>
                  
                  
                </div>
              </div>
              <div class="col-sm-12 form-group">
                
                <div class="row">
                  
                  <div class="col-sm-6">
                    <label for="" class="col-form-label-sm m-0">স্বত্তাধিকারীর নাম</label> 
                    <div class="loginBox">
                      {{form.license_owner_name}}
                      <span class="fa fa-user"></span>
                    </div> <!--  --> <div class="invalid-feedback"></div>
                  </div>
                  <div class="col-sm-6">
                    <label for="" class="col-form-label-sm m-0">
                      মোবাইল (
                        <span class="text-danger">১১ ডিজিট</span>)
                    </label>
                    <div class="loginBox">
                      {% comment %} <input type="text" name="phone" id="id_phone" autocomplete="off" onfocus="this.placeholder = ''" onblur="this.placeholder = 'ie: member@mail.com'" placeholder="ie: member@mail.com" name="email" class="form-control form-control-sm" />  {% endcomment %}
                      {{form.phone}}
                      <span class="fa fa-phone"></span>
                    </div> <!--  --> <div class="invalid-feedback"></div>
                  </div> 
                  
                </div>
              </div>
              <div class="col-sm-12 form-group">
                <div class="row">
                  <div class="col-sm-6">
                    <label for="" class="col-form-label-sm m-0">{{form.email.label_tag}}</label> 
                    <div class="loginBox">
                      {{form.email}}
                      <span class="fa fa-envelope"></span>
                    </div> <!--  --> <div class="invalid-feedback"></div>
                  </div>
                  <div class="col-sm-6">
                    <label for="" class="col-form-label-sm m-0">
                      {{form.nid_file.label_tag}} 
                    </label>
                    <div class="loginBox">
                      {{form.nid}}
                      <span class="fa fa-id-card"></span>
                    </div> <!--  --> <div class="invalid-feedback"></div>
                  </div>
                </div>
              </div>
              
              <div class="col-sm-12 form-group">
                <div class="row">
                    <div class="col-sm-6">
                        <label for="" class="col-form-label-sm m-0">                      {{form.father_name.label_tag}} 
                        </label>
                         <div class="loginBox">
                          {{form.father_name}}
                          <span class="fa fa-user"></span>                        
                        </div> <!--  --> <div class="invalid-feedback"></div>
                      </div>
                      <div class="col-sm-6">
                        <label for="" class="col-form-label-sm m-0">                      {{form.mother_name.label_tag}} 
                        </label>
                         <div class="loginBox">
                          {{form.mother_name}}
                          <span class="fa fa-user"></span>                        
                        </div> <!--  --> <div class="invalid-feedback"></div>
                      </div>
                </div>
              </div>
              
              
              <div class="col-sm-12 form-group">
                <div class="row">
                  
                  {% if form.profession %}

                  <div class="col-sm-6">
                    <label for="" class="col-form-label-sm m-0">{{form.profession.label_tag}}</label> <div class="loginBox">
                      {{form.profession}}                      
                      <span class="fas fa-skating"></span>
                    </div> <!--  --> <div class="invalid-feedback"></div>
                  </div>

                  {% endif %}
                  {% if form.income %}
                  <div class="col-sm-6">
                    <label for="" class="col-form-label-sm m-0">{{form.income.label_tag}}</label> 
                    <div class="loginBox">
                      {{form.income}}
                      <i class="fa-solid fa-bangladeshi-taka-sign"></i>
                      <span class="fa fa-usd"></span>
                    </div> <!--  --> <div class="invalid-feedback"></div>
                  </div>
                  {% endif %}

                  {% if form.cause %}
                  <div class="col-sm-6">
                    <label for="" class="col-form-label-sm m-0">{{form.cause.label_tag}}</label> 
                    <div class="loginBox">
                      {{form.cause}}
                      <span class="fa fa-default"></span>
                    </div> <!--  --> <div class="invalid-feedback"></div>
                  </div>
                  {% endif %}
                  <div class="col-sm-6">
                    <label for="" class="col-form-label-sm m-0">{{form.license_type.label_tag}}</label> <div class="loginBox">
                      {{form.license_type}}                      
                      <span class="fa fa-certificate"></span>
                    </div> <!--  --> <div class="invalid-feedback"></div>
                  </div>
                </div>  
              </div>

              <div class="col-sm-12 form-group">
                <div class="row">
                 
                  
                  {% if form.description %}

                  <div class="col-sm-12">
                    <label for="" class="col-form-label-sm m-0">{{form.description.label_tag}}</label> <div class="loginBox">
                      {{form.description}}                      
                      <span class="fas fa-id-card-alt"></span>
                    </div> <!--  --> <div class="invalid-feedback"></div>
                  </div>

                  {% endif %}
                  


                 
                </div>  
              </div> 

              <table width="100%" border="1" cellspacing="0" cellpadding="10">
                <thead><th colspan="5" style="height: 25px; background-color: #035a4c; color: #fff;text-shadow: 5px 5px 5px rgb(73, 25, 11);padding: 15px;font-size:20px;text-align:center;"> স্বত্তাধিকারীর ঠিকানা                                 
                  </th></thead>
                <tbody>
                </tbody>
              </table>

              <div class="col-sm-12 form-group">
                <div class="row">
                    <div class="col-sm-4">
                        <label for="" class="col-form-label-sm m-0">{{adress_form.division.label_tag}}</label> <div class="loginBox">
                          {{adress_form.division}}                      
                          <span class="fa fa-map-marker"></span>
                        </div> <!--  --> <div class="invalid-feedback"></div>
                      </div>

                  <div class="col-sm-4">
                    <label for="" class="col-form-label-sm m-0">{{adress_form.district.label_tag}}</label>
                     <div class="loginBox">
                      {{adress_form.district}}
                      <span class="fa fa-home"></span>
                    </div> <!--  --> <div class="invalid-feedback"></div>
                  </div>
                  <div class="col-sm-4">
                    <label for="" class="col-form-label-sm m-0">{{adress_form.upazilla.label_tag}}</label>
                     <div class="loginBox">
                      {{adress_form.upazilla}}
                      <span class="fa fa-home"></span>
                    </div> <!--  --> <div class="invalid-feedback"></div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 form-group">
                <div class="row">
                  <div class="col-sm-4">
                    <label for="" class="col-form-label-sm m-0">{{adress_form.union.label_tag}}</label>
                     <div class="loginBox">
                      {{adress_form.union}}
                      <span class="fa fa-home"></span>
                    </div> <!--  --> <div class="invalid-feedback"></div>
                  </div>
                  <div class="col-sm-4">
                    <label for="" class="col-form-label-sm m-0">{{adress_form.village.label_tag}}</label>
                     <div class="loginBox">
                      {{adress_form.village}}
                      <span class="fa fa-home"></span>
                    </div> <!--  --> <div class="invalid-feedback"></div>
                  </div>
                  <div class="col-sm-4">
                    <label for="" class="col-form-label-sm m-0">{{adress_form.post_office.label_tag}}</label>
                     <div class="loginBox">
                      {{adress_form.post_office}}
                      <span class="fa fa-home"></span>
                    </div> <!--  --> <div class="invalid-feedback"></div>
                  </div>
                </div>
              </div>
             
            
            
               
          
              {% if formset_adress %}
             
                   

                        {{formset_adress.management_form}}

                        {% for form in formset_adress %}
                        
                        <table width="100%" border="1" cellspacing="0" cellpadding="10">
                            <thead><th colspan="5" style="height: 25px; background-color: #035a4c; color: #fff;text-shadow: 5px 5px 5px rgb(73, 25, 11);padding: 15px;font-size:20px;text-align:center;"> ব্যবসা প্রতিষ্ঠানের ঠিকানা                                 
                              </th></thead>
                            <tbody>
                            </tbody>
                          </table>
                          <div class="col-sm-12 form-group">
                            <div class="row">
                                 <div class="col-sm-4">
                                    <label for="" class="col-form-label-sm m-0">{{form.ward.label_tag}}</label> <div class="loginBox">
                                      {{form.ward}}                      
                                      <span class="fa fa-map-marker"></span>
                                    </div> <!--  --> <div class="invalid-feedback"></div>
                                  </div>
            
                              <div class="col-sm-4">
                                <label for="" class="col-form-label-sm m-0">{{form.village.label_tag}}</label>
                                 <div class="loginBox">
                                  {{form.village}}
                                  <span class="fa fa-home"></span>
                                </div> <!--  --> <div class="invalid-feedback"></div>
                              </div>
                              <div class="col-sm-4">
                                <label for="" class="col-form-label-sm m-0">{{form.mouja.label_tag}}</label> <div class="loginBox">
                                  {{form.mouja}}                      
                                  <span class="fa fa-map-marker"></span>
                                </div> <!--  --> <div class="invalid-feedback"></div>
                              </div>
                            </div>
                          </div>
                        
                        {% endfor %}


               
              {% endif %}

              {% if formset %}
              <fieldset class="formset">
              <table width="100%" border="1" cellspacing="0" cellpadding="3">
                <tr style="height: 25px; background-color: #035a4c; color: #fff;">
                  {% if license_type.id == 1 %}
                  <td colspan="5" style="height: 25px; background-color: #035a4c; color: #fff;text-shadow: 7px 7px 7px rgb(73, 25, 11);font-size:23px;padding: 15px;">অন্য নামসমূহ</td>
                  {% else %}
                  <td colspan="5" style="height: 25px; background-color: #035a4c; color: #fff;text-shadow: 7px 7px 7px rgb(73, 25, 11);font-size:23px;padding: 15px;">ওয়ারিশগণ</td>
                  {% endif %}
                </tr>
                <tbody>
                  <tr>
                    <td colspan="5" align="center">

                      <div id="form-container">

                        {{formset.management_form}}

                        {% for form in formset %}
                        <div class="bird-form">
                          <table >
                            
                            {% if license_type.id == 1 %}
                            <tr>
                              <td>{{form.name.label_tag}} </td><td style="height: 40px;" rowspan="2"><button id="{{ form.prefix }}-row" style="font-size:25px;background-color:rgb(177, 41, 8); color: #fff;text-shadow: 3px 3px 3px rgb(73, 25, 11);float:right" type="button" onclick="removeForm( this.id )" > <i class="fa fa-trash-o" ></i></button></td>
                            </tr>
                            <tr>
                            <td>{{form.name}}</td>
                          </tr>
                            
                            {% else %}
                            <tr>
                            <td colspan="10">{{form.name.label_tag}} </td><td  rowspan="4"><button id="{{ form.prefix }}-row" style="font-size:18px;background-color:rgb(177, 41, 8); color: #fff;text-shadow: 3px 3px 3px rgb(73, 25, 11);float:right" type="button" onclick="removeForm( this.id )" > <i class="fa fa-trash-o" ></i></button></td>
                            </tr>
                           <tr>
                            <td colspan="10">{{form.name}}</td>
                           </tr>
                          <tr>
                            <td colspan="5">{{form.relation.label_tag}}: </td>
                            <td colspan="5">{{form.comment.label_tag}}: </td>
                          </tr>
                          <tr>
                            <td colspan="5">{{form.relation}}</td>
                            <td colspan="5">{{form.comment}}</td>
                          </tr>
                          
                            {% endif %}
                              

                        </table>
                        <br>
                      </div>
                      
                        {% endfor %}
                        <button id="add-form" style="font-size:18px;background-color: #035a4c; color: #fff;text-shadow: 3px 3px 3px rgb(73, 25, 11);"  type="button">আরও যুক্ত করুন<i class="fa fa-plus" ></i></button>


                      </div>
                  </td></tr>
                  
                    
              </tbody>
            </table>
          </fieldset>
               
              {% endif %}

              <fieldset style="margin:auto;">
                <table width="100%" border="1" cellspacing="" cellpadding="5" style="margin-right:10%;">
                  <tr><td colspan="4" style="height: 25px; background-color: #035a4c; color: #fff;text-shadow: 4px 4px 4px rgb(73, 25, 11);font-size:20px;padding: 15px;">মেম্বর সুপারিশ ফাইল ও এনআইডি</td></tr>
                  <tbody>
                    <tr>
                        <td width="10%" align="left" valign="middle">&nbsp;</td>
                        <td width="25%" align="left" valign="middle" class="black12">{{form.file.label_tag}}</td>
                        <td width="65%" align="left" valign="middle"><span id="sprytextfield1">
                          <label>
                            {{form.file}}                                        
                          </label>
                          
                        </span>
                      </td>
                        <td width="5%" align="left" valign="middle">&nbsp;</td>
                    </tr>
                    <tr>
                      <td width="10%" align="left" valign="middle">&nbsp;</td>
                      <td width="25%" align="left" valign="middle" class="black12">{{form.nid_file.label_tag}}</td>
                      <td width="65%" align="left" valign="middle"><span id="sprytextfield1">
                        <label>
                          {{form.nid_file}}                                        
                        </label>
                        </span></td>
                      <td width="5%" align="left" valign="middle">&nbsp;</td>
                  </tr>
                  
                </tbody>
              </table>
          
              </fieldset>
          
              <div class="col-sm-12 form-group">
                <div class="row">
                  <div class="custom-control custom-checkbox">
                    <div class="col-form-label-sm font-weight-bold mb-0 custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" value="true" id="__BVID__164" required /><label class="custom-control-label" for="__BVID__164">
                        উপরের সকল তথ্য সঠিক, কোনরূপ ভুল থাকলে কর্তৃপক্ষ দায়ী নয়
                      </label>
                    </div> <div class="invalid-feedback"></div>
                  </div>
                </div>
              </div> 
              {% comment %} <div class="col-sm-4 form-group mb-0">
                <button type="submit" class="btn btn-danger text-white"><span>সাবমিট</span></button>
              </div>  {% endcomment %}
              <div class="col-sm-9 form-group">
                <p class="text-right">
                  <button type="submit" class="rounded-50 ml-2" style="height: 40px; background-color: #035a4c; color: #fff;text-shadow: 4px 4px 4px rgb(73, 25, 11);font-size:20px;padding-left:8px;padding-right:8px;">সাবমিট করুন</button>
                </p>
              </div>
              
              
             
              
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <span class="bubbleNew"><img src="{%static 'images/tilokpur_logo.png'%}" class="rounded-circle" style="width: 200px;height: 200px;" /></span>

</div>





<script>

    function unionAdress(id){
      
      var division=document.getElementById(id).value;
      url="{% url 'get_subordinations'%}";
      var $j = jQuery.noConflict();
      
        $.ajax({
        type: 'GET',
        url: "{% url 'get_subordinations' %}",
        cache:'false',  // Adjust the URL as per your project structure
        data: {id:id,'value':division},
       
       
        success: function (response) {
            //document.getElementById("student_form").reset();
            if (response.status === 'success') {
              if(id=='id_form-0-ward'){
              $("#id_form-0-village option").remove();
              $("#id_form-0-village").append('<option '+'value="0">'+ '-----------' +'</option>');
                    for (var i = response.village.length - 1; i >= 0; i--) {
                                  $("#id_form-0-village").append('<option '+'value="'+response.village[i].id+'">'+response.village[i].name +'('+response.village[i].name_en+ ')' +'</option>');
                              }
                }
                if(id=='id_form-0-village'){
                  $("#id_form-0-mouja option").remove();
                  $("#id_form-0-mouja").append('<option '+'value="0">'+ '-----------' +'</option>');
                        for (var i = response.mouja.length - 1; i >= 0; i--) {
                                      $("#id_form-0-mouja").append('<option '+'value="'+response.mouja[i].id+'">'+response.mouja[i].name +'('+response.mouja[i].name_en+ ')' +'</option>');
                                  }
                    }
              
            } else {
             ///alert("Success message not found");
                    
                }
                
        },
        error: function (xhr, status, error) {
           
            var err = eval("(" + xhr.responseText + ")");
            alert(err.Message);
        }
    });
  
      
    } 
  
  
  function myFunctionTeacher(id){
    
    var division=document.getElementById(id).value;
    url="{% url 'get_district'%}";
    var $j = jQuery.noConflict();
    
      $.ajax({
      type: 'GET',
      url: "{% url 'get_district' %}",
      cache:'false',  // Adjust the URL as per your project structure
      data: {id:id,'value':division},
     
     
      success: function (response) {
          //document.getElementById("student_form").reset();
          if (response.status === 'success') {
            if(id=='id_division'){
            $("#id_district option").remove();
            $("#id_district").append('<option '+'value="0">'+ '-----------' +'</option>');
                  for (var i = response.district.length - 1; i >= 0; i--) {
                                $("#id_district").append('<option '+'value="'+response.district[i].id+'">'+response.district[i].name +'('+response.district[i].name_en+ ')' +'</option>');
                            }
              }
            if(id=='id_district'){

              $("#id_upazilla option").remove();
            $("#id_upazilla").append('<option '+'value="0">'+ '-------------' +'</option>');
                  for (var i = response.district.length - 1; i >= 0; i--) {
                                $("#id_upazilla").append('<option '+'value="'+response.district[i].id+'">'+ response.district[i].name +'('+response.district[i].name_en + ')'+'</option>');
                            }

            }
            if(id=='id_upazilla'){

              $("#id_union option").remove();
            $("#id_union").append('<option '+'value="0">'+ '-------------' +'</option>');
                  for (var i = response.district.length - 1; i >= 0; i--) {
                                $("#id_union").append('<option '+'value="'+response.district[i].id+'">'+ response.district[i].name + '('+response.district[i].name_en + ')' +'</option>');
                            }

            }

          } else {
           ///alert("Success message not found");
                  
              }
              
      },
      error: function (xhr, status, error) {
         
          var err = eval("(" + xhr.responseText + ")");
          alert(err.Message);
      }
  });

    
  } 

</script>

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script>
    let birdForm = document.querySelectorAll(".bird-form")
    let container = document.querySelector("#form-container")
    let addButton = document.querySelector("#add-form")
    let removeButton = document.querySelector("#remove-form")
    let totalForms = document.querySelector("#id_form-TOTAL_FORMS")

    let formNum = birdForm.length-1
    addButton.addEventListener('click', addForm)
    removeButton.addEventListener('click', removeForm)

    function addForm(e){
        e.preventDefault()

        let newForm = birdForm[0].cloneNode(true)
        let formRegex = RegExp(`form-(\\d){1}-`,'g')

        formNum++
        newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`)
        container.insertBefore(newForm, addButton)
        
        
        totalForms.setAttribute('value', `${formNum+1}`)
    } 
    function removeForm(id){
      let formDel=document.getElementById(id)
      del=formDel.parentNode
      del=del.parentNode
      del=del.parentNode
      del=del.parentNode
      del=del.parentNode.remove()


      
      
    }
  </script>
 
 
{% endblock  %}
