{% extends 'basepage/basepage.html' %}

{% block content %}
{% load static %}
<style>
    .main_body{
        width:100%;
        height:100%;
        color:red;
    }
    @media(max-width:767px){
        .main_body{
            width:100%;
            height:700px;
            color:red;
            background-color:green;
        }   
    }
</style>

        <div class="main_body" >
        <fieldset style="margin-bottom: 2%; width:70% ">

        <table width="100%" height="100%" border="1" cellspacing="0" cellpadding="2" align="center">
            
            {% if message %}
            <thead><th colspan="5" style="height: 25px; background-color:rgb(148, 30, 9); color: #fff;padding: 15px;">{{message}} </th></thead>
             
            {% endif %}


            {% if notfound %}
                <thead><th colspan="5" style="height: 25px; background-color:rgb(148, 30, 9); color: #fff;padding: 15px;">Result Not found!<br>re-Enter right information or Contact exam control room </th></thead>
                 
                {% endif %}
          <thead style="height: 25px; background-color: #245b80; color: #fff;padding: 15px"><th colspan="5" style="height: 25px; background-color: #245b80; color: #fff;padding: 15px;">Insert your roll and payment purpose </th></thead>
          <tbody>
            <form method="post" action="" id="form1" name="form1" target="_blank">
                {% csrf_token %}
            <tr>
                
                <td class="r-align-right r-ori-vert							col-md-4						" data-single="" data-cellid="grid_c1" data-pageid="1">
               

                    {{form}}
                    {{form1}}
                    {{form2}}
                </td>
                
                
                <td class="col-md-2"></td>
                </tr>
                
                <tr>
                
                <td class="r-align-right r-ori-vert							col-md-4						" data-single="" data-cellid="grid_c3" data-pageid="1">
                
                </td>
                
                <td class=" r-ori-vert							col-md-6						" data-single="" data-cellid="grid_c4" data-pageid="1">
                
                </td>
                <td class="col-md-2"></td>
                </tr>
                
                <tr>
                
                <td class=" r-ori-vert							col-md-4						" data-single="" data-cellid="grid_c9" data-pageid="1">
                <div edit-form-cell="" class="clearfix">
                </div>
                </td>
                
                <td class=" r-ori-vert							col-md-6						" data-single="" data-cellid="grid_c10" data-pageid="1">
                <div edit-form-cell="" class="clearfix">
                </div>
                </td>
                <td class="col-md-2"></td>
                </tr>
                <tr >
                    <td colspan="5" align="right">                
                    <button type="submit" id="submit-btn"  >Submit</button>
                </td></tr>
          </form>

        </tbody>
    </table>
</fieldset>
</div>
   
<script>
    function myFunction( id ){
            
            var e=document.getElementById('id_student_category')
            var val = e.options[e.selectedIndex].value;
            if(val == 3){
                document.getElementById('id_group').style.display='block';
                document.getElementByFor('id_group').label.visibility='visible';

            }else{
                
                document.getElementById('id_group').style.display='none';
                document.getElementByFor('id_group').label.visibility='hidden';

            }
    }
</script>
{% endblock  %}
