{% extends 'basepage/basepage.html' %}

{% block content %}
{% load static %}
<style>
    .main_body{
        width:100%;
        height:100%;
        color:red;
    }
    @media(max-width:767px){
        .main_body{
            width:100%;
            height:700px;
            color:red;
            background-color:green;
        }   
    }
</style>

<!-- CONTAINER -->
<div class="box_container" style="width: 100%; margin: 0px;">
    <div class="" style="margin: auto;width: 100%;">
        <!-- TITLE 
        <div class="col-lg-4 offset-lg-1 mx-0 px-0">
            <div id="title-container">
                <img class="covid-image" src="./img/covid-check.png">
                <h2>COVID-19</h2>
                <h3>Self Checker Form</h3>
                <p>A clinical assessment multi-step form that will assist individuals on deciding when to seek testing or medical care if they suspect they or someone they know has contracted COVID-19 or has come into close contact with someone who has COVID-19</p>
            </div>
        </div>-->
        <!-- FORMS -->
        <div >
  <form class="needs-validation" action="" id="form-wrapper" method="post" name="form-wrapper" novalidate="">
        {% csrf_token %}
            <div id="qbox-container">
                    <div id="steps-container">
                        <div class="step d-block">
                          <div><h1 style="text-align: center;"><u>Personal Information</u></h1></div>

                          <table width="900" border="0" align="center" valign="middle" cellspacing="0" cellpadding="0">

                            <tbody>
                            <tr>
                              <td align="left">
                                <fieldset>
                                <table width="100%" border="1" cellspacing="0" cellpadding="2">
                                  <thead style="height: 25px; background-color: #245b80; color: #fff;padding: 15px"><th colspan="5" style="height: 25px; background-color: #245b80; color: #fff;padding: 15px;">Personal Information</th></thead>
                                  <tbody>
                                  {% for field in form %}
                                  {{ field.errors }}
                              
                                    <tr>
                                        <td width="10%" align="left" valign="middle">&nbsp;</td>
                                        <td width="10%" align="left" valign="middle" class="black12">{{field.label_tag}}</td>
                                        <td width="80%" align="left" valign="middle"><span id="sprytextfield1">
                                          <label>
                                            {{field}}                                        
                                          </label>
                                          <span class="textfieldRequiredMsg">User ID is required!</span></span></td>
                                    </tr>
                                    {% endfor %}
                                    
                                      
                                  
    
                                </tbody></table>
                              </fieldset>
                            </td>
                            
                          </tr>
                              
                          </tbody>
                        </table>
                                <fieldset>
                                  <table width="100%" border="1" cellspacing="" cellpadding="5">
                                    <thead style="height: 25px; background-color: #245b80; color: #fff;padding: 15px;"><th colspan="5" style="height: 25px; background-color: #245b80; color: #fff;padding: 15px;">Permanent Adress</th></thead>
                                    <tbody>
                                      {% for field in adress_form %}
                                      <tr>
                                          <td width="10%" align="left" valign="middle">&nbsp;</td>
                                          <td width="10%" align="left" valign="middle" class="black12">{{field.label_tag}}</td>
                                          <td width="0%" align="left" valign="middle" class="black12">:</td>
                                          <td width="70%" align="left" valign="middle"><span id="sprytextfield1">
                                            <label>
                                              {{field}}                                        
                                            </label>
                                            <span class="textfieldRequiredMsg">User ID is required!</span></span></td>
                                          <td width="5%" align="left" valign="middle">&nbsp;</td>
                                      </tr>
                                      {% endfor %}
                                      
                                  </tbody>
                                </table>
                            </fieldset>
                            
                              <fieldset>
                                <table width="100%" border="1" cellspacing="0" cellpadding="3">
                                  <thead style="height: 25px; background-color: #245b80; color: #fff;">
                                    <th colspan="5" style="height: 25px; background-color: #245b80; color: #fff;padding: 15px;">Present Adress</th>
                                  </thead>
                                  <tbody>
                                    <tr><td colspan="5" align="center">
                                        <div id="form-container">
                                            {{formset.management_form}}
                                            {% for form in formset %}
                                            <div class="bird-form">
                                            {{form.as_p}}
                                            </div>
                                            {% endfor %}
                                            <button id="add-form" type="button">Add Another Bird</button>

                                        </div>
                                    </td></tr>
                                    
                                      
                                </tbody></table>
                              </fieldset>
                          
                          
                        </div>
                        <div class="step d-none">
                        <div><h1 style="text-align: center;"><u>Guardian Information </u></h1></div>

                          <table width="900" border="0" align="center" valign="middle" cellspacing="0" cellpadding="0">

                            <tbody>
                            <tr>
                              <td align="left">
                                <fieldset>
                          
                            <table width="100%" border="1" cellspacing="0" cellpadding="3">
                              <thead style="height: 25px; background-color: #245b80; color: #fff;">
                                <th colspan="5" style="height: 25px; background-color: #245b80; color: #fff; padding: 15px; margin-bottom: 15px;">Fill your guardian information</th>
                              </thead>
                              <tbody>
                                {% for field in guardian_form %}
                                  {{ field.errors }}
                              
                                <tr>
                                    <td width="10%" align="left" valign="middle">&nbsp;</td>
                                    <td width="10%" align="left" valign="middle" class="black12">{{ field.label_tag }}</td>
                                    <td width="10%" align="left" valign="middle" class="black12">:</td>
                                    <td width="55%" align="left" valign="middle"><span id="sprytextfield1">
                                      <label>
                                        {{ field }}
                                      </label>
                                      <span class="textfieldRequiredMsg">User ID is required!</span></span></td>
                                    <td width="5%" align="left" valign="middle">&nbsp;</td>
                                </tr>
                                {% endfor %}

                            
                                  
                              

                            </tbody></table>
                          </fieldset>
                              </td>
                            </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                        <div class="step d-none">

                          <div><h1 style="text-align: center;"><u>Academic Information</u></h1></div>

                          <table width="900" border="0" align="center" valign="middle" cellspacing="0" cellpadding="0">

                            <tbody>
                            <tr>
                              <td align="left">
                                <fieldset>
                          
                            <table width="100%" border="1" cellspacing="0" cellpadding="3">
                              <thead style="height: 25px; background-color: #245b80; color: #fff;">
                                <th colspan="5" style="height: 25px; background-color: #245b80; color: #fff; padding: 15px; margin-bottom: 15px;">SSC or Equivalent Information</th>
                              </thead>
                              <tbody>
                                {% for field in ssc_equivalent_form %}
                                  {{ field.errors }}
                              
                                <tr>
                                    <td width="5%" align="left" valign="middle">&nbsp;</td>
                                    <td width="25%" align="left" valign="middle" class="black12">{{ field.label_tag }}</td>
                                    <td width="5%" align="left" valign="middle" class="black12">:</td>
                                    <td width="65%" align="left" valign="middle"><span id="sprytextfield1">
                                      <label>
                                        {{ field }}
                                      </label>
                                      <span class="textfieldRequiredMsg">User ID is required!</span></span></td>
                                    <td width="5%" align="left" valign="middle">&nbsp;</td>
                                </tr>
                                {% endfor %}

                            
                                  
                              

                            </tbody></table>
                          </fieldset>
                              </td>
                            </tr>
                            </tbody>
                          </table>
                            
                        </div>
                        <div class="step d-none">
                            
                          <div><h1 style="text-align: center;"><u>Subject Choice Entry</u></h1></div>

                          <table width="900" border="0" align="center" valign="middle" cellspacing="0" cellpadding="0">

                            <tbody>
                            <tr>
                              <td align="left">
                                <fieldset>
                          
                            <table width="100%" border="1" cellspacing="0" cellpadding="3">
                              <thead style="height: 25px; background-color: #245b80; color: #fff;">
                                <th colspan="5" style="height: 25px; background-color: #245b80; color: #fff; padding: 15px; margin-bottom: 15px;">Choose your desiered subject</th>
                              </thead>
                              <tbody>
                                {{subject_form.media}}
                                {% for field in subject_form %}
                                  {{ field.errors }}
                              
                                <tr>
                                    <td width="5%" align="left" valign="middle">&nbsp;</td>
                                    <td width="15%" align="left" valign="middle" class="black12">{{ field.label_tag }}</td>
                                    <td width="5%" align="left" valign="middle" class="black12">:</td>
                                    <td width="75%" align="left" valign="middle"><span id="sprytextfield1">
                                      <label>
                                        {{ field }}
                                      </label>
                                      <span class="textfieldRequiredMsg">User ID is required!</span></span></td>
                                    <td width="5%" align="left" valign="middle">&nbsp;</td>
                                </tr>
                                {% endfor %}
                            
                                  
                              

                            </tbody></table>
                          </fieldset>
                              </td>
                            </tr>
                            </tbody>
                          </table>
                        </div>
                        <div id="success">
                          <div class="mt-5">
                           
                              <h4>Success! Your admission is done!</h4>
                              <h5>Dont Reload window untill download your admission form</h5>
                              <h4>To download admission form Click Get Admission form Button below!</h4>
                          </div>
                      </div>
            
                        <div class="step d-none">
                          <div class="mt-1">
                            <div class="closing-text">
                              <input type="hidden" value="{{group.title_en}}" name="admission_group">

                                <h4>That's about it! Stay healthy!</h4>
                                <p>We will assess your information and will let you know soon if you need to get tested for COVID-19.</p>
                                <p>Click on the submit button to continue.</p>
                            </div>
                        </div>
                    </div>
                    
                    
                </div>
                    <div id="q-box__buttons" >
                      <button id="prev-btn" type="button" class="d-inline-block">Previous</button> 
                      <button id="next-btn" type="button" class="d-inline-block">Next</button> 
                      <button id="submit-btn" type="submit" class="d-none">Submit</button>
                  </div>   
            </div>
            
          </form>

          <div id="download_form_id">
            <div class="mt-5">

              <form id="form_download_id" method="post" action="" target="_blank" >
                {% csrf_token %}
              <input type="hidden" value="{{student}}" id="student_id" name="student_id">
              <div id="q-box__buttons" >

                <button type="submit" id="btn_admission_form" style="width:300px;">Download Admission form</button>
                </div>
              </form>
                <a style="margin-top: 20px; margin-bottom: 20px; margin-left: 10%;" class="back-link" href="">Go back from the beginning ➜</a>
            </div>
        </div>

        </div>
    </div>
</div>
<!-- PRELOADER -->
<div id="preloader-wrapper">
  <div id="preloader"></div>
  <div class="preloader-section section-left"></div>
  <div class="preloader-section section-right"></div>
</div>


<script>
    let birdForm = document.querySelectorAll(".bird-form")
    let container = document.querySelector("#form-container")
    let addButton = document.querySelector("#add-form")
    let totalForms = document.querySelector("#id_form-TOTAL_FORMS")

    let formNum = birdForm.length-1
    addButton.addEventListener('click', addForm)

    function addForm(e){
        e.preventDefault()

        let newForm = birdForm[0].cloneNode(true)
        let formRegex = RegExp(`form-(\\d){1}-`,'g')

        formNum++
        newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`)
        container.insertBefore(newForm, addButton)
        
        totalForms.setAttribute('value', `${formNum+1}`)
    }     
          
    window.onload = (event) => {
let compulsory_subject_initialized=document.getElementsByClassName('selector-available');
let filter_compusory=document.getElementById('id_compulsory_subject_filter_selected');
let remove_compusory=document.getElementById('id_compulsory_subject_remove_all_link');

let selector_chooser=document.getElementsByClassName('selector-chooser');


compulsory_subject_initialized[0].style.display='none';
selector_chooser[0].style.display='none';

filter_compusory.style.display='none';
remove_compusory.style.display='none';

z= compulsory_subject_initialized.getElementsByTagName("option");
for (i = 0; i < z.length; i++) {

z[i].setAttribute('disabled','true','readonly','true');

}

alert(compulsory_subject_initialized.length);
};




const progress = (value) => {
document.getElementsByClassName('progress-bar')[0].style.width = `${value}%`;
}

let step = document.getElementsByClassName('step');
let prevBtn = document.getElementById('prev-btn');
let nextBtn = document.getElementById('next-btn');
let submitBtn = document.getElementById('submit-btn');
let form = document.getElementsByTagName('form')[0];
let preloader = document.getElementById('preloader-wrapper');
let bodyElement = document.querySelector('body');
let succcessDiv = document.getElementById('success');
let downloadDiv = document.getElementById('downlod_form_id');

let addChoiceBtn=document.getElementsByName('id_fourth_subject');

form.onsubmit = () => { return false }

let current_step = 0;
let stepCount = 4
step[current_step].classList.add('d-block');
if(current_step == 0){
prevBtn.classList.add('d-none');
submitBtn.classList.add('d-none');
nextBtn.classList.add('d-inline-block');
}


nextBtn.addEventListener('click', () => {
var x, y, i, valid = true;
var options=document.getElementById('id_compulsory_subject_to').getElementsByTagName('option');
for(i=0;i<options.length ;i++){
options[i].selected = 'selected';
}
document.getElementById('id_compulsory_subject_to').disabled='disabled';


//document.getElementById('toast-container').style.visibility ='hidden';
current_step++;
let previous_step = current_step - 1;
let flag=validateForm();
if(( current_step > 0) && (current_step <= stepCount) && flag){
prevBtn.classList.remove('d-none');
prevBtn.classList.add('d-inline-block');
step[current_step].classList.remove('d-none');
step[current_step].classList.add('d-block');
step[previous_step].classList.remove('d-block');
step[previous_step].classList.add('d-none');
if (current_step == stepCount){
submitBtn.classList.remove('d-none');
submitBtn.classList.add('d-inline-block');
nextBtn.classList.remove('d-inline-block');
nextBtn.classList.add('d-none');
}
} else {
if(current_step > stepCount){
  form.onsubmit = () => { return true }
}
}
progress((100 / stepCount) * current_step);
function validateForm() {
// This function deals with validation of the form fields
if(current_step==4 ){


if(document.getElementById('id_fourth_subject').value==''){
valid= false;
}
/* var select=document.getElementsByName('compulsory_subject');
var compulsory_subject=select[1];
if(compulsory_subject.length<6){
  valid= false;
}*/




}

x = document.getElementsByClassName("step d-block");
//alert(current_step);

y = x[0].getElementsByTagName("input");
z= x[0].getElementsByTagName("select");

for (i = 0; i < y.length; i++) {
// If a field is empty...
//alert(y[i]+y[i].required);
//alert(y[i].getAttribute('id')+": "+y[i].hasAttribute('required'));

if (y[i].value == '' && y[i].hasAttribute('required') ) {


  y[i].className='textfieldUSERinfoInvalid';

valid = false;

}
}

for (i = 0; i < z.length; i++) {
// If a field is empty...

if (z[i].value == '' && z[i].hasAttribute('required') ) {
  //alert(z[i].getAttribute('id')+": "+z[i].hasAttribute('required'));

 if(z[i].className=='textfieldUSER')
   z[i].className='textfieldUSERInvalid';
else
  z[i].className='textfieldUSERinfoInvalid';
  
 valid = false;

}
}
//alert("valid:"+valid);
if(!valid){
current_step--;
var x = document.getElementById("toast-container");

// Add the "show" class to DIV
x.className = "show";

// After 3 seconds, remove the show class from DIV
setTimeout(function(){ x.className = x.className.replace("show", ""); }, 11000);
/*var x = document.getElementById("toast-container");
         x.className = "toast-top-center";
         x.style.visibility="vissible"

         setTimeout(function(){ 
             x.className = x.className.replace("toast-top-center","");
            
             
          }, 8000);*/
          

}
return valid; // return the valid status
}



});



prevBtn.addEventListener('click', () => {
if(current_step > 0){
current_step--;
let previous_step = current_step + 1; 
prevBtn.classList.add('d-none');
prevBtn.classList.add('d-inline-block');
step[current_step].classList.remove('d-none');
step[current_step].classList.add('d-block')
step[previous_step].classList.remove('d-block');
step[previous_step].classList.add('d-none');
if(current_step < stepCount){
 submitBtn.classList.remove('d-inline-block');
 submitBtn.classList.add('d-none');
 nextBtn.classList.remove('d-none');
 nextBtn.classList.add('d-inline-block');
 prevBtn.classList.remove('d-none');
 prevBtn.classList.add('d-inline-block');
} 
}

if(current_step == 0){
prevBtn.classList.remove('d-inline-block');
prevBtn.classList.add('d-none');
}
progress((100 / stepCount) * current_step);
});



function fourthSubject(id){

if(current_step==3){
var compulsory_subject=document.getElementById('id_optional_subject_from');
var selected_item = document.getElementById('id_fourth_subject');
if(compulsory_subject.length==1){
selected_item.value=compulsory_subject[0].value;
alert(selected_item.value);

return false;
}






}

}
function subjectChoice(id){
alert("subjectChoice");

}
addChoiceBtn.addEventListener('change', () => {
alert("subjectChoice");
});

</script>
<script>
$(document).ready(function () {
  
    $('#add_more').click(function() {
        alert("hello");
        cloneMore('div.table:last', 'service');
    });
  $('#submit-btn').on('click', function () {
    var subjectCount=0;
    var compulsory_options;
    var options;
    compulsory_options=document.getElementById('id_compulsory_subject_to').getElementsByTagName('option');
    subjectCount=compulsory_options.length;
    document.getElementById('id_compulsory_subject_to').disabled='';
    try{
    options=document.getElementById('id_optional_subject_to').getElementsByTagName('option');
    var selected_4rth = document.getElementById('id_fourth_subject');
    var flag_submit=0;
    alert(selected_4rth.value);
    for(i=0;i<options.length ;i++){
      subjectCount++;
      if(options[i].value==selected_4rth.value){
        flag_submit=1;
        break;

      }
    options[i].selected = 'selected';
   }
    if(subjectCount<6 || flag_submit==1){
      alert("Choose All 7 Subject and do not repeat twice ");
      return false;
    }
    
    }catch(err){

    }
  //preloader.classList.add('d-block');
  var frm = $('#form-wrapper')[0];
  var form= new FormData(frm);
  var form1=document.getElementById('form-wrapper');
  form1.submit();
  
  });
////////////////////Submit for admission form download/////////////////////

 

});
</script>
<script>
function cloneMore(selector, type) {
    alert("hi");
    var newElement = $(selector).clone(true);
    var total = $('#id_' + type + '-TOTAL_FORMS').val();
    newElement.find(':input').each(function() {
        var name = $(this).attr('name').replace('-' + (total-1) + '-','-' + total + '-');
        var id = 'id_' + name;
        $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
    });
    newElement.find('label').each(function() {
        var newFor = $(this).attr('for').replace('-' + (total-1) + '-','-' + total + '-');
        $(this).attr('for', newFor);
    });
    total++;
    $('#id_' + type + '-TOTAL_FORMS').val(total);
    $(selector).after(newElement);
}
</script> 
<script>
    function myFunction( id ){
            
            var e=document.getElementById('id_student_category')
            var val = e.options[e.selectedIndex].value;
            if(val == 3){
                document.getElementById('id_group').style.display='block';
                document.getElementByFor('id_group').label.visibility='visible';

            }else{
                
                document.getElementById('id_group').style.display='none';
                document.getElementByFor('id_group').label.visibility='hidden';

            }
    }
</script>
{% endblock  %}
