{% load static  %}
<html xmlns="http://www.w3.org/1999/xhtml"><head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    
    <title>Govt. Mujibur rahman Women's Collge</title>
    <meta http-equiv="cache-control" content="no-cache">
    <meta name="publisher" content="Govt. Mujibur rahman Women's Collge">
    <meta name="copyright" content="Govt. Mujibur rahman Women's Collge">
    <meta name="author" content="Design/Developed by: Tarique Sumon :: Govt. Mujibur rahman Women's Collge">
    <meta name="robots" content="index, follow">
    <meta name="description" content="Govt. Mujibur rahman Women's Collge">
    <meta name="keywords" content="gmrwc, college, women's, mohila college,Bogura, Govt. Mujibur rahman Women's Collge, Mujibur rahman Women's Collge, Mujibur rahman Collge, Admission, HSC, NU, National University, bcs advertisement, Admit Card, Applicant's Copy">
    <link href="{% static 'css/admission/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'css/admission/style.css' %}" rel="stylesheet">

    <link href="{% static 'css/admission/admission.css'%}" rel="stylesheet" type="text/css">
    <!--<script src="../Scripts/swfobject_modified.js" type="text/javascript"></script>
    <script src="../SpryAssets/SpryValidationTextField.js" type="text/javascript"></script>
    <script src="../SpryAssets/SpryValidationPassword.js" type="text/javascript"></script>-->
    
    <link href="{% static 'css/admission/SpryValidationTextField.css'%}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/admission/SpryValidationPassword.css'%}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/register/toaster.min.css' %}">

    {% comment %} <script type="text/javascript" src="{% url 'jsi18n' %}" > </script>
    <script type="text/javascript" src="{% static 'admin/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/SelectBox.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/SelectFilter2.js' %}"></script>
    <script src="https://www.nothi.gov.bd/assets/global/plugins/jquery.min.js" type="text/javascript"></script> {% endcomment %}

    <style type="text/css" media="screen">
      @font-face {
        font-family: "kalpurushregular";
        src: url("//file-rajshahi.portal.gov.bd/media/central/themes/theme-default/fonts/Kalpurush.eot");
        src: url("//file-rajshahi.portal.gov.bd/media/central/themes/theme-default/fonts/Kalpurush.woff") format("woff"),
          url("//file-rajshahi.portal.gov.bd/media/central/themes/theme-default/fonts/Kalpurush.ttf") format("truetype"),
          url("//file-rajshahi.portal.gov.bd/media/central/themes/theme-default/fonts/Kalpurush.svg#Kalpurush") format("svg"),
          url("//file-rajshahi.portal.gov.bd/media/central/themes/theme-default/fonts/Kalpurush.eot?#iefix") format("embedded-opentype");
        font-weight: normal;
        font-style: normal;
      }
    </style>
    
    <style>
        body {
            margin-left: 0px;
            margin-top: 20px;
            margin-right: 0px;
            margin-bottom: 20px;
            background-color: #989ea2;
            background-position: left top;
            background-repeat: repeat-x;
            background-image: url("{% static 'images/main_bg.png'%}");
        }
        .main-right {
            background-image: url("{% static 'images/main_06.png'%}");
        }
        .main-left {
            background-image: url("{% static 'images/main_04.png'%}");

        }
        .main-button {
            background-image: url("{% static 'images/main_08.png'%}");

        }
        .main-top{
            background-image: url("{% static 'images/main_02.png'%}");

        } 
        
      
      
         
       @media(max-width: 786px){
          .container{
            width: 100%;
            padding: 0px;
          }

       } 
       @media(max-width: 991px){
        fieldset{
          width: auto;
          margin-left: 20px;
        }
          .box_container{
            width: 100%;
            padding: 0px;
            margin: 2px;
          }
          #qbox-container{
            width: 100%;
            padding: 0px;
          }
          #steps-container{
            width: 100%;
            padding: 0px;
          }

       }
       #toast-container {
        visibility: hidden;
        position: fixed;
        z-index: 999999
    }
       
     
      /* Show the snackbar when clicking on a button (class added with JavaScript) */
     
      #toast-container.show {
        visibility: visible; 
        top: 30px;
        left: 50%;
        width: 100%;/* Show the snackbar */
        /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
        However, delay the fade out process for 2.5 seconds */
        -webkit-animation: fadein 1s, fadeout 7s 8s;
        animation: fadein 1s, fadeout 7s 8s;
      }
      
      /* Animations to fade the snackbar in and out */
      @-webkit-keyframes fadein {
        from {top: 0; opacity: 0;}
        to {top: 30px; opacity: 1;}
      }
      
      @keyframes fadein {
        from {top: 0; opacity: 0;}
        to {top: 30px; opacity: 1;}
      }
      
      @-webkit-keyframes fadeout {
        from {top: 30px; opacity: 1;}
        to {top: 0; opacity: 0;}
      }
      
      @keyframes fadeout {
        from {top: 30px; opacity: 1;}
        to {top: 0; opacity: 0;}
      }
    </style>
    </head>
    
    <body>
      <!-- The actual snackbar -->

<div id="toast-container" aria-level="polite" role="alert">
  <div class="toast toast-error" ><button class="toast-close-button" role="button">&#10006;</button>
      <div class="toast-message" >দুঃখিত! লাল চিহ্নিত বক্সে সঠিক তথ্য দিতে হবে</div>
  </div>
</div>

    <table width="1000" border="0" align="center" cellpadding="0" cellspacing="0">
      <tbody><tr>
        <td>
          <table width="1000" border="0" cellspacing="0" cellpadding="0">
            <tbody><tr>
              <td width="19"><img src="{% static 'images/main_01.png'%}" width="19" height="22"></td>
              <td width="961" class="main-top">&nbsp;</td>
              <td width="20"><img src="{% static 'images/main_03.png'%}" width="20" height="22"></td>
            </tr>
            <tr>
              <td class="main-left">&nbsp;</td>
              <td bgcolor="#E7E7E7"><table width="961" border="0" cellpadding="0" cellspacing="0" class="gap01">
                <tbody><tr>
                  <td align="left" valign="top" bgcolor="#B3CBE6" class="bdr-body"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tbody><tr>
                      <td width="10%" height="95" align="center" valign="middle"><img src="{% static 'images/gmrwc_logo.png'%}" width="75" height="75"></td>
                      <td width="65%" height="95" align="left" valign="middle">
                                              
                        <span class="GrayBlue14b">Government of the People's Republic of Bangladesh</span><br>
                      <span class="GrayBlue20bold">Govt. Mujibur Rahman Women's College, Bogura</span>
                      </td>
                      <td width="25%" height="95" align="left" valign="middle"><span class="XamName">HSC Admission 2025<sup></sup> <br>Session:2025-26</span><br>
               <span class="black10">Application Deadline</span><br>
               <span class="black10bold">06:00pm, 31 December 2023</span></td>
                      </tr>
                  </tbody></table></td>
                </tr>
                <tr>
                  <td align="left" valign="top">&nbsp;</td>
                </tr>
                <tr>
                  <td align="left" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0" class="bdr-toplink"><tbody><tr><td bgcolor="#025A8A">
        <table border="0" cellpadding="5" cellspacing="0" class="cyan11">
            <tbody><tr>
              <td width="80" height="25" valign="middle"><a href="/" class="link-home">Home</a></td>
              <td height="30" align="left" valign="middle"><a href="../options/plog.php" class="link02">Download Applicant's Copy</a></td>
              <td width="30" height="25" align="center" valign="middle">•</td>
              <td height="30" align="left" valign="middle"><a href="../options/pay.php" class="link02">Payment Status</a></td>
              <td width="30" height="25" align="center" valign="middle">•</td>
              <td height="30" align="left" valign="middle"><a href="../options/invoice.php" class="link02">Recover User ID</a></td>
              <td width="30" height="25" align="center" valign="middle">•</td>
              <td height="30" align="left" valign="middle"><a href="../options/pass.php" class="link02">Recover Password</a></td>
              <td width="30" height="25" align="center" valign="middle">•</td>
              <td height="30" align="left" valign="middle"><a href="../options/help.php" class="link02">Help</a></td>
            </tr>
        </tbody></table>
    </td></tr></tbody></table></td>
                </tr>
                <tr>
                  <td align="left" valign="top">&nbsp;</td>
                </tr>
                <tr>
                  <td  bgcolor="#C9DAED" class="bdr-body" valign="top" >
                    <div class="progress">
                      <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style="width: 0%;"></div>
                  </div>
    <!-- CONTAINER -->
    <div class="box_container" style="width: 100%; margin: 0px;">
      <div class="" style="margin: auto;width: 100%;">
          <!-- TITLE 
          <div class="col-lg-4 offset-lg-1 mx-0 px-0">
              <div id="title-container">
                  <img class="covid-image" src="./img/covid-check.png">
                  <h2>COVID-19</h2>
                  <h3>Self Checker Form</h3>
                  <p>A clinical assessment multi-step form that will assist individuals on deciding when to seek testing or medical care if they suspect they or someone they know has contracted COVID-19 or has come into close contact with someone who has COVID-19</p>
              </div>
          </div>-->
          <!-- FORMS -->
          <div >
    <form class="needs-validation" action="/" id="form-wrapper" method="post" name="form-wrapper" novalidate="">
          {% csrf_token %}
              <div id="qbox-container">
                      <div id="steps-container">
                          <div class="step d-block">
                            <div><h1 style="text-align: center;"><u>Personal Information</u></h1></div>

                            <table width="900" border="0" align="center" valign="middle" cellspacing="0" cellpadding="0">

                              <tbody>
                              <tr>
                                <td align="left">
                                  <fieldset>
                                  <table width="100%" border="1" cellspacing="0" cellpadding="2">
                                    <thead style="height: 25px; background-color: #245b80; color: #fff;padding: 15px"><th colspan="5" style="height: 25px; background-color: #245b80; color: #fff;padding: 15px;">Personal Information</th></thead>
                                    <tbody>
                                    {% for field in form %}
                                    {{ field.errors }}
                                
                                      <tr>
                                          <td width="10%" align="left" valign="middle">&nbsp;</td>
                                          <td width="10%" align="left" valign="middle" class="black12">{{field.label_tag}}</td>
                                          <td width="10%" align="left" valign="middle" class="black12">:</td>
                                          <td width="55%" align="left" valign="middle"><span id="sprytextfield1">
                                            <label>
                                              {{field}}                                        
                                            </label>
                                            <span class="textfieldRequiredMsg">User ID is required!</span></span></td>
                                          <td width="5%" align="left" valign="middle">&nbsp;</td>
                                      </tr>
                                      {% endfor %}
                                      
                                        
                                    
      
                                  </tbody></table>
                                </fieldset>
                              </td>
                              
                            </tr>
                                
                            </tbody>
                          </table>
                            <table width="900" border="0" align="center" valign="middle" cellspacing="0" cellpadding="0">
                              <tbody>
                              <tr>
                                <td align="left">
                                  <fieldset>
                                    <table width="100%" border="1" cellspacing="" cellpadding="5">
                                      <thead style="height: 25px; background-color: #245b80; color: #fff;padding: 15px;"><th colspan="5" style="height: 25px; background-color: #245b80; color: #fff;padding: 15px;">Permanent Adress</th></thead>
                                      <tbody>
                                        {% for field in form1 %}
                                        <tr>
                                            <td width="10%" align="left" valign="middle">&nbsp;</td>
                                            <td width="10%" align="left" valign="middle" class="black12">{{field.label_tag}}</td>
                                            <td width="0%" align="left" valign="middle" class="black12">:</td>
                                            <td width="70%" align="left" valign="middle"><span id="sprytextfield1">
                                              <label>
                                                {{field}}                                        
                                              </label>
                                              <span class="textfieldRequiredMsg">User ID is required!</span></span></td>
                                            <td width="5%" align="left" valign="middle">&nbsp;</td>
                                        </tr>
                                        {% endfor %}
                                        
                                    </tbody></table>
                                  </fieldset>
                              </td>
                              <td align="left">
                                <fieldset>
                                  <table width="100%" border="1" cellspacing="0" cellpadding="3">
                                    <thead style="height: 25px; background-color: #245b80; color: #fff;">
                                      <th colspan="5" style="height: 25px; background-color: #245b80; color: #fff;padding: 15px;">Present Adress</th>
                                    </thead>
                                    <tbody>
                                      <tr><td colspan="5" align="right"><small>same as Permanent Adress</small> <input type="checkbox" id="present_adress"> </td></tr>
                                      <h1>Add a new bird</h1>
                                     
                                      <div id="form-container">
                                        {{formset.management_form}}
                                        {% for form in formset %}
                                        <div class="bird-form">
                                        {{form.as_p}}
                                        </div>
                                        {% endfor %}
                                        <button id="add-form" type="button">Add Another Bird</button>
                                        <button id="remove-form" type="button">Remove Another Bird</button>
                                      </div>
                                    
                                
                                   
                                  </tbody></table>
                                </fieldset>
                            </td>
                                </tr>
                                
                            </tbody>
                          </table>
                            
                          </div>
                          <div class="step d-none">
                          <div><h1 style="text-align: center;"><u>Guardian Information </u></h1></div>

                            <table width="900" border="0" align="center" valign="middle" cellspacing="0" cellpadding="0">

                              <tbody>
                              <tr>
                                <td align="left">
                                  <fieldset>
                            
                              <table width="100%" border="1" cellspacing="0" cellpadding="3">
                                <thead style="height: 25px; background-color: #245b80; color: #fff;">
                                  <th colspan="5" style="height: 25px; background-color: #245b80; color: #fff; padding: 15px; margin-bottom: 15px;">Fill your guardian information</th>
                                </thead>
                                <tbody>
                                  {% for field in guardian_form %}
                                    {{ field.errors }}
                                
                                  <tr>
                                      <td width="10%" align="left" valign="middle">&nbsp;</td>
                                      <td width="10%" align="left" valign="middle" class="black12">{{ field.label_tag }}</td>
                                      <td width="10%" align="left" valign="middle" class="black12">:</td>
                                      <td width="55%" align="left" valign="middle"><span id="sprytextfield1">
                                        <label>
                                          {{ field }}
                                        </label>
                                        <span class="textfieldRequiredMsg">User ID is required!</span></span></td>
                                      <td width="5%" align="left" valign="middle">&nbsp;</td>
                                  </tr>
                                  {% endfor %}
  
                              
                                    
                                
  
                              </tbody></table>
                            </fieldset>
                                </td>
                              </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                          <div class="step d-none">

                            <div><h1 style="text-align: center;"><u>Academic Information</u></h1></div>

                            <table width="900" border="0" align="center" valign="middle" cellspacing="0" cellpadding="0">

                              <tbody>
                              <tr>
                                <td align="left">
                                  <fieldset>
                            
                              <table width="100%" border="1" cellspacing="0" cellpadding="3">
                                <thead style="height: 25px; background-color: #245b80; color: #fff;">
                                  <th colspan="5" style="height: 25px; background-color: #245b80; color: #fff; padding: 15px; margin-bottom: 15px;">SSC or Equivalent Information</th>
                                </thead>
                                <tbody>
                                  {% for field in ssc_equivalent_form %}
                                    {{ field.errors }}
                                
                                  <tr>
                                      <td width="5%" align="left" valign="middle">&nbsp;</td>
                                      <td width="25%" align="left" valign="middle" class="black12">{{ field.label_tag }}</td>
                                      <td width="5%" align="left" valign="middle" class="black12">:</td>
                                      <td width="65%" align="left" valign="middle"><span id="sprytextfield1">
                                        <label>
                                          {{ field }}
                                        </label>
                                        <span class="textfieldRequiredMsg">User ID is required!</span></span></td>
                                      <td width="5%" align="left" valign="middle">&nbsp;</td>
                                  </tr>
                                  {% endfor %}
  
                              
                                    
                                
  
                              </tbody></table>
                            </fieldset>
                                </td>
                              </tr>
                              </tbody>
                            </table>
                              
                          </div>
                          <div class="step d-none">
                              
                            <div><h1 style="text-align: center;"><u>Subject Choice Entry</u></h1></div>

                            <table width="900" border="0" align="center" valign="middle" cellspacing="0" cellpadding="0">

                              <tbody>
                              <tr>
                                <td align="left">
                                  <fieldset>
                            
                              <table width="100%" border="1" cellspacing="0" cellpadding="3">
                                <thead style="height: 25px; background-color: #245b80; color: #fff;">
                                  <th colspan="5" style="height: 25px; background-color: #245b80; color: #fff; padding: 15px; margin-bottom: 15px;">Choose your desiered subject</th>
                                </thead>
                                <tbody>
                                  {{subject_form.media}}
                                  {% for field in subject_form %}
                                    {{ field.errors }}
                                
                                  <tr>
                                      <td width="5%" align="left" valign="middle">&nbsp;</td>
                                      <td width="15%" align="left" valign="middle" class="black12">{{ field.label_tag }}</td>
                                      <td width="5%" align="left" valign="middle" class="black12">:</td>
                                      <td width="75%" align="left" valign="middle"><span id="sprytextfield1">
                                        <label>
                                          {{ field }}
                                        </label>
                                        <span class="textfieldRequiredMsg">User ID is required!</span></span></td>
                                      <td width="5%" align="left" valign="middle">&nbsp;</td>
                                  </tr>
                                  {% endfor %}
                              
                                    
                                
  
                              </tbody></table>
                            </fieldset>
                                </td>
                              </tr>
                              </tbody>
                            </table>
                          </div>
                          <div id="success">
                            <div class="mt-5">
                             
                                <h4>Success! Your admission is done!</h4>
                                <h5>Dont Reload window untill download your admission form</h5>
                                <h4>To download admission form Click Get Admission form Button below!</h4>
                            </div>
                        </div>
              
                          <div class="step d-none">
                            <div class="mt-1">
                              <div class="closing-text">
                                <input type="hidden" value="{{group.title_en}}" name="admission_group">

                                  <h4>That's about it! Stay healthy!</h4>
                                  <p>We will assess your information and will let you know soon if you need to get tested for COVID-19.</p>
                                  <p>Click on the submit button to continue.</p>
                              </div>
                          </div>
                      </div>
                      
                      
                  </div>
                      <div id="q-box__buttons" >
                        <button id="prev-btn" type="button" class="d-inline-block">Previous</button> 
                        <button id="next-btn" type="button" class="d-inline-block">Next</button> 
                        <button id="submit-btn" type="submit" class="d-none">Submit</button>
                    </div>   
              </div>
              
            </form>

            <div id="download_form_id">
              <div class="mt-5">

                <form id="form_download_id" method="post" action="/" target="_blank" >
                  {% csrf_token %}
                <input type="hidden" value="{{student}}" id="student_id" name="student_id">
                <div id="q-box__buttons" >

                  <button type="submit" id="btn_admission_form" style="width:300px;">Download Admission form</button>
                  </div>
                </form>
                
                  <a style="margin-top: 20px; margin-bottom: 20px; margin-left: 10%;" class="back-link" href="">Go back from the beginning ➜</a>
              </div>
          </div>

          </div>
      </div>
  </div>
  <!-- PRELOADER -->
  <div id="preloader-wrapper">
    <div id="preloader"></div>
    <div class="preloader-section section-left"></div>
    <div class="preloader-section section-right"></div>
</div>
  
                      
                  </td>
                </tr>
                <tr>
                  <td align="left" valign="top">&nbsp;</td>
                </tr>
                <tr>
                  <td align="left" valign="top" bgcolor="#B3CBE6" class="bdr-body"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tbody><tr>
                       <td width="0%" height="50" align="center" valign="middle" class="black10">&nbsp;</td>
                      <td width="49%" height="50" align="left" valign="middle">
                      <table width="100%" border="0" cellpadding="5" cellspacing="0" class="black10">
                        <tbody><tr>
                          <td width="85%" align="left" valign="middle">Helpline: 01684411451 (10:00am - 04:00pm)</td>
                        </tr>
                        <tr>
                          <td align="left" valign="middle">©2024, Govt. Mujibur Rahman Women's College, All Rights Reserved.</td>
                        </tr>
                      </tbody></table></td>
                      <td width="40%" height="50" align="left" valign="middle"><table width="100%" border="0" cellpadding="5" cellspacing="0" class="black10">
                        <tbody><tr>
                          <td width="85%" align="right" valign="middle">&nbsp;</td>
                        </tr>
                        <tr>
                          <td align="right" valign="middle">powered by</td>
                        </tr>
                      </tbody></table></td>
                      <td width="10%" height="50" align="center" valign="middle"><img src="{% static 'images/gmrwc_logo.png'%}"  height="44" alt=""></td>
                      </tr>
                  </tbody></table></td>
                </tr>
              </tbody></table></td>
              <td class="main-right">&nbsp;</td>
            </tr>
            <tr>
              <td><img src="{% static 'images/main_07.png'%}" width="19" height="19"></td>
              <td class="main-button">&nbsp;</td>
              <td><img src="{% static 'images/main_09.png'%}" width="20" height="19"></td>
            </tr>
          </tbody></table>
        </td>
      </tr>
    </tbody></table>
    <script>
      let birdForm = document.querySelectorAll(".bird-form")
      let container = document.querySelector("#form-container")
      let addButton = document.querySelector("#add-form")
      let removeButton = document.querySelector("#remove-form")
      let totalForms = document.querySelector("#id_form-TOTAL_FORMS")

      let formNum = birdForm.length-1
      let formNum2=birdForm.length
      addButton.addEventListener('click', addForm)
      removeButton.addEventListener('click', removeForm)
      function addForm(e){
          e.preventDefault()

          let newForm = birdForm[0].cloneNode(true)
          let formRegex = RegExp(`form-(\\d){1}-`,'g')
          alert(formNum)
          formNum++
          alert(formNum)
          newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`)
          container.insertBefore(newForm, addButton)
          
          totalForms.setAttribute('value', `${formNum+1}`)
      }
      function removeForm(e){
        e.preventDefault()
        alert("Remove:"+formNum)
        birdForm[formNum-1].parentNode.removeChild(birdForm[formNum-1]);
        formNum--
        
    }
  </script>
    <script>
      let birdForm = document.querySelectorAll(".bird-form")
      let container = document.querySelector("#form-container")
      let addButton = document.querySelector("#add-form")
      let totalForms = document.querySelector("#id_form-TOTAL_FORMS")

      let formNum = birdForm.length-1
      addButton.addEventListener('click', addForm)

      function addForm(e){
          e.preventDefault()

          let newForm = birdForm[0].cloneNode(true)
          let formRegex = RegExp(`form-(\\d){1}-`,'g')

          formNum++
          newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`)
          container.insertBefore(newForm, addButton)
          
          totalForms.setAttribute('value', `${formNum+1}`)
      }
  </script>
  <script>

    function updateElementIndex(el, prefix, ndx) {
      var id_regex = new RegExp('(' + prefix + '-\\d+)');
      var replacement = prefix + '-' + ndx;
      if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
      if (el.id) el.id = el.id.replace(id_regex, replacement);
      if (el.name) el.name = el.name.replace(id_regex, replacement);
  }
  function cloneMore(selector, prefix) {
      var newElement = $(selector).clone(true);
      var total = $('#id_' + prefix + '-TOTAL_FORMS').val();
      newElement.find(':input:not([type=button]):not([type=submit]):not([type=reset])').each(function() {
          var name = $(this).attr('name').replace('-' + (total-1) + '-', '-' + total + '-');
          var id = 'id_' + name;
          $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
      });
      newElement.find('label').each(function() {
          var forValue = $(this).attr('for');
          if (forValue) {
            forValue = forValue.replace('-' + (total-1) + '-', '-' + total + '-');
            $(this).attr({'for': forValue});
          }
      });
      total++;
      $('#id_' + prefix + '-TOTAL_FORMS').val(total);
      $(selector).after(newElement);
      var conditionRow = $('.form-row:not(:last)');
      conditionRow.find('.btn.add-form-row')
      .removeClass('btn-success').addClass('btn-danger')
      .removeClass('add-form-row').addClass('remove-form-row')
      .html('<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>');
      return false;
  }
  function deleteForm(prefix, btn) {
      var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
      if (total > 1){
          btn.closest('.form-row').remove();
          var forms = $('.form-row');
          $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
          for (var i=0, formCount=forms.length; i<formCount; i++) {
              $(forms.get(i)).find(':input').each(function() {
                  updateElementIndex(this, prefix, i);
              });
          }
      }
      return false;
  }
  $(document).on('click', '.add-form-row', function(e){
      e.preventDefault();
      cloneMore('.form-row:last', 'form');
      return false;
  });
  $(document).on('click', '.remove-form-row', function(e){
      e.preventDefault();
      deleteForm('form', $(this));
      return false;
  });
          
              window.onload = (event) => {
let compulsory_subject_initialized=document.getElementsByClassName('selector-available');
let filter_compusory=document.getElementById('id_compulsory_subject_filter_selected');
let remove_compusory=document.getElementById('id_compulsory_subject_remove_all_link');

let selector_chooser=document.getElementsByClassName('selector-chooser');


compulsory_subject_initialized[0].style.display='none';
selector_chooser[0].style.display='none';

filter_compusory.style.display='none';
remove_compusory.style.display='none';

z= compulsory_subject_initialized.getElementsByTagName("option");
for (i = 0; i < z.length; i++) {

  z[i].setAttribute('disabled','true','readonly','true');

}

alert(compulsory_subject_initialized.length);
};




const progress = (value) => {
   document.getElementsByClassName('progress-bar')[0].style.width = `${value}%`;
}

   let step = document.getElementsByClassName('step');
   let prevBtn = document.getElementById('prev-btn');
   let nextBtn = document.getElementById('next-btn');
   let submitBtn = document.getElementById('submit-btn');
   let form = document.getElementsByTagName('form')[0];
   let preloader = document.getElementById('preloader-wrapper');
   let bodyElement = document.querySelector('body');
   let succcessDiv = document.getElementById('success');
   let downloadDiv = document.getElementById('downlod_form_id');

   let addChoiceBtn=document.getElementsByName('id_fourth_subject');
   
   form.onsubmit = () => { return false }

   let current_step = 0;
   let stepCount = 4
   step[current_step].classList.add('d-block');
   if(current_step == 0){
      prevBtn.classList.add('d-none');
      submitBtn.classList.add('d-none');
      nextBtn.classList.add('d-inline-block');
   }


   nextBtn.addEventListener('click', () => {
    var x, y, i, valid = true;
    var options=document.getElementById('id_compulsory_subject_to').getElementsByTagName('option');
    for(i=0;i<options.length ;i++){
    options[i].selected = 'selected';
    }
    document.getElementById('id_compulsory_subject_to').disabled='disabled';


          //document.getElementById('toast-container').style.visibility ='hidden';
      current_step++;
      let previous_step = current_step - 1;
      let flag=validateForm();
      if(( current_step > 0) && (current_step <= stepCount) && flag){
        prevBtn.classList.remove('d-none');
        prevBtn.classList.add('d-inline-block');
        step[current_step].classList.remove('d-none');
        step[current_step].classList.add('d-block');
        step[previous_step].classList.remove('d-block');
        step[previous_step].classList.add('d-none');
        if (current_step == stepCount){
          submitBtn.classList.remove('d-none');
          submitBtn.classList.add('d-inline-block');
          nextBtn.classList.remove('d-inline-block');
          nextBtn.classList.add('d-none');
        }
      } else {
        if(current_step > stepCount){
            form.onsubmit = () => { return true }
        }
      }
    progress((100 / stepCount) * current_step);
    function validateForm() {
      // This function deals with validation of the form fields
      if(current_step==4 ){
        

        if(document.getElementById('id_fourth_subject').value==''){
          valid= false;
        }
       /* var select=document.getElementsByName('compulsory_subject');
          var compulsory_subject=select[1];
          if(compulsory_subject.length<6){
            valid= false;
          }*/

        
          

      }
      
      x = document.getElementsByClassName("step d-block");
      //alert(current_step);
   
      y = x[0].getElementsByTagName("input");
      z= x[0].getElementsByTagName("select");

      for (i = 0; i < y.length; i++) {
        // If a field is empty...
         //alert(y[i]+y[i].required);
   //alert(y[i].getAttribute('id')+": "+y[i].hasAttribute('required'));
   
        if (y[i].value == '' && y[i].hasAttribute('required') ) {
   

            y[i].className='textfieldUSERinfoInvalid';
          
          valid = false;
   
        }
      }
      
      for (i = 0; i < z.length; i++) {
         // If a field is empty...
   
         if (z[i].value == '' && z[i].hasAttribute('required') ) {
            //alert(z[i].getAttribute('id')+": "+z[i].hasAttribute('required'));
   
           if(z[i].className=='textfieldUSER')
             z[i].className='textfieldUSERInvalid';
          else
            z[i].className='textfieldUSERinfoInvalid';
            
           valid = false;
   
         }
       }
      //alert("valid:"+valid);
      if(!valid){
         current_step--;
      var x = document.getElementById("toast-container");

  // Add the "show" class to DIV
      x.className = "show";

  // After 3 seconds, remove the show class from DIV
      setTimeout(function(){ x.className = x.className.replace("show", ""); }, 11000);
         /*var x = document.getElementById("toast-container");
                   x.className = "toast-top-center";
                   x.style.visibility="vissible"

                   setTimeout(function(){ 
                       x.className = x.className.replace("toast-top-center","");
                      
                       
                    }, 8000);*/
                    
   
      }
       return valid; // return the valid status
   }
   
   
   
       });
       
   

   prevBtn.addEventListener('click', () => {
     if(current_step > 0){
        current_step--;
        let previous_step = current_step + 1; 
        prevBtn.classList.add('d-none');
        prevBtn.classList.add('d-inline-block');
        step[current_step].classList.remove('d-none');
        step[current_step].classList.add('d-block')
        step[previous_step].classList.remove('d-block');
        step[previous_step].classList.add('d-none');
        if(current_step < stepCount){
           submitBtn.classList.remove('d-inline-block');
           submitBtn.classList.add('d-none');
           nextBtn.classList.remove('d-none');
           nextBtn.classList.add('d-inline-block');
           prevBtn.classList.remove('d-none');
           prevBtn.classList.add('d-inline-block');
        } 
     }

     if(current_step == 0){
        prevBtn.classList.remove('d-inline-block');
        prevBtn.classList.add('d-none');
     }
    progress((100 / stepCount) * current_step);
   });


/*submitBtn.addEventListener('click', () => {
    //preloader.classList.add('d-block');

     ///////////////////Submit student form Ajax code///////////////////

     var frm = $('#form-wrapper')[0];
     var form= new FormData(frm);

     var csrfToken = $('[name="csrfmiddlewaretoken"]').val();

     // Get the data from the form
    

     // Send AJAX request
     $.ajax({
         enctype: 'multipart/form-data',
         type: 'POST',
         url: "/",  // Adjust the URL as per your project structure
         data: form1,
         headers: {
             'X-CSRFToken': csrfToken
         },
         
         cache:false,
         processData:false,
         contentType:false,
        
         success: function (response) {
             
             //document.getElementById("student_form").reset();
             if (response.status === 'success') {
                 // Clear the form
                
                alert(response.status);


             } else {
              alert("Success message not found");
                     
                 }
                 
         },
         error: function (xhr, status, error) {
            
             var err = eval("(" + xhr.responseText + ")");
             alert(err.Message);
         }
     });


    //////////////////////////////////////////////////////////////////
    const timer = ms => new Promise(res => setTimeout(res, ms));

    timer(3000)
      .then(() => {
           bodyElement.classList.add('loaded');
      }).then(() =>{
          step[stepCount].classList.remove('d-block');
          step[stepCount].classList.add('d-none');
          prevBtn.classList.remove('d-inline-block');
          prevBtn.classList.add('d-none');
          submitBtn.classList.remove('d-inline-block');
          submitBtn.classList.add('d-none');
          succcessDiv.classList.remove('d-none');
          succcessDiv.classList.add('d-block');
      })
      
});*/

function fourthSubject(id){
  alert(current_step);
  
  if(current_step==3){
    var compulsory_subject=document.getElementById('id_optional_subject_from');
    var selected_item = document.getElementById('id_fourth_subject');
      if(compulsory_subject.length==1){
        selected_item.value=compulsory_subject[0].value;
        return false;
      }

      
      
     
      

  }

}
function subjectChoice(id){
  alert("subjectChoice");

}
addChoiceBtn.addEventListener('change', () => {
    alert("subjectChoice");
});

</script>
<script>
    $(document).ready(function () {
            
            $('#submit-btn').on('click', function () {
              var subjectCount=0;
              var compulsory_options;
              var options;
              compulsory_options=document.getElementById('id_compulsory_subject_to').getElementsByTagName('option');
              subjectCount=compulsory_options.length;
              document.getElementById('id_compulsory_subject_to').disabled='';
              try{
              options=document.getElementById('id_optional_subject_to').getElementsByTagName('option');
              var selected_4rth = document.getElementById('id_fourth_subject');
              var flag_submit=0;
              alert(selected_4rth.value);
              for(i=0;i<options.length ;i++){
                subjectCount++;
                if(options[i].value==selected_4rth.value){
                  flag_submit=1;
                  break;

                }
              options[i].selected = 'selected';
             }
              if(subjectCount<6 || flag_submit==1){
                alert("Choose All 7 Subject and do not repeat twice ");
                return false;
              }
              
              }catch(err){

              }
            //preloader.classList.add('d-block');
            var frm = $('#form-wrapper')[0];
            var form= new FormData(frm);
            var form1=document.getElementById('form-wrapper');
            form1.submit();
          /*  var csrfToken = $('[name="csrfmiddlewaretoken"]').val();
            //alert("hi");

            // Get the data from the form
           
       
            // Send AJAX request
     $.ajax({
                enctype: 'multipart/form-data',
                type: 'POST',
                url: "/",  // Adjust the URL as per your project structure
                data: form,
                headers: {
                    'X-CSRFToken': csrfToken
                },
                
                cache:false,
                processData:false,
                contentType:false,
               
                success: function (response) {
                    
                    //document.getElementById("student_form").reset();
                    if (response.status === 'success') {
                        // Clear the form
                        //alert(response.student)
                       $('#student_id').val(response.student);
                       //alert(response.status);
       
       
                    } else {
                     ///alert("Success message not found");
                            
                        }
                        
                },
                error: function (xhr, status, error) {
                   
                    var err = eval("(" + xhr.responseText + ")");
                    alert(err.Message);
                }
            });
       
       
           //////////////////////////////////////////////////////////////////
           const timer = ms => new Promise(res => setTimeout(res, ms));
       
           timer(3000)
             .then(() => {
                  bodyElement.classList.add('loaded');
             }).then(() =>{

                 step[stepCount].classList.remove('d-block');
                 step[stepCount].classList.add('d-none');
                 prevBtn.classList.remove('d-inline-block');
                 prevBtn.classList.add('d-none');
                 submitBtn.classList.remove('d-inline-block');
                 submitBtn.classList.add('d-none');
                 succcessDiv.classList.remove('d-none');
                 succcessDiv.classList.add('d-block');
                 $('#download_form_id').attr('class','d-block')
                 
             }) */
            
            });
////////////////////Submit for admission form download/////////////////////

           

          });
        </script>
        
    
    </body></html>
