{% extends "admin/base.html" %}
{%load static %}
<style> 

</style>
{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('GMRWC') }}{% endblock %}

{% block branding %}
<h1 id="site-name" align="center"><a href="{% url 'admin:index' %}" ><img height="80px" width="auto"  src="{% static 'images/gmrwc_logo.png'%}" alt="ictparkbd_logo" >৪ নং তিলকপুর ইউনিয়ন পরিষদ, আক্কেলপুর, জয়পুরহাট</a></h1>
{% if user.is_anonymous %}
  {% include "admin/color_theme_toggle.html" %}
{% endif %}

{% endblock %}

{% block nav-global %}{% endblock %}
