{% extends 'basepage/ictparkbd_layout.html' %}

{% block content %}
{% load static %}
<style>
    .main_body{
        width:100%;
        height:100%;
        color:red;
    }
    option{
      color:var(--weather);
      font-weight:bold;
      font-size:17px;
    }
    option:hover:after{
      background-color:var(--weather);
      font-weight:bold;
    }
    @media(max-width:767px){
        .main_body{
            width:100%;
            height:700px;
            color:red;
            background-color:green;
        }   
    }
</style>
<div class="services">
<div data-v-6f04a53f="" class="memberRegistration py-5" >
    <div class="container-wrapper">
      <div class="row justify-content-md-center">
        <div class="col col-lg-10">
          <div class="card login-body shadow-lg rounded-10 py-5">
            <div class="card-body">
            <span class="shape"><img align="center" loading="lazy" src="{% if developer_details %}{{ developer_details.logo.url }}{% endif %}"><img align="center" loading="lazy" style="height:60%;margin-top:10%;rotate: -50deg;" src="{{ union_details.logo.url}}"></span> 

            <h1 style="text-align: center;">
                Server error 404!
                <br>
            </h1>
          </div>
<!-- CONTAINER -->
             </div>
        </div>
      </div>
    </div>
  </div>
</div>
 
{% endblock  %}
