{% extends 'basepage/ictparkbd_layout.html' %}

{% block content %}
{% load static %}
<style>
    .main_body{
        width:100%;
        height:100%;
        color:red;
    }
    @media(max-width:767px){
        .main_body{
            width:100%;
            height:700px;
            color:red;
            background-color:green;
        }   
    }
</style>

<!-- CONTAINER -->
<div class="services">
  
  <div data-v-6f04a53f="" class="memberRegistration py-5">
    <div class="container-wrapper">
      <div class="row justify-content-md-center">
        <div class="col col-lg-10">
          <div class="card login-body shadow-lg rounded-10 py-5">
            <table width="100%" border="1" cellspacing="0" cellpadding="10">
              <thead><th colspan="5" style="height: 40px; background-color: #035a4c; color: #fff;padding: 15px;font-size:20px;text-align:center;">( {{license.license_type.name}} এর আবেদনের তথ্য )  </th></thead>
              <tbody>
              </tbody>
            </table>
                <div class="card-body">

                <span class="bubbleNew"><img src="{%static 'images/ictpark_monogram.png'%}" class="rounded-circle"  /></span>

                <span class="shape"><img align="center"  src="{% static 'images\ictparkbd_logo.jpg' %}"><img align="center" style="height:60%;margin-top:10%;rotate: -50deg;" src="{% static 'images\tilokpur_logo.png' %}"></span> 
                {%if email %}
            
            <div class="alert alert-danger" role="alert">
              <strong>{{email}}</strong> 
            </div>
            
            {% endif %}
            {%if phone %}
            
            <div class="alert alert-danger" role="alert">
              <strong>{{phone}}</strong> 
            </div>
            
            {% endif %} 
            
            {%if password %}
            
            <div class="alert alert-danger" role="alert">
              <strong>{{password}}</strong> 
            </div>
            
            {% endif %}
            
            {%if success %}
            
            <div class="alert alert-success" role="alert">
              <strong>{{success}}</strong> 
            </div>
            
            {% endif %}
            
            <form  action="{% url 'submit__license_form' %}" method="post" enctype="multipart/form-data" target="_blank">
              {% csrf_token %}
                  <div id="qbox-container">
                          <div id="steps-container">
                              <div class="step d-block" >
                                
                                <div><h4 style="text-align: center;"><u>ট্র্যাকিং নম্বর ({{license.tracking_no}}) সংগ্রহে রাখুন </u></h4></div>
                                <div><h3 style="text-align: center;">( {{license.license_type.name}} এর আবেদন ) </h3></div>
      
                                <table  width="900" border="0" align="center" valign="middle" cellspacing="0" cellpadding="0">
      
                                  <tbody>
                                  <tr>
                                    <td align="left">
                                      <fieldset>
                                      <table width="100%" border="1" cellspacing="0" cellpadding="2">
                                        <thead style="height: 25px; background-color: #035a4c; color: #fff;padding: 15px"><th colspan="5" style="height: 25px; background-color: #035a4c; color: #fff;padding: 15px;text-shadow: 3px 3px 3px rgb(73, 25, 11);"> আবেদনের তথ্য</th></thead>
                                        <tbody>
                                        
      
                                          <tr>
                                              <td width="25%" align="right" valign="middle" class="sprytextfield1"><b>সনদের ট্র্যাকিং নম্বরঃ </b></td>
                                              <td width="75%" align="left" valign="middle"><span id="sprytextfield1">
                                                <label>
                                                  <input value="{{license.tracking_no}}" name="tracking_no" type="text" class="form-control form-control-sm">                                       
                                                </label>
                                              </span></td>
      
                                            </tr>
      
                                            <tr>
                                                <td width="25%" align="right" valign="middle" class="sprytextfield1"><b>প্রতিষ্ঠানের নামঃ </b></td>
                                                <td width="75%" align="left" valign="middle"><span id="sprytextfield1">
                                                  <label>
                                                    {{license.licensed_name}}                                        
                                                  </label>
                                                </span></td>
        
                                              </tr>
                                              <tr>
                                                <td width="20%" align="right" valign="middle" class="sprytextfield1"><b>প্রতিষ্ঠানের ঠিকানাঃ </b>  </td>
                                                <td colspan="2" align="center" valign="middle"><span id="sprytextfield1">
                                                  <label>
                                                    গ্রামঃ {{license.adress_of_license.village.name}} মৌজাঃ {{license.adress_of_license.mouja.name}}<br>
                                                    ইউনিয়নঃ তিলকপুর, উপজেলাঃ আক্কেলপুর, জেলাঃ জয়পুরহাট। 
                                                  </label>
        
                                              </tr>
                                              <tr>
                                                <td width="25%" align="right" valign="middle" class="sprytextfield1"><b>স্বত্তাধিকারীর নামঃ </b></td>
                                                <td width="75%" align="left" valign="middle"><span id="sprytextfield1">
                                                  <label>
                                                    {{license.license_owner_name}}                                        
                                                  </label>
                                                </span></td>
        
                                              </tr>
                                            <tr>
                                              <td width="25%" align="left" valign="middle" class="sprytextfield1"><b>পিতার নামঃ </b></td>
                                              <td width="75%" align="left" valign="middle"><span id="sprytextfield1">
                                                <label>
                                                  {{license.father_name}}                                        
                                                </label>
                                              </span></td>
      
                                            </tr>
                                            <tr>
                                              <td width="25%" align="left" valign="middle" class="sprytextfield1"><b>মাতার নামঃ</b> </td>
                                              <td width="75%" align="left" valign="middle"><span id="sprytextfield1">
                                                <label>
                                                  {{license.mother_name}}                                        
                                                </label>
                                                </span></td>
      
                                            </tr>
                                            
                                            <tr>
                                              <td width="20%" align="right" valign="middle" class="sprytextfield1"><b>ঠিকানাঃ </b></td>
                                              <td width="70%" align="left" valign="middle"><span id="sprytextfield1">
                                                <label>
                                                  গ্রামঃ {{license.adress.union.name}}, ইউনিয়নঃ {{license.adress.union.name}} <br> উপজেলাঃ {{license.adress.upazilla.name}}, জেলাঃ {{license.adress.district.name}}। 
                                                </label>
      
                                            </tr>
                                           
                                            
      
                                            
                                            <tr>
                                              <td width="20%" align="right" valign="middle" class="sprytextfield1"><b>অনলাইন চার্জঃ  </b>  </td>
                                              <td width="70%" align="left" valign="middle"><span id="sprytextfield1">
                                                <label id="date">
                                                 ১২.২৫ টাকা                                          
                                              </label>
      
                                            </tr>
                                           
                                        
          
                                      </tbody></table>
                                    </fieldset>
                                  </td>
                                  
                                </tr>
                                    
                                </tbody>
                              </table>
                                
                                    
      
                              </div>
                             
                              
                             
                          
                          
                      </div>
                      <div class="col-sm-12 form-group">
                        <div class="row">
                          <div class="custom-control custom-checkbox">
                            <div class="col-form-label-sm font-weight-bold mb-0 custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" value="true" id="__BVID__164" required /><label class="custom-control-label" for="__BVID__164">
                                উপরের সকল তথ্য সঠিক এবং অনলাইন চার্জ প্রদান করতে সম্মত আছি
                              </label>
                            </div> <div class="invalid-feedback"></div>
                          </div>
                        </div>
                      </div> 
                      <div class="col-sm-9 form-group">
                        <p class="text-right">
                          <br>
                          <button type="submit" class="btn btn-danger text-white"><span>সাবমিট</span></button>
                        </p>
                      </div>  
                  </div>
                  
                </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




{% endblock  %}
