

{% extends 'basepage/basepage_license.html' %}

{% block content %}
{% load static %}
{% load union_custom_tags %}

<style>
    .main_body{
        width:100%;
        height:100%;
        color:red;
    }
    @media(max-width:767px){
        .main_body{
            width:100%;
            height:700px;
            color:red;
            background:green;
        }   
    }
</style>


  <link rel="icon" href="{% static 'images/gmrwc_logo.png'%}" type="image/x-icon">

  
  
<style>
body{
    font-weight: normal;
    font-style:normal;
        
      
}
#first_table{
    width:80%;
    height:100%
}
    .row{
        margin-left:15%;
    }
  button#print, button#next-btn, button#submit-btn {
  font-size: 17px;
  font-weight: bold;
  position: relative;
  width: 300px;
  height: 50px;
  background: #DC3545;
  margin-left: 50%;
  margin-top: 20px;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
  transition: color .3s;
  text-align: center;
  color: #fff;
  border: 0;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
button#print:after, button#next-btn:after, button#submit-btn:after {
  result: absolute;
  top: 90%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #05812a;
  content: "";
  z-index: -2;
  transition: transform .3s;
}
button#print:hover::after, button#next-btn:hover::after, button#submit-btn:hover::after {
  transform: translateY(-80%);
  transition: transform .3s;
}



@media print and (min-width: 300px) {
    
  table{
      -webkit-print-color-adjust: exact; 

}
table.result {
  width:80%;
   }
#submit-btn {
  display: none !important;;
}        
}
    
    

  @media (max-width:767px){
    
    #column{
      width:100%;
      margin-left:0%;
    }
   
  }
  
  
  table.result {
    width:80%;
     } 
              
table.result th, table.result td {
                padding:0em;
                -webkit-print-color-adjust: exact; 
        
                }
    
  
  

#heading {
    color: #000080 !important;;
  }


  table.table_bottom td{
    border: 1px solid #000;
    text-align:center;
    
  }

#column{
  width:95%;
  margin-left:2%;
}
@media (max-width:767px){
    table.result {
       width:70%;
        }

  
}




goog-te-combo, .VIpgJd-ZVi9od-ORHb *, .VIpgJd-ZVi9od-SmfZ *, .VIpgJd-ZVi9od-xl07Ob *, .VIpgJd-ZVi9od-vH1Gmf *, .VIpgJd-ZVi9od-l9xktf *{
  display:none;
}
</style>
<div class="box_container" style="width: 100%; margin: 0px;">
    <div  style="margin: auto;width: 100%;">
        
        {% if license.language == '2' %}
                  
                  <div >
                        <div class="step d-block" >
                          <div >
                            <h3 style="text-align: center;">                            
                              <button class="rounded-50 ml-2" id="license_title" style=" background:var(--internal); padding-left:5px;padding-right:10px;color:brown"> 
                                {{license_type.name_en}}
                              </button>
                          </h3>
                          </div>
                            <table align="center" width="90%">
                              <tr style="padding:0px;">
                              <td>
                                <div  align="left"><h5 style="text-align: left; margin-left:6%">
                                  License No.: &nbsp<div style="display:inline;" >{{license.license_no}}</div></h5>
                              </div>
                              </td>
                              <td>                            
                                <div   align="right"><h5 style="text-align: right;">
                                  Issue Date: &nbsp<div style="display:inline">{{license.transaction.tran_date|date:"d-m-Y"}}</div>&nbsp&nbsp</h5>
                                </div>
                              </td>
                            </tr>
                          </table>


                         
                          <table  width="690"  align="center" valign="top" cellspacing="0" cellpadding="0">

                            <tbody>
                            <tr>
                              <td  align="center">
                                <table   width="80%" align="center" style="font-size:15px;"  cellspacing="0" cellpadding="0">
                                  <tbody>
                                    <tr>
                                      <td colspan="6"  align="left"  >
                                       
                                          <b><div style="display:inline-block;line-height:1;">
                                            
                                                  Name of Business Organization: 
                                          </div>
                                          <div style="display:inline-block;margin-left: 20px;">
                                             
                                              {{license.licensed_name}} 
                                      </div></b>
                                      
                                      </td> 
                                   
                                  </tr>
                                    <tr>
                                        <td colspan="6"  align="left"  >
                                         
                                            <div style="display:inline-block;line-height:1;">
                                              
                                                    Name of License Holder: 
                                            </div>
                                            <div style="display:inline-block;margin-left: 20px;">
                                               
                                                {{license.license_owner_name}} 
                                        </div>
                                        
                                        </td> 
                                     
                                    </tr>
                                    <tr>
                                        <td colspan="6"  align="left"  >
                                            <div style="display:inline-block;">
                                              
                                                NID/Birth Registration: 
                                            </div>
                                            <div style="display:inline-block; margin-left: 20px;">
                                               
                                                <u>{{license.nid}} </u>
                                        </div>
                                        </td> 
                                     
                                      
                                    </tr>
                                    <tr>
                                        <td colspan="6"  align="left"  >
                                            <div style="display:inline-block;">
                                                
                                                  Father's Name: 
                                            </div>
                                          
                                        
                                      
                                           
                                            <div style="display:inline-block; margin-left: 20px;">
                                                
                                                    <u>{{license.father_name}} </u>
                                            </div>
                                          </td>
                                        </tr>
                                          <tr>
                                            <td colspan="6"  align="left"  >

                                            <div style="display:inline-block;">
                                                
                                                Mother's Name: 
                                        </div>
                                        <div style="display:inline-block; margin-left: 20px;">
                                                
                                            <u>{{license.mother_name}} </u>
                                     </div>

                                        </td> 
                    
                                    </tr>
                                    <tr>
                                        <td  colspan="1" align="left" valign="middle" >
                                            <div style="display:inline-block;">
                                              
                                                Address:
                                            </div>
                                          </td>
                                    </tr>
                                    <tr>
                  
                                          <td  colspan="5" align="left" valign="middle" >
                                            <div style="display:inline-block;">
                                            
                                              Village: {{license.adress.village}}, Union: {{license.adress.union.name_en}}
                                            </div>
                                        </td>
                                      </tr>
                                      <tr>
                                       
                                        <td  colspan="5" align="left" valign="middle" >
                                            <div style="display:inline-block;">
                                            
                                              Upazilla: {{license.adress.upazilla.name_en}}, District: {{license.adress.district.name_en}}।
                                            </div>
                                        </td> 
                                    </tr>
                                    <tr>
                                        <td  colspan="6" align="left" valign="middle" >
                                            <div style="display:inline-block;">
                                              
                                                Address Of Business Organization: 
                                            </div>
                                          </td>
                                    </tr>  
                                          <tr>
                                            <td colspan="5" align="left" valign="middle">
                                            <div style="display:inline-block;">
                                            
                                            Place:  {{license.place_of_license}} ,  Vilage: {{license.adress_of_license.village.name_en}} <br>  
                                              
                                            </div>
                                        </td> 
                                    </tr>
                                    <tr>
                                      <td  colspan="5" align="left" valign="middle" >
                                         
                                          <div style="display:inline-block;">
                                        
                                                    Union: {{ union_details.name_short_en }}, Upazilla: {{union_details.upazilla.name_en }}, District: {{union_details.district.name_an}}.
                                          </div>
                                      </td> 
                                  </tr>
                                    <tr>
                                        <td  colspan="6" align="left" valign="middle" >
                                            <div style="display:inline-block;">
                                              
                                                Business Type 
                                            </div>
                                            <div style="display:inline-block;margin-left: 20px;">
                                              {% if license.profession %}
                                                {{license.profession}} 
                                                {% else %}
                                                ---------
                                                {% endif %}
                                            </div>
                                        </td> 
                                    </tr>
                                    <tr>
                                        <td  colspan="6" align="left" valign="middle" >
                                            <!-- <div style="display:inline-block;">
                                              
                                                পরিশোধিত মূলধনের পরিমাণঃ
                                            </div> -->
                                            <!-- <div style="display:inline-block;margin-left: 20px;">
                                                
                                                {% if license.capital %}
                                                {{license.capital}}
                                                {% else %}
                                                ----------
                                                {% endif %}
                                                  
                                                
                                            </div> -->
                                        </td> 
                                    </tr>
                                    <tr>
                                        <td  colspan="6" align="left" valign="middle" >
                                            <div style="display:inline-block;">
                                              
                                                Validation Time:                                      
                                            </div>
                                            <div style="display:inline-block;margin-left: 20px;">
                                             June 30, <div style="display:inline;" id="to_year">{% if license.duration_to %} {{license.duration_to|date:"Y"}} {% elif license.created_at|date:"n" < 6 %} {{ license.created_at|date:"Y" }} {% else %} {{ license.created_at|date:"Y"|add:'1' }} {% endif %} </div>
                                        </td> 
                                    </tr>
                                    <tr>
                                        <td  colspan="6" align="left"  cellpadding="2" valign="middle" >
                                            <div style="display:inline-block;">
                                              
                                               <b> Fee or Tax amount: </b>                                         
                                            </div>
                                           
                                        </td> 
                                    </tr>
                                    <tr>
                                        <td  colspan="6"  valign="middle" >
                                            <table class="table_bottom" width="100%"  align="center">
                                                <tr >
                                                    <td>Tax on Business</td>
                                                    <td>Fee on business</td>
                                                    <td>Vat and others</td>
                                                    <td>Total</td>
                                                </tr>
                                                <tr id="payment">
                                                    <td>
                                                      {% if license.tax %}
                                                      {{license.tax}}
                                                      {% else %}
                                                      ------
                                                      {% endif %}
                                                     
                                                    </td>
                                                    <td>
                                                      {% if license.fee %}
                                                      {{license.fee}}
                                                      {% else %}
                                                      ------
                                                      {% endif %}
                                                      
                                                    </td>
                                                    <td>
                                                      {% if license.vat_n_others %}
                                                      {{license.vat_n_others}}
                                                      {% else %}
                                                      ------
                                                      {% endif %}
                                                      
                                                    </td>
                                                    <td>
                                                      {% if license.total_payment %}
                                                      {{license.total_payment}}
                                                      {% else %}
                                                      ------
                                                      {% endif %}
                                                     
                                                    </td>
                                                </tr>
                                                <tr>
                                                  <td colspan="3">In Words: 
                                                    {% if license.total_payment_in_word %}
                                                      {{license.total_payment_in_word}}
                                                      {% else %}
                                                      ------
                                                      {% endif %}
                                                   
                                                    <td>
                                                     
                                                </tr>
                                               
                                            </table>
                                        </td> 
                                    </tr>
                                    <tr>
                                        <td  colspan="6" align="left" valign="middle" >
                                            <div style="display:inline-block;text-align:justify">
After getting all fee, TAX and VAT  we approve the license to run business within the arena of {{ union_details.name_short_en }}                                                                               
                                            </div>
                                           
                                        </td> 
                                    </tr>
                                    <tr>
                                        <td  colspan="6" width="690" align="left" valign="middle" class="sprytextfield1" style="font-weight:500;text-align:justify">     </td>

                                    </tr>
                                  
                                  
                                    <tr valign="top">
                                      <td  colspan="2" align="center"></div><div style="float:left;text-align:center"><img id='barcode' loading="lazy" src="https://api.qrserver.com/v1/create-qr-code/?data=Certificate:{{license.license_type.name_en}}%0DTracking No: {{license.tracking_no}}%0DName:{{license.name}}&amp;size=200x200" width="120px" height="120px" alt="{{license.name}}" title="{{license.license_type.name_en}}:{{license.name}}" width="50" height="50" /></div></td>

                                        <td  colspan="2" align="right"><br></div></td>
                                        <td  colspan="2" align="right"><div style="float:right;text-align:center"></div><div style="float:right;text-align:center"><img height="50" src="{% if license.chairman.signature %}{{license.chairman.signature.url}}{% endif %}" alt="Chairman Signature"><br>{{ license.chairman.name_en }}<br>{{ license.chairman.post.name_en }}<br>{{ union_details.name_en }}<br>{{union_details.upazilla.name_en}}, {{union_details.district.name_en}}</div></td>

                                       
                                   </tr>
                                    <tr>
                                        
           
                                       
                                   </tr>
                                  
                                      
                                      
                                     
                                </tbody></table>
                            </td>
                            
                          </tr>
                              
                          </tbody>
                        </table>
                          
                              

                        </div>
                       
                        
                       
                    
                
                </div>

          
                  {% else %}
                  <div >
                        <div class="step d-block" >
                          <div >
                            <h3 style="text-align: center;">                            
                              <button class="rounded-50 ml-2" id="license_title" style=" background:var(--internal); padding-left:5px;padding-right:10px;color:brown"> 
                                {{license_type.name}}
                              </button>
                          </h3>
                          </div>
                            <table align="center" width="90%">
                              <tr style="padding:0px;">
                              <td>
                                <div  align="left"><h5 style="text-align: left; margin-left:6%">
                                  লাইসেন্স নম্বর: &nbsp<div style="display:inline;" id="memorial">{{license.license_no}}</div></h5>
                              </div>
                              </td>
                              <td>                            
                                <div   align="right"><h5 style="text-align: right;">
                                  ইস্যু তারিখঃ &nbsp<div id="date" style="display:inline">{{license.transaction.tran_date|date:"d-m-Y"}}</div>&nbsp&nbsp</h5>
                                </div>
                              </td>
                            </tr>
                          </table>


                         
                          <table  width="690"  align="center" valign="top" cellspacing="0" cellpadding="0">

                            <tbody>
                            <tr>
                              <td  align="center">
                                <table   width="80%" align="center" style="font-size:15px;"  cellspacing="0" cellpadding="0">
                                  <tbody>
                                    <tr>
                                      <td colspan="6"  align="left"  >
                                       
                                          <b><div style="display:inline-block;line-height:1;">
                                            
                                                  ব্যবসা প্রতিষ্ঠানের নামঃ 
                                          </div>
                                          <div style="display:inline-block;margin-left: 20px;">
                                             
                                              {{license.licensed_name}} 
                                      </div></b>
                                      
                                      </td> 
                                   
                                  </tr>
                                    <tr>
                                        <td colspan="6"  align="left"  >
                                         
                                            <div style="display:inline-block;line-height:1;">
                                              
                                                    স্বত্তাধিকারী/লাইসেন্সধারীর নামঃ 
                                            </div>
                                            <div style="display:inline-block;margin-left: 20px;">
                                               
                                                {{license.license_owner_name}} 
                                        </div>
                                        
                                        </td> 
                                     
                                    </tr>
                                    <tr>
                                        <td colspan="6"  align="left"  >
                                            <div style="display:inline-block;">
                                              
                                                জাতীয় পরিচয় পত্র /জন্ম নিবন্ধন নংঃ 
                                            </div>
                                            <div style="display:inline-block; margin-left: 20px;">
                                               
                                                <u>{{license.nid|eng_to_bengali_digits}} </u>
                                        </div>
                                        </td> 
                                     
                                      
                                    </tr>
                                    <tr>
                                        <td colspan="6"  align="left"  >
                                            <div style="display:inline-block;">
                                                
                                                    পিতার নামঃ 
                                            </div>
                                          
                                        
                                      
                                           
                                            <div style="display:inline-block; margin-left: 20px;">
                                                
                                                    <u>{{license.father_name}} </u>
                                            </div>
                                          </td>
                                        </tr>
                                          <tr>
                                            <td colspan="6"  align="left"  >

                                            <div style="display:inline-block;">
                                                
                                                মাতার নামঃ  
                                        </div>
                                        <div style="display:inline-block; margin-left: 20px;">
                                                
                                            <u>{{license.mother_name}} </u>
                                     </div>

                                        </td> 
                    
                                    </tr>
                                    <tr>
                                        <td  colspan="1" align="left" valign="middle" >
                                            <div style="display:inline-block;">
                                              
                                                ঠিকানাঃ 
                                            </div>
                                          </td>
                                    </tr>
                                    <tr>
                  
                                          <td  colspan="5" align="left" valign="middle" >
                                            <div style="display:inline-block;">
                                            
                                              গ্রামঃ {{license.adress.village}}, ইউনিয়নঃ {{license.adress.union.name}}
                                            </div>
                                        </td>
                                      </tr>
                                      <tr>
                                       
                                        <td  colspan="5" align="left" valign="middle" >
                                            <div style="display:inline-block;">
                                            
                                              উপজেলাঃ {{license.adress.upazilla.name}}, জেলাঃ {{license.adress.district.name}}।
                                            </div>
                                        </td> 
                                    </tr>
                                    <tr>
                                        <td  colspan="6" align="left" valign="middle" >
                                            <div style="display:inline-block;">
                                              
                                                ব্যবসা প্রতিষ্ঠানের ঠিকানাঃ 
                                            </div>
                                          </td>
                                    </tr>  
                                          <tr>
                                            <td colspan="5" align="left" valign="middle">
                                            <div style="display:inline-block;">
                                            
                                            স্থানঃ  {{license.place_of_license}} ,  মহল্লা/গ্রামঃ {{license.adress_of_license.village.name}} <br>  
                                              
                                            </div>
                                        </td> 
                                    </tr>
                                    <tr>
                                      <td  colspan="5" align="left" valign="middle" >
                                         
                                          <div style="display:inline-block;">
                                        
                                                    ইউনিয়নঃ {{ union_details.name_short }}, উপজেলাঃ {{union_details.upazilla.name }}, জেলাঃ {{union_details.district.name}}। 
                                          </div>
                                      </td> 
                                  </tr>
                                    <tr>
                                        <td  colspan="6" align="left" valign="middle" >
                                            <div style="display:inline-block;">
                                              
                                                ব্যবসার ধরণঃ 
                                            </div>
                                            <div style="display:inline-block;margin-left: 20px;">
                                              {% if license.profession %}
                                                {{license.profession}} 
                                                {% else %}
                                                ---------
                                                {% endif %}
                                            </div>
                                        </td> 
                                    </tr>
                                    <tr>
                                        <td  colspan="6" align="left" valign="middle" >
                                            <!-- <div style="display:inline-block;">
                                              
                                                পরিশোধিত মূলধনের পরিমাণঃ
                                            </div> -->
                                            <!-- <div style="display:inline-block;margin-left: 20px;">
                                                
                                                {% if license.capital %}
                                                {{license.capital}}
                                                {% else %}
                                                ----------
                                                {% endif %}
                                                  
                                                
                                            </div> -->
                                        </td> 
                                    </tr>
                                    <tr>
                                        <td  colspan="6" align="left" valign="middle" >
                                            <div style="display:inline-block;">
                                              
                                                লাইসেন্সের মেয়াদঃ                                       
                                            </div>
                                            <div style="display:inline-block;margin-left: 20px;">
                                             ৩০ জুন, <div style="display:inline;" id="to_year">{% if license.duration_to %} {{license.duration_to|date:"Y"|eng_to_bengali_digits}} {% elif license.created_at|date:"n" < 6 %} {{ license.created_at|date:"Y"|eng_to_bengali_digits }} {% else %} {{ license.created_at|date:"Y"|add:'1'|eng_to_bengali_digits }} {% endif %} </div>
                                        </td> 
                                    </tr>
                                    <tr>
                                        <td  colspan="6" align="left"  cellpadding="2" valign="middle" >
                                            <div style="display:inline-block;">
                                              
                                               <b> ফি ও করের পরিমাণঃ </b>                                         
                                            </div>
                                           
                                        </td> 
                                    </tr>
                                    <tr>
                                        <td  colspan="6"  valign="middle" >
                                            <table class="table_bottom" width="100%"  align="center">
                                                <tr >
                                                    <td>ব্যবসা বৃত্তির উপর কর</td>
                                                    <td>ব্যবসা বৃত্তির লাইসেন্স ফি</td>
                                                    <td>ভ্যাট ও অন্যান্য</td>
                                                    <td>মোট</td>
                                                </tr>
                                                <tr id="payment">
                                                    <td>
                                                      {% if license.tax %}
                                                      {{license.tax|eng_to_bengali_digits}}
                                                      {% else %}
                                                      ------
                                                      {% endif %}
                                                     
                                                    </td>
                                                    <td>
                                                      {% if license.fee %}
                                                      {{license.fee|eng_to_bengali_digits}}
                                                      {% else %}
                                                      ------
                                                      {% endif %}
                                                      
                                                    </td>
                                                    <td>
                                                      {% if license.vat_n_others %}
                                                      {{license.vat_n_others|eng_to_bengali_digits}}
                                                      {% else %}
                                                      ------
                                                      {% endif %}
                                                      
                                                    </td>
                                                    <td>
                                                      {% if license.total_payment %}
                                                      {{license.total_payment|eng_to_bengali_digits}}
                                                      {% else %}
                                                      ------
                                                      {% endif %}
                                                     
                                                    </td>
                                                </tr>
                                                <tr>
                                                  <td colspan="3">কথায়ঃ 
                                                    {% if license.total_payment_in_word %}
                                                      {{license.total_payment_in_word}}
                                                      {% else %}
                                                      ------
                                                      {% endif %}
                                                   
                                                    <td>
                                                     
                                                </tr>
                                               
                                            </table>
                                        </td> 
                                    </tr>
                                    <tr>
                                        <td  colspan="6" align="left" valign="middle" >
                                            <div style="display:inline-block;text-align:justify">
                                              উপর্যুক্ত ফি ও কর প্রাপ্ত হয়ে {{ union_details.name_short }}-এর সীমানায় তাহার ব্যবসা/বৃত্তি/পেশা চালিয়ে যাবার জন্য এই লাইসেন্স প্রদান করা হলো।
                                                                                 
                                            </div>
                                           
                                        </td> 
                                    </tr>
                                    <tr>
                                        <td  colspan="6" width="690" align="left" valign="middle" class="sprytextfield1" style="font-weight:500;text-align:justify">     </td>

                                    </tr>
                                  
                                  
                                    <tr valign="top">
                                      <td  colspan="2" align="center"></div><div style="float:left;text-align:center"><img id='barcode' loading="lazy" src="https://api.qrserver.com/v1/create-qr-code/?data=License:{{license.license_type.name_en}}%0DTracking No: {{license.tracking_no}}%0DName:{{license.name}}&amp;size=200x200" width="120px" height="120px" alt="{{license.name}}" title="{{license.license_type.name_en}}:{{license.name}}" width="50" height="50" /></div></td>

                                        <td  colspan="2" align="right"><br></div></td>
                                        
                                         
                                       <td  colspan="2" align="right"><div style="float:right;text-align:center"></div><div style="float:right;text-align:center"><img height="50" src="{% if license.chairman.signature %}{{license.chairman.signature.url}}{% endif %}" alt="Chairman Signature"><br>{{license.chairman.name}}<br>{{license.chairman.post.name}}<br>{{union_details.name}}<br>{{union_details.upazilla.name}}, {{union_details.district.name}}</div></td>
                                          

                                       
                                   </tr>
                                    <tr>
                                        
                                        {% comment %} <td  colspan="4" align="center"><br><br> <img id='barcode' src="https://api.qrserver.com/v1/create-qr-code/?data=Tracking No: {{license.tracking_no}}&amp;size=200x200" width="120px" height="120px" alt="" title="{{student.class_roll}}:{{student.name}}" width="50" height="50" /></td> {% endcomment %}
           
                                       
                                   </tr>
                                  
                                      
                                      
                                     
                                </tbody></table>
                            </td>
                            
                          </tr>
                              
                          </tbody>
                        </table>
                          
                              

                        </div>
                       
                        
                       
                    
                
                </div>

                     
          {% endif %}         
         

    </div>


          

 
  
  </div>

<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
}
</script>

          
             
              <div class="graph-image graph-7">
    </div>
     



<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

    <script>
       

        window.onload = (event) => {

        var numbers = {
            0: '০',
            1: '১',
            2: '২',
            3: '৩',
            4: '৪',
            5: '৫',
            6: '৬',
            7: '৭',
            8: '৮',
            9: '৯'
        };
        var output = '';
        function replaceNumbers(input) {
            var output = [];
            for (var i = 0; i < input.length; ++i) {
              if (numbers.hasOwnProperty(input[i])) {
                output.push(numbers[input[i]]);
              } else {
                output.push(input[i]);
              }
            }
            return output.join('');
          }
          input =document.getElementById("memorial").textContent.toString();
          document.getElementById('memorial').textContent = replaceNumbers(input);
   
        input =document.getElementById("date").textContent.toString();
        document.getElementById('date').textContent = replaceNumbers(input);
        input =document.getElementById("from_year").textContent.toString();
        document.getElementById('from_year').textContent = replaceNumbers(input);
        input =document.getElementById("to_year").textContent.toString();
        document.getElementById('to_year').textContent = replaceNumbers(input);
        input =document.getElementById("para2").textContent.toString();
        document.getElementById('para2').textContent = replaceNumbers(input);
        input =document.getElementById("para3").textContent.toString();
        document.getElementById('para3').textContent = replaceNumbers(input);
        input =document.getElementById("para4").textContent.toString();
        document.getElementById('para4').textContent = replaceNumbers(input);
        input =document.getElementById("para5").textContent.toString();
        document.getElementById('para5').textContent = replaceNumbers(input);
        input =document.getElementById("date").textContent.toString();
        document.getElementById('date').textContent = replaceNumbers(input);
        
        }

        function goToPrint(){
            document.getElementById("submit-btn").style.display="none";
            document.getElementById("google_translate_element").style.display="none";

            
            window.print();
            document.getElementById("submit-btn").style.display="block";

        }
        $( document ).ready(function() {
          const d = new Date();
          var nric = 'Business Name:{{license.licensed_name}} ,Tracking No: {{license.tracking_no}}';
          var url = 'https://api.qrserver.com/v1/create-qr-code/?data=' + nric + '&amp;size=200x200';
          $('#barcode').attr('src', url);
        });
    </script>
    
    {% endblock  %}