{% extends 'basepage/ictparkbd_layout.html' %} 
{% block content %}
{% load static %}

<style>
   
    .person{
        width:120px;
    }
    .card-text{
        margin-top:30px;
        color:#035a4c;
        text-shadow: 2px 2px 2px rgb(65, 7, 7);
        font-size:25px;
        text-align:center;
        font-weight:bold;
    }
      .number_of_certificate{
        color:#035a4c;
        font-size:18px;
        font-weight:bold;
      }
      .circle1{
        position:absolute;
        height:100px;
        width:100px;
        border-radius:50%;
        left:50%;
        margin-left:-50px;
        top: -40px;
      }
      .chairman{
        display:none;
      }
      #chairman_heading{
        display:none;

      }
      #indication_heading{
        display:block;

      }
      .title{
        font-size:30px;
      }
      
      @media(max-width:767px){
       
        .base{
            height:100px;
            width:150px;
            background:#fff;
            position:relative;
            padding:20px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
          }
          .title{
            font-size:20px;
          }
          .chairman{
            display:block;
            margin:auto;
          }
          #chairman_heading{
            display:block;
    
          }
          #indication_heading{
            display:none;
    
          }
          .card-text{
            margin-top:35px;
            color:#035a4c;
            text-shadow: 1px 1px 1px rgb(65, 7, 7);
            font-size:18px;
            text-align:center;
        }
        .circle1 {
            position:absolute;
            height:80px;
            width:80px;
            border-radius:50%;
            left:57%;
          }
          .circle1 img{
            height:70px;
            width:70px;
           
          }
      }
     
</style>
                             
{% comment %}                

  <div class="slider">
                           <div id="carouselExampleCaptions" data-pause="false" data-ride="carousel" data-interval="5000" class="carousel vert slide">
                               <ol class="carousel-indicators">
                                   <li data-target="#carouselExampleCaptions" data-slide-to="0" class=""></li>
                                   <li data-target="#carouselExampleCaptions" data-slide-to="1" class=""></li>
                                   <li data-target="#carouselExampleCaptions" data-slide-to="2" class=""></li>
                                   <li data-target="#carouselExampleCaptions" data-slide-to="3" class="active"></li>
                               </ol>
                               <div class="carousel-inner">



                                  



                                   
                                  
                               </div>
                           </div>
                           <div class="banner-anime-button"><a href="#"><span><i class="fas fa-arrow-circle-down"></i></span></a></div>
                       </div> {% endcomment %}
                                           
                       
                    <div class="parent" >
                           
                            <div id="rightpan" class="col-lg-4 tab-pane ">
                                
                       
                               <div style=" position: relative" class="card border">
                                   
                                   <!------
                                   <span class="bubble1"> <img  src="/images/ictadvisor.jpg"class="rounded-circle img-fluid" style="width: 150px"></span> <span class="bubble2"> <img   data-aos="fade-right"
                                         src="/images/minister.jpg"
                                   alt="/images/avater.jpg" class="rounded-circle img-fluid"
                                                           style="width: 150px"></span> <span
                                         class="bubble3"><img src="/images/ict_logo.jpg" alt="/images/avater.jpg"
                                         class="rounded-circle img-fluid" ></span> <span class="bubble4"></span> <span
                                         class="bubble5"><img  
                                         src="/images/dminister.jpg"
                                        
                                         alt="/images/avater.jpg" class="rounded-circle img-fluid"
                                         style="width: 150px"></span>
                                         ----->
                                   <div class="card-body">
                                       
                                    <div data-aos="fade-up" data-aos-offset="100" data-aos-duration="1000" style="background-color: transparent" class="column block aos-init aos-animate">
                                           
                                    </div>
                                    <div data-aos="fade-up" data-aos-offset="100" data-aos-duration="1000" class="column block aos-init aos-animate">
                                    </div>
 
 
                                    <div data-aos="fade-up" data-aos-offset="100" data-aos-duration="1000" class="column block aos-init aos-animate">
                                           <p style="text-align:center;width:100%;background-color:#035a4c;color:white;text-shadow: 4px 4px 4px rgb(73, 25, 11);border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;"><strong><span style="font-size:14px">&nbsp;<span style="font-size:20px" >{{chairman.post.name}}</span></span> </strong></p>
                                           <h1 class="bk-org title">
                                                     </h1>
                                         
                                         <p style="text-align:center">
                                                        {%if chairman.image %}
<img alt="
                                            প্রধান প্রশিক্ষক " loading="lazy" src="{{chairman.image.url}}"  style="height:190px; width:150px"></p>
                                       
                                                        {% endif %}                                       
<p style="text-align:center" ><strong><span>&nbsp;<span style="font-size:20px">{{chairman.name}}</span></span> </strong></p>
                                       <p style="text-align:center"><strong><span >&nbsp;<span style="font-size:15px">{{chairman.phone}}</span></span> </strong></p>
                                       <p style="text-align:center"><strong><span >&nbsp;<span style="font-size:15px">{{chairman.email}}</span></span> </strong></p>

                                       <p>
                                               {% comment %} <a href="https://moedu.portal.gov.bd/site/page/5521b4ae-db5f-4410-b24e-3e34f460a926" class="btn" style="display:block;text-align:center;width:100%;" title="বিস্তারিত">বিস্তারিত</a> {% endcomment %}
                                             </p>
                                       </div>
                                       <div data-aos="fade-up" data-aos-offset="100" data-aos-duration="1000" class="column block aos-init aos-animate">
                                        <p style="text-align:center;width:100%;background-color:#035a4c;color:white;text-shadow: 4px 4px 4px rgb(73, 25, 11);border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;" ><strong><span style="font-size:14px">&nbsp;<span style="font-size:20px">{{secretary.post.name}}</span></span> </strong></p>
                                        <h1 class="bk-org title">
                                                  </h1>
                                      
                                      <p style="text-align:center"><img alt="প্রধান প্রশিক্ষক " loading="lazy" src="{{secretary.image.url}}" style="height:190px; width:150px"></p>
                                    
                                    <p style="text-align:center"><strong><span>&nbsp;<span style="font-size:20px">{{secretary.name}}</span></span> </strong></p>
                                    <p style="text-align:center"><strong><span >&nbsp;<span style="font-size:15px">{{secretary.phone}}</span></span> </strong></p>
                                    <p style="text-align:center"><strong><span >&nbsp;<span style="font-size:15px">{{secretary.email}}</span></span> </strong></p>

                                    <p>
                                            {% comment %} <a href="https://moedu.portal.gov.bd/site/page/5521b4ae-db5f-4410-b24e-3e34f460a926" class="btn" style="display:block;text-align:center;width:100%;" title="বিস্তারিত">বিস্তারিত</a> {% endcomment %}
                                          </p>
                                    </div>
                                           
 
 
                                       {% comment %} <ul>
                                        <li><a href="https://www.gmrwc.edu.bd/" class="btn btn-primary">সরকারি মুজিবুর রহমান মহিলা কলেজ</a></li>
                                        <li><a href="http://nbr.gov.bd/nbr-enlisted/eng"
                                                target="_blank" class="btn btn-primary">সরকারি আজিজুল হক কলেজ</a></li>
                                        <li><a href="https://tilokpurupegovhub.info"
                                                target="_blank" class="btn btn-primary">সরকারি শাহ-সুলতান কলেজ</a></li>
                                        <li><span ><a href="https://tilokpurupegovhub.info"
                                            target="_blank" class="btn btn-primary">আইসিটি বিষয়ক ট্রেনিং</a></span></li>
                                        <li><span><a href="https://tilokpurupegovhub.info"
                                            target="_blank" class="btn btn-primary">নেকটার এর প্রশিক্ষণসমুহ</a></span></li>
                                        <li><a href="https://tilokpurup.org.bd/public/files/publication/5e125f5ee61760449abd28a25178d046facfec994d97e.pdf"
                                                target="_blank" class="btn btn-primary">মাধ্যমিক ও উচ্চশিক্ষা অধিদপ্তর </a></li>
                                                <li><a href="/market-details/1" class="btn btn-primary">জাতীয় বিশ্ববিদ্যালয়
                                    </a></li>
                                            <li><a href="http://nbr.gov.bd/nbr-enlisted/eng"
                                                    target="_blank" class="btn btn-primary">তথ্য ও যোগাযোগ প্রযুক্তি অধিদপ্তর</a></li>
                                            <li><a href="https://tilokpurupegovhub.info"
                                                    target="_blank" class="btn btn-primary">মাধ্যমিক ও উচ্চশিক্ষা বিভাগ</a></li>
                                            
                                            <li><a href="https://tilokpurup.org.bd/public/files/publication/5e125f5ee61760449abd28a25178d046facfec994d97e.pdf"
                                                    target="_blank" class="btn btn-primary">বাংলাদেশ সরকারি কর্ম কমিশন</a></li>
                                                    <li><a href="/market-details/1" class="btn btn-primary">তথ্য ও যোগাযোগ প্রযুক্তি বিভাগ
                                                        </a></li>
                                                <li><a href="http://nbr.gov.bd/nbr-enlisted/eng"
                                                        target="_blank" class="btn btn-primary">বাংলাদেশ সরকারি কর্ম কমিশন</a></li>
                                                <li><a href="https://tilokpurupegovhub.info"
                                                        target="_blank"class="btn btn-primary">বেসরকারি শিক্ষক নিবন্ধন</a></li>
                                                
                                                <li><a href="https://tilokpurup.org.bd/public/files/publication/5e125f5ee61760449abd28a25178d046facfec994d97e.pdf"
                                                        target="_blank" class="btn btn-primary">প্রাথমিক শিক্ষা অধিদপ্তর</a></li>
                                                        <li><a href="/market-details/1" class="">
                                                            </a></li>
                                        
                                       </ul>  {% endcomment %}
                                         <div data-aos="fade-up" data-aos-offset="100" data-aos-duration="1000" class="column block aos-init aos-animate">
                                            <p style="text-align:center;width:100%;background-color:#035a4c;color:white;text-shadow: 4px 4px 4px rgb(73, 25, 11);border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;"><strong><span style="font-size:14px">&nbsp;<span style="font-size:20px" >মনোগ্রাম</span></span> </strong></p>

                                           <h1 class="bk-org title">
                                                     </h1>
                                         
                                         <p style="text-align:center"><img alt="
                                            প্রধান প্রশিক্ষক 	" loading="lazy" src="{{ union_details.monogram.url }}" style="height:150px; width:150px"></p>
                                       
                                      
                                       <p>
                                               <a href="https://moedu.portal.gov.bd/site/page/5521b4ae-db5f-4410-b24e-3e34f460a926" class="btn" style="display:block;text-align:center;width:100%;" title="বিস্তারিত"></a>
                                             </p>
                                       </div>
                                       <ul>
                                        <a href="https://tilakpurup.joypurhat.gov.bd/" class="btn btn-primary" style="width:100%;margin-bottm:50px;text-shadow: 4px 4px 4px rgb(73, 25, 11);">তিলকপুর ইউনিয়ন</a>
                                        <a href="https://akkelpur.joypurhat.gov.bd/"
                                                target="_blank" class="btn btn-primary" style="width:100%;margin-bottm:50px;text-shadow: 4px 4px 4px rgb(73, 25, 11);">আক্কেলপুর উপজেলা </a>
                                        <a href="https://www.joypurhat.gov.bd/"
                                                target="_blank" class="btn btn-primary" style="width:100%;text-shadow: 4px 4px 4px rgb(73, 25, 11);">জয়পুরহাট জেলা </a>
                                        </ul>
                                   </div>
                               </div>
                           </div> 
                   
                       </div>
                   
                       
                       <!---->
                    <div class="services" id="service_body">
                        
                       
                       <div class="container-wrapper">


                        
               
                           
                        <div class="box_container" style="width: 100%; margin: 0px;">
                            <div class="" style="margin: auto;width: 100%;">
                                
                                <div >
                                    <div id="qbox-container">
                                            <div id="steps-container">
                                                <div class="step d-block">
                        
                                                  <table width="900" border="0" align="center" valign="middle" cellspacing="0" cellpadding="0">
                        
                                                    <tbody>
                                                    <tr>
                                                      <td align="left">
                                                        <fieldset>
                                                        <table width="100%" border="1" cellspacing="0" cellpadding="10">
                                                          <thead><th class="title" colspan="5" style=" text-align:center; background-color: #035a4c; color: #fff;text-shadow: 4px 4px 4px rgb(73, 25, 11);border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;"> অনলাইন প্রত্যয়ন, সনদ, লাইসেন্স ও হোল্ডিংট্যাক্স প্রদানের জন্য আবেদন করুন </th></thead>
                                                          <tbody>
                                                          
                            
                                                        </tbody></table>
                                                      </fieldset>
                                                    </td>
                                                    
                                                  </tr>
                                                      
                                                  </tbody>
                                                </table>
                                                
                                                  
                        
                                                  
                        
                                                </div>
                                               
                                                
                                               
                                            
                                            
                                        </div>
                                              
                                    </div>
                                    
                                  </form>
                        
                                  
                        
                                </div>
                            </div>
                        </div>
                        
                       
                    <div class="services">
                        {% comment %} <span class="shape1"></span> <span class="shape2"></span> {% endcomment %}
                        <div class="container-wrapper">
                            <div class="service-tab">
                                <div class="content-header mb-5 ">
                                      
                                    <div class="filters filter-menu ">

                                        <ul id="myTab" role="tablist" class="nav nav-tabs justify-content-center ">
                                            <li class="nav-item rounded-50" ><a id="members-tab" data-toggle="tab" href="#members" role="tab" aria-controls="members" aria-selected="true" class="nav-link active" style="font-family:kalpurush;font-weight:bold;">সনদসমূহ</a></li>
                                            <li class="nav-item rounded-50"><a id="nonmembers-tab" data-toggle="tab" href="#nonmembers" role="tab" aria-controls="nonmembers" aria-selected="false" class="nav-link" style="font-family:kalpurush;font-weight:bold;">লাইসেন্সসমূহ</a></li>
                                            <li class="nav-item rounded-50"><a id="nonmembers2-tab" data-toggle="tab" href="#nonmembers2" role="tab" aria-controls="nonmembers2" aria-selected="false" class="nav-link" style="font-family:kalpurush;font-weight:bold;">হোল্ডিং টাক্স</a></li>
                                        </ul>
                                    </div>
                                </div>
                                                                    
                                <div id="myTabContent" class="service-item tab-content">
                                    
                                    <div id="members" role="tabpanel" aria-labelledby="members-tab" class="members tab-pane fade show active">
                                        <div  class="row" style="margin-top: 70px;">

                                            
                                            
                                            {% comment %} {% for certificate_first in certificate_types_first  %}
                                            
                                            
                                            
                                            <div data-aos="fade-up" data-aos-offset="100" data-aos-duration="1000" class="col-6 col-lg-4 aos-init aos-animate" style="margin-bottom:25px;">
                                                <a href="{% url 'apply_for_certificate' certificate_first.id %}" >

                                                <div class="card card-body shadow-sm mb-4" style="overflow:visible;">
                                                    <div class="circle1">                                                        
                                                        <img loading="lazy" src="{{certificate_first.image.url}}" alt="Citizenship" height="80">
                                                    </div>
                                                    <div >
                                
                                                        <div class="card-text">{{certificate_first.name}}</div>
                                                        
                                                     </div>
                                                    
                                                </div>
                                            </a>
                                            
                                            </div>

                                            {% endfor %} {% endcomment %}

                                        
                                        
                                        {% for certificate in certificate_types  %}
                                            
                                            
                                            
                                            <div data-aos="fade-up" data-aos-offset="100" data-aos-duration="1000" class="col-6 col-lg-4 aos-init aos-animate" style="margin-bottom:25px;" title="আবেদন করতে ক্লিক করেন">
                                                <a href="{% url 'apply_for_certificate' certificate.id %}" >

                                                <div class="card card-body shadow-sm mb-4" style="overflow:visible;">
                                                    <div class="circle1">                                                        
                                                        <img loading="lazy" src="{{certificate.image.url}}" alt="Citizenship" height="80">
                                                    </div>
                                                    <div >
                                
                                                        <div class="card-text">{{certificate.name}}</div>
                                                        
                                                     </div>
                                                    
                                                </div>
                                            </a>
                                            
                                            </div>

                                            {% endfor %}

                                            
                                             
                                        </div>
                                        
                                    </div>
                                    
                                    <div id="nonmembers2" role="tabpanel" aria-labelledby="nonmembers2-tab" class="nonmembers2 tab-pane fade show">
                                    <div class="row" style="margin-top: 70px;">
                                        <div data-aos="fade-up" data-aos-offset="100" data-aos-duration="1000" class="col-6 col-lg-4 aos-init aos-animate" style="margin-bottom:25px;">
                                                <a href="{% url 'holding_tax' %}" >

                                                <div class="card card-body shadow-sm mb-4" style="overflow:visible;">
                                                    <div class="circle1">                                                        <img loading="lazy" src="{% static 'images/certificate/holding_tax.png' %}" alt="Citizenship" height="80">
                                                    </div>
                                                    <div >
                                
                                                        <div class="card-text">হোল্ডিং ট্যাক্স</div>
                                                        
                                                     </div>
                                                    
                                                </div>
                                            </a>
                                            
                                            </div>
                                    </div>
                                    </div>

                                    <div id="nonmembers" role="tabpanel" aria-labelledby="nonmembers-tab" class="nonmembers tab-pane fade show">
                                        <div class="row" style="margin-top: 70px;">
                                                
                                            {% for license in license_types  %}
                                            
                                            
                                            
                                            <div data-aos="fade-up" data-aos-offset="100" data-aos-duration="1000" class="col-6 col-lg-4 aos-init aos-animate" style="margin-bottom:25px;">
                                                <a href="{% url 'apply_for_license' license.id %}" >

                                                <div class="card card-body shadow-sm mb-4" style="overflow:visible;">
                                                    <div class="circle1">                                                        <img loading="lazy" src="{{license.image.url}}" alt="Citizenship" height="80">
                                                    </div>
                                                    <div >
                                
                                                        <div class="card-text">{{license.name}}</div>
                                                        
                                                     </div>
                                                    
                                                </div>
                                            </a>
                                            
                                            </div>

                                            {% endfor %}
                                              
                                             

                                                
                                    
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="scroll-top active"><i class="fa fa-arrow-up"></i></a>
               
               
 
 
              
                </div>
            </div>
                       
            <div class="services">
                {% comment %} <span class="shape1"></span> <span class="shape2"></span> {% endcomment %}
                <div class="container-wrapper">
            <div data-v-2fe1039c="" id="counter" class="num-counter" >
                        <div data-v-2fe1039c="" class="container-wrapper" >
                            <div data-v-2fe1039c="" class="row justify-content-center">
                                <div data-v-2fe1039c="" data-aos="fade-up" data-aos-offset="100" data-aos-duration="500" class="col-4 col-sm-4 col-lg-2 aos-init aos-animate" style="text-align:center">
                                    <a data-v-2fe1039c="" href="/" class="text-black">
                                        <div data-v-2fe1039c="" class="box" >
                                            <img src="{% static 'images/cert-1.png' %}" loading="lazy" >
                                            
                                            <span data-v-2fe1039c="" data-to="2363" data-speed="1500" class="count count-num timer count-title count-number">{{certificate_count2}}</span>
                                            <h6 data-v-2fe1039c=""><b class="number_of_certificate">সনদের বর্তমান আবেদনের সংখ্যা</b></h6>
                                        </div>
                                    </a></div>
                                <div data-v-2fe1039c="" data-aos="fade-up" data-aos-offset="100" data-aos-duration="1000" class="col-4 col-sm-4 col-lg-2 aos-init aos-animate">
                                    <a data-v-2fe1039c="" href="/" class="text-black">
                                        <div data-v-2fe1039c="" class="box">
                                            <img src="{% static 'images/cert-2.png' %}" loading="lazy" >
                                            
                                            <span data-v-2fe1039c="" data-to="2363" data-speed="1500" class="count count-num timer count-title count-number">{{certificate_count1}}</span>
                                            <h6 data-v-2fe1039c=""><b class="number_of_certificate">অনুমোদিত সনদের সংখ্যা</b></h6>
                                        </div>
                                    </a></div>
                                <div data-v-2fe1039c="" data-aos="fade-up" data-aos-offset="100" data-aos-duration="1500" class="col-4 col-sm-4 col-lg-2 aos-init aos-animate"><a data-v-2fe1039c="" href="/" class="text-black">
                                        <div data-v-2fe1039c="" class="box" >
                                            <img  src="{% static 'images/cert-3.png' %}" loading="lazy" >

                                             <span data-v-2fe1039c="" data-to="719" data-speed="1500" class="count count-num timer count-title count-number">{{license_count2}}</span>
                                            <h6 data-v-2fe1039c=""><b class="number_of_certificate">লাইসেন্সের আবেদনের সংখ্যা</b></h6>
                                        </div>
                                    </a></div>
                                <div data-v-2fe1039c="" data-aos="fade-up" data-aos-offset="100" data-aos-duration="1500" class="col-4 col-sm-4 col-lg-2 aos-init aos-animate"><a data-v-2fe1039c="" href="/" class="text-black">
                                        <div data-v-2fe1039c="" class="box">
                                            <img src="{% static 'images/cert-4.png' %}" loading="lazy" >
                                            <span data-v-2fe1039c="" data-to="206" data-speed="1500" class="count count-num timer count-title count-number">{{license_count1}}</span>
                                            <h6 data-v-2fe1039c=""><b class="number_of_certificate">অনুমোদিত লাইসেন্সের সংখ্যা</b></h6>
                                        </div>
                                    </a></div>
                                <div data-v-2fe1039c="" data-aos="fade-up" data-aos-offset="100" data-aos-duration="1500" class="col-4 col-sm-4 col-lg-2 aos-init aos-animate"><a data-v-2fe1039c="" href="/" class="text-black">
                                        <div data-v-2fe1039c="" class="box">
                                            <img src="{% static 'images/cert-5.png' %}" loading="lazy"  >
                                            <span data-v-2fe1039c="" data-to="12" data-speed="1500" class="count count-num timer count-title count-number">{{count}}</span>
                                            <h6 data-v-2fe1039c=""><b class="number_of_certificate" >মোট অনুমোদিত সনদ ও লাইসেন্স সংখ্যা</b></h6>
                                        </div>
                                    </a>
                                </div>
                                
                                <div class="missionVission">
                                    <div class="container-wrapper">
                                        <div class="content-header text-center">
                                            <div class="row pt-5" id="chairman_heading" >
                                                <div class="col-lg-12 text-center"><a href="/" class="btn btn-lg btn-primary rounded-50" style="background-color:#035a4c;text-shadow:4px 4px 4px rgb(67, 7 ,7)">
                                                    <h2   >{{chairman.post.name}} ও সচিব</h2>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                        
                                </div>
                                        <div class="row py-4">
                                            <div class="chairman">
                                            <div data-aos="fade-left" data-aos-offset="100" data-aos-duration="1500" class="col-lg-6 aos-init aos-init aos-animate">
                                                    <div class="box-body " style="text-align:center" >
                                                        {%if chairman.image %}
                                                        <img loading="lazy" src="{{chairman.image.url}}"  class="person" >
                                                         {% endif %}
                                                        <h4>{{chairman.name}}</h4>
                                                        <h4>{{chairman.post.name}}</h4>

                                                        <h5>{{chairman.phone}}</h5>
                                                        <h5>{{chairman.email}}</h5>
                                                        <p>ইউনিয়নঃ তিলকপুর, উপজেলাঃ আক্কেলপুর, জেলাঃ জয়পুরহাট। </p>
            
                                                        
                                                </div>
                                            </div>
                                            <div data-aos="fade-right" data-aos-offset="100" data-aos-duration="1500" class="col-lg-6 aos-init aos-animate">
            
            
                                                    <div class="box-body" style="text-align:center">
                                                        <img loading="lazy" src="{{secretary.image.url}}"  class="person" >
                                                        <h4>{{secretary.name}}</h4>
                                                        <h4>{{secretary.post.name}}</h4>
                                                        <h5>{{secretary.phone}}</h5>
                                                        <h5>{{secretary.email}}</h5>
                                                        <p>ইউনিয়নঃ তিলকপুর, উপজেলাঃ আক্কেলপুর, জেলাঃ জয়পুরহাট। </p>
                                                    </div>
                                                </div>
                                            </div>
                                                
                                            
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="missionVission">
                                    <div class="container-wrapper">
                                        <div class="content-header text-center">
                                            <div class="row pt-5">
                                                <div class="col-lg-12 text-center"><a href="/" class="btn btn-lg btn-primary rounded-50" style="background-color:#035a4c;text-shadow:8px 8px 8px rgb(67, 7 ,7)">
                                                    <h2 >ভিশন ও মিশন</h2>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                        
                                </div>
                                        <div class="row py-4">
                                                <div data-aos="fade-right" data-aos-offset="100" data-aos-duration="1500" class="col-lg-6 aos-init aos-init aos-animate">
                                                    <div class="box border-right-green">

                                                    <div class="box-body " style="text-align:center" >
                                                        <h3 class="title">মিশন</h3>

                                                        <p>জনগনের দোরগোড়ায় ইউনিয়ন কতৃক প্রদত্তসেবা পৌছানো</p><p>সনদ জালিয়াতি রোধ ও সনদ যাচাই সহজীকরণ</p>
            
                                                        
                                                </div>
                                            </div>
                                            </div>
                                            <div data-aos="fade-left" data-aos-offset="100" data-aos-duration="1500" class="col-lg-6 aos-init aos-animate">
            
                                                <div class="box">

                                                    <div class="box-body " style="text-align:center">
                                                        <h3>ভিশন</h3>

                                                        <p>প্রতিটি নাগরিককে প্রযুক্তির মাধ্যমে তাদের সেবা প্রাপ্তি নিশ্চিত করে </p><p> প্রযুক্তির ব্যবহারে দক্ষতা বাড়িয়ে তোলা  </p>
                                                              </div>
                                                </div>
                                            </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                                        
                
    <!-------service design finishing line 2 Div below ---->
               </div>
            </div>
                       
                       
                       
                       
                       
                       
 
 
 
                   
                
                
             

       <div class="marketing">
        <div class="container-wrapper">
            <div class="content-header mb-5">
                <div class="row pt-5">
                    <div class="col-lg-12 text-center"><a href="/" class="btn btn-lg btn-primary rounded-50" style="background-color:#035a4c;text-shadow:8px 8px 8px rgb(67, 7 ,7)">
                <h2 >নির্দেশনাসমূহ</h2>
                    </a></div>
                </div>

            </div>
            <ul class="nav nav-tabs visible-phone" style="margin-left:7%">
                <li><a href="#local" data-toggle="tab" class="active">সনদ ও প্রত্যয়ন</a></li>
                <li><a href="#inter" data-toggle="tab">লাইসেন্সসমূহ </a></li>
                <li><a href="#policy" data-toggle="tab">অন্যান্য সেবা </a></li>
            </ul>
            <div class="row tab-content">
                <div id="local" data-aos="fade-right" data-aos-offset="100" data-aos-duration="1000" class="col-lg-4 tab-pane active aos-init aos-animate">
                    <div class="card border border-dark">
                        <div class="card-body" style="font-family:kalpurush;">
                            <h4>সনদ ও প্রত্যয়ন</h4><img alt="ICT Private Programme" data-src="https://tilokpurup.org.bd/public/images/international-market.svg" loading="lazy" src="{%static 'images/cert-6.png' %}" lazy="loading">
                            <ul>
                                <li><a class="">সঠিক ভাবে ফর্মপূরণ করুন
                                        </a></li>
                                <li><a href="" target="_blank">প্রয়োজনীয় কাগজপত্র সাথে রাখুন</a></li>
                                <li><a href="" target="_blank">জাতীয় পরিচয়পত্র বা জন্ম-নিবন্ধন সফট কপি আপলোড করুন</a></li>
                                <li><a>মেম্বারের সাক্ষরসহ অনুমোদনপত্র আপলোড করুন</a></li>
                                <li><a>সম্পূর্ণ প্রক্রিয়া শেষ করে নিবেদকের কপি সংগ্রহে রাখুন</a></li>
                                <li><a>নিবেদকের কপিতে উল্লেখিত ট্র্যাকিং নম্বরটি সংগ্রহে রাখুন </a></li>
                                <li><a>ফর্মপূরণের পর কর্তৃপক্ষ অনুমোদন করলে ট্র্যাকিং নম্বর দিয়ে নির্ধারিত ফর্মে সনদটি ডাউনলোড করা যাবে বা যাচাই করা যাবে</a></li>
                                
                            </ul> 
                            {% comment %} <a href="/market/LocalMarket" class="btn btn-outline-primary">আরও দেখুন</a> {% endcomment %}
                        </div>
                    </div>
                </div>
                <div id="inter" data-aos="fade-up" data-aos-offset="100" data-aos-duration="1500" class="col-lg-4 tab-pane aos-init aos-animate">
                    <div class="card border border-dark">
                        <div class="card-body" style="font-family:kalpurush;">
                            <h4>লাইসেন্সসমূহ</h4> <img alt="international_Marketimage" data-src="https://tilokpurup.org.bd/public/images/international-market.svg" loading="lazy" src="{% static 'images/license.jpeg' %}" lazy="loading">
                            <ul>
                                <li><a  class="">সঠিক ভাবে ফর্মপূরণ করুন
                                        </a></li>
                                <li><a  target="_blank">প্রয়োজনীয় কাগজপত্র সাথে রাখুন</a></li>
                                <li><a  target="_blank">জাতীয় পরিচয়পত্র বা জন্ম-নিবন্ধন সফট কপি আপলোড করুন</a></li>
                                <li><a>সম্পূর্ণ প্রক্রিয়া শেষ করে নিবেদকের কপি সংগ্রহে রাখুন</a></li>
                                <li><a>চেয়ারম্যান অফিসে যোগাযোগ করে ফি প্রদান করুন</a></li>
                                <li><a>নিবেদকের কপিতে উল্লেখিত ট্র্যাকিং নম্বরটি সংগ্রহে রাখুন </a></li>
                                <li><a>ফর্মপূরণের পর কর্তৃপক্ষ অনুমোদন করলে ট্র্যাকিং নম্বর দিয়ে নির্ধারিত ফর্মে লাইসেন্সটি ডাউনলোড করা যাবে বা যাচাই করা যাবে</a></li>
                                
                            </ul> 
                        </div>
                    </div>
                </div>
                <div id="policy" data-aos="fade-left" data-aos-offset="100" data-aos-duration="2000" class="col-lg-4 tab-pane aos-init aos-animate">
                    <div class="card border border-dark">
                        <div class="card-body" style="font-family:kalpurush;">
                            <h4>অন্যান্য</h4> <img alt="policyimage" loading="lazy" data-src="https://tilokpurup.org.bd/public/images/policy.svg" src="{%static 'images/cert-7.png' %}" lazy="loading">
                            <ul>
                                <li><a  class="">সঠিক ভাবে ফর্মপূরণ করুন
                                        </a></li>
                                <li><a  target="_blank">প্রয়োজনীয় কাগজপত্র সাথে রাখুনস</a></li>
                                <li><a  target="_blank">জাতীয় পরিচয়পত্র বা জন্ম-নিবন্ধন সফট কপি আপলোড করুন</a></li>
                                <li><a>সম্পূর্ণ প্রক্রিয়া শেষ করে নিবেদকের কপি সংগ্রহে রাখুন</a></li>
                                <li><a>চেয়ারম্যান অফিসে যোগাযোগ করে ফি প্রদান করুন</a></li>
                                <li><a>নিবেদকের কপিতে উল্লেখিত ট্র্যাকিং নম্বরটি সংগ্রহে রাখুন </a></li>
                                <li><a>ফর্মপূরণের পর কর্তৃপক্ষ অনুমোদন করলে ট্র্যাকিং নম্বর দিয়ে নির্ধারিত ফর্মে লাইসেন্সটি ডাউনলোড করা যাবে বা যাচাই করা যাবে</a></li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</div>

 {% comment %} <div class="gallery-tab">
     <div class="container-wrapper">
         <div class="title-container">
             <div>
                 <h3 class="title">Our Gallery</h3>
             </div> 
             <div class="filters filter-menu">
                 <span class="filter">All</span>
                  <span class="filter active">Photo Gallery</span> 
                  <span class="filter">Video Gallery</span>
             </div>
         </div>





     </div>
 </div> {% endcomment %}


        
   <div>
       <div class="toast-container toast-top-right"></div>
       <div class="toast-container toast-bottom-right"></div>
       <div class="toast-container toast-bottom-left"></div>
       <div class="toast-container toast-top-left"></div>
       <div class="toast-container toast-top-full-width"></div>
       <div class="toast-container toast-bottom-full-width"></div>
       <div class="toast-container toast-top-center"></div>
       <div class="toast-container toast-bottom-center"></div>
   </div>
 
   <script>
    // When the user scrolls down 50px from the top of the document, resize the header's font size
    window.onscroll = function() {
        scrollFunction()
    };

    function scrollFunction() {
        if (document.body.scrollTop > 30 || document.documentElement.scrollTop > 30) {
            document.getElementById("header").className = "header sticky";
            
        } else {
            document.getElementById("header").className = "header";
        }
    }
</script>

   {% endblock %}
 
 
 
 
 
