<div>
    <h2 style="text-align: center;">                            
        <button class="rounded-50 ml-2" id="certificate_title" style=" padding:10px;"><b>  {% if certificate.language == '2' %} {{certificate_type.name_en}} {% else %} {{certificate_type.name}} {% endif %}</b>
        </button>
    </h2>
</div>
<table width="97%" align="center" valign="middle" style="margin-top:60px;">
    {% if certificate.language == '2' %}
  <tr>
      <td>
        <div  align="left"><h4 style="text-align: left; margin-left:2%">
          Memorial No. &nbsp<div style="display:inline;">{{certificate.memorial_no}}</div></h4>
      </div>
      </td>
      <td>                            
        <div   align="right"><h4 style="text-align: right; margin-left:2%">
          Date: &nbsp<div id="date" style="display:inline;">{{certificate.transaction.tran_date|date:"d-m-Y"}}</div>&nbsp</h4>
        </div>
      </td>
    </tr>
  {% else %}
  
    <tr>
    <td>
      <div  align="left"><h4 style="text-align: left; margin-left:2%">
        স্মারক নং- <div style="display:inline;" id="memorial">{{certificate.memorial_no}}</div></h4>
    </div>
    </td>
    <td>                            
      <div   align="right"><h4 style="text-align: right; margin-left:2%">
        তারিখঃ &nbsp<div id="date" style="display:inline;">{{certificate.transaction.tran_date|date:"d-m-Y"}}</div>&nbsp</h4>
      </div>
    </td>
  </tr>
{% endif %}

</table>

