<td  colspan="1" align="right">
    <br><br><br><br>
    <div style="float:right;text-align:center">

    </div>
    <div style="float:right;text-align:center">
        {% if certificate_type.id == 2 %}

        <img height="50" src="{% if certificate.chairman.signature %}{{certificate.chairman.signature.url}}{% endif %}" alt="Chairman Signature">
        {% endif %}
        
        {% if certificate.language == '2' %}
        <br>({{certificate.chairman.name_en}})<br>
        {{certificate.chairman.post.name_en}}<br>
        4 No. Tilakpur Union Council<br>Akkelpur, Jaypurhat.
        {% else %} 
        <br>{{certificate.chairman.name}}<br>
        {{certificate.chairman.post.name}}<br>
        ৪ নং তিলকপুর ইউনিয়ন পরিষদ<br>আক্কেলপুর,জয়পুরহাট
        {% endif %}

    </div>
</td>
