{% load static %}
<style>
    .heading{
        color:#fff;
        text-shadow: 8px 8px 8px rgb(65, 7, 7);
        font-size: 40px;

    }
    .sub-heading{
        color:#fff;
        text-shadow: 2px 2px 2px rgb(65, 7, 7);
        font-size:15px;

    }
    #main-heading{
        width:100px;
        margin-top:-70px;
    }
    
    .header.sticky #main-heading{
        margin-top: -20px;
    }
    @media(max-width:767px){
        
        .heading{
            color:#035a4c;
            text-shadow: 1px 1px 1px rgb(65, 7, 7);
            font-size: 27px;
            margin-left:-20px;
            padding:0px;
            text-align:left;
        } 
        .sub-heading{
            color:#035a4c;
            font-size:15px;
    
        }
        #main-heading{
            width:100px;
            margin-top:-10px;
            margin-left:-130px;
        }
        .header.sticky #main-heading{
            margin-top: -10px;
        } 
    }
</style>
<header data-v-6f04a53f="" class="header" id="header" >
    <div class="search-box">
        <div class="box">
            <form id="searchform2"><input list="browsers" type="search" placeholder="What are you looking for?"> <span class="mdi mdi-magnify"></span>
                <!---->
            </form> <button type="button" class="close text-light search-box-close"><i class="mdi mdi-close"></i></button>
        </div>
    </div>
    <div class="container-wrapper">
        <div class="top-header">
            <ul class="nav align-items-center justify-content-end" style="position: relative;">
                {% if user.is_authenticated %}
                <li class="nav-item"><a href="" class="nav-link"> Dashboard </a></li>
                {% else %}
                <li class="nav-item"><a href="" class="nav-link"> Member Login </a></li>
                {% endif %}
                <li class="nav-item"><a href="" class="nav-link">Register</a></li>
                <li class="nav-item"><a href="" class="nav-link">
                        Blog
                    </a></li>
                <li class="nav-item"><a href="/digitalshop" class="nav-link"><b>Documents</b></a>
                </li>
            </ul>
        </div>
  <div class="main-header" style="height:100px;">
                  
        <span class="shape2New"> </span><span class="shape3New"> </span><span class="shape1New"> </span>
    <nav class="navbar navbar-expand-lg p-lg-0" >
        <a  href="/" class="navbar-brand logo" aria-current="page"  > 
            <span><img src="{% static 'images/tilokpur_logo.png'%}"></span>

        </a>
        <a id="main-heading" href="/" class="navbar-brand logo active router-link-active" aria-current="page" > 
           
                                          
                  <span class="heading">৪ নং তিলকপুর ইউনিয়ন পরিষদ</span><br>
                  <span id="sub-heading" class="sub-heading"  >উপজেলাঃ আক্কেলপুর, জেলাঃ জয়পুরহাট</span>

               
             
        </a>
        
        <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler mMenu collapsed"><span class="fas fa-bars"></span></button>
        <div id="navbarSupportedContent" class="navbar-collapse collapse" style="">
            
            <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler mMenu collapsed" style="margin-top:20px;"><span class="fa fa-close"></span></button>
            <ul class="navbar-nav ml-auto" style="float:right; margin-left:20%;">
                <li class="nav-item"><a href="/" class="{% if request.resolver_match.url_name in 'home' %}nav-link nav-link dropdown-toggle parent-active{%else%}nav-link dropdown-toggle {%endif%}" aria-current="page">হোম</a></li>
                <li class="nav-item dropdown"><a href="{% url 'select_certificate' %}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="{% if request.resolver_match.url_name == 'select_certificate' %}nav-link nav-link dropdown-toggle parent-active{%else%}nav-link dropdown-toggle {%endif%}">আবেদন করুন</a>
                    <div aria-labelledby="navbarDropdown" class="dropDown dropdown-menu megamenu megamenu-lg">
                        <div class="row m-0">
                            <div class="col-lg-4 pr-0">
                                <h4 class="menu-head"><a href="{% url 'select_certificate' %}" class="">আবেদন করুন</a></h4>
                                          <ul>
                                             
                                            </ul>
                            </div>
                            <div class="col-lg-4 pr-0">
                                <h4 class="menu-head"><a href="/secretariat" class="">Our Team</a></h4>
                                        <ul>
                                            <li class="subMenu"><span class="fas fa-user">
                                            </span><a href="https://israbentech.com/frontend/about/excutive-council" class="nav-link" onclick="myFunctionNavbar(this.id)">Excutive Council</a></li>
                                                <li class="fas fa-eye"><a href="https://israbentech.com/frontend/about/previous-excutive-council" class="nav-link">Previous Excutive Council</a></li>
                                                        <li class="subMenu"><span class="fab fa-think-peaks"> </span><a href="https://israbentech.com/frontend/about/members" class="nav-link">Members</a></li>
                                            </ul>
                            </div>
                          
                        </div>
                    </div>
                </li>
                <li class="nav-item"><a href="{% url 'download_certificate_form' %}" class="{% if request.resolver_match.url_name in 'download_certificate_form' %}nav-link nav-link dropdown-toggle parent-active{%else%}nav-link dropdown-toggle {%endif%}" aria-current="page">সনদ ডাউনলোড করুন</a></li>

                {% comment %} <li class="nav-item nav-item dropdown"><a href="{% url 'download_certificate_form' %}"  aria-haspopup="true" aria-expanded="false" class="{% if request.resolver_match.url_name in 'membership' %}nav-link nav-link dropdown-toggle parent-active{%else%}nav-link dropdown-toggle {%endif%}">সনদ ডাউনলোড করুন</a>
                    <div aria-labelledby="navbarDropdown" class="dropdown-menu">
                        <ul>
                              
                        </ul>
                    </div>
                </li> {% endcomment %}
                <li class="nav-item nav-item dropdown"><a href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="{% if request.resolver_match.url_name in 'media' %}nav-link nav-link dropdown-toggle parent-active{%else%}nav-link dropdown-toggle {%endif%}">সনদ যাচাই করুন
                        </a>
                    <div aria-labelledby="navbarDropdown" class="dropdown-menu">
                        <ul>
                            <li class="subMenu"><span class="fas fa-arrow-right"><a href="" class="nav-link">News</a></span>
                            </li>
                           
                        </ul>
                    </div>
                </li>
                
                <li class="nav-item dropdown"><a href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">যোগাযোগ</a>
                    <div aria-labelledby="navbarDropdown" class="dropDown dropdown-menu megamenu megamenu-lg">
                        <div class="row m-0">
                            <div class="col-lg-4 pr-0">
                                <h4 class="menu-head"><a href="/ea/local/awards" class="">Educational Organization</a></h4>
                                     
                                <ul>
                                    <li class="subMenu"><a href="https://moedu.gov.bd/" target="_blank" class="">
                                        Ministry of Education
                                    </a></li>
                                    <li class="subMenu"><a href="https://www.shed.gov.bd/" target="_blank" class="">
                                            Secondary &amp; Higher Secondery Division 
                                        </a></li>
                                    <li class="subMenu"><a href="https://dshe.gov.bd/" target="_blank" class="">
                                            Secondary &amp; Higher Secondery Department
                                        </a></li>
                                    <li class="subMenu"><a href="https://www.bcsgea.org.bd/" target="_blank" class="">
                                            BCE(General Education) Association
                                        </a></li>
                                    <li class="subMenu"><a href="http://www.nctb.gov.bd/" target="_blank" class="">
                                            NCTB
                                        </a></li>
                                    <li class="subMenu"><a href="https://imli.portal.gov.bd/" target="_blank" class="">
                                            international mother language institute
                                        </a></li>
                                </ul>
                            </div>
                            <div class="col-lg-4 pr-0">
                                <h4 class="menu-head"><a href="/ea/local/events" class="">For Members</a></h4>
                                <ul>
                                    <li class="subMenu"><a href="http://103.248.15.123/EMIS" target="_blank" class="">
                                            EMIS Link
                                        </a></li>
                                    <li class="subMenu"><a href="http://103.113.200.27:8080/tmis/f?p=111:LOGIN_DESKTOP:11377104420057:::::" target="_blank" class="">
                                            TMIS Links
                                        </a></li>
                                    <li class="subMenu"><a href="/event-details/cebit-thailand-1" target="_blank" class="">
                                            Transfer Application
                                        </a></li>
                                    <li class="subMenu"><a href="http://www.educationboard.gov.bd/" target="_blank" class="">
                                            Education Boards
                                        </a></li>
                                    <li class="subMenu"><a href="https://www.nu.ac.bd/" target="_blank" class="">
                                            National University
                                        </a></li>
                                </ul>
                            </div>
                            <div class="col-lg-4 pr-0">
                                <h4 class="menu-head"><span>
                                        Others Link
                                    </span></h4>
                                <ul>
                                    <li class="subMenu"><a href="https://ictd.gov.bd/" target="_blank">ICT Divistion</a></li>
                                    <li class="subMenu"><a href="/content/basis-students-forum-1" class="">Education Scholarship</a></li>
                                    <li class="subMenu"><a href="https://www.startupbangladesh.vc/" class="">ICT Start-Up</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                
                {% comment %} <li class="nav-item"><a href="" class="nav-link" target="__blank" ><img width="30px" height="30px" src="{% static 'images/blog.jpg'%}" alt="blog_icon"><span class="fas fa-arrow-right">Blog</span></a></li> {% endcomment %}
            </ul>
           

            <div class="mobile-search-box">
                <div class="box">
                    <form id="searchform">
                        <div class="input-group mb-2"><input list="browsers" type="search" placeholder="What are you looking for?" class="form-control shadow-sm">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><span class="mdi mdi-magnify"></span></div>
                            </div>
                        </div>
                        <!---->
                    </form> <button type="button" class="close text-light search-box-close"><i class="mdi mdi-close"></i></button>
                </div>
            </div>

            {% comment %} <ul class="social-menu navbar-nav">
                <li class="nav-item"><a href="javascript:void(0)" class="nav-link top-search search-box-open text-danger"> <i class="fa fa-search" aria-hidden="true"></i></a></li>
                <li class="nav-item"><a target="_blank" href="https://www.facebook.com/profile.php?id=100084759775076" class="nav-link">
                        <p><i class="bi bi-facebook"></i></p>
                    </a></li>
                <li class="nav-item"><a target="_blank" href="https://twitter.com/I_am_sumon" class="nav-link">
                        <p><i class="bi bi-twitter"></i></p>
                    </a></li>
                <li class="nav-item"><a target="_blank" href="https://www.youtube.com" class="nav-link">
                        <p><i class="bi bi-youtube"></i></p>
                    </a></li>
                <li class="nav-item"><a target="_blank" href="https://www.instagram.com/tarique_sumon/" class="nav-link">
                        <p><i class="bi bi-linkedin"></i></p>
                    </a></li>
            </ul> {% endcomment %}
           
        </div>

    </nav>
  </div>
  </div>
  </header>  

  